<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IDiagnosticService" />
        <binding name="NetTcpBinding_IKnowledgeBaseService" />
        <binding name="NetTcpBinding_IMatchingService" />
        <binding name="NetTcpBinding_IWorkflowService">
          <security>
            <transport sslProtocols="Tls, Tls11, Tls12" />
          </security>
        </binding>
        <binding name="NetTcpBinding_ILegacyDataAccessService" />
        <binding name="NetTcpBinding_IConfigurationService">
          <security>
            <transport sslProtocols="Tls, Tls11, Tls12" />
          </security>
        </binding>
        <binding name="NetTcpBinding_ICoreService" />
        <binding name="NetTcpBinding_IDataService" />
        <binding name="NetTcpBinding_IDenormService" />
        <binding name="NetTcpBinding_IDiagnosticService1" />
        <binding name="NetTcpBinding_IIntegrationService" />
        <binding name="NetTcpBinding_IMessageService" />
        <binding name="NetTcpBinding_ISecurityService" />
        <binding name="NetTcpBinding_IDataModelService" />
        <binding name="NetTcpBinding_IEntityExportService" />
      </netTcpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IAuthenticationService">
          <security mode="None" />
        </binding>
        <binding name="WSHttpBinding_IDiagnosticService">
          <security>
            <message clientCredentialType="UserName" negotiateServiceCredential="false"
              establishSecurityContext="false" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IKnowledgeBaseService">
          <security>
            <message clientCredentialType="UserName" negotiateServiceCredential="false"
              establishSecurityContext="false" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IMatchingService">
          <security>
            <message clientCredentialType="UserName" negotiateServiceCredential="false"
              establishSecurityContext="false" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IWorkflowService">
          <security>
            <message clientCredentialType="UserName" negotiateServiceCredential="false"
              establishSecurityContext="false" />
          </security>
        </binding>
        <binding name="WSHttpBinding_ILegacyDataAccessService">
          <security>
            <message clientCredentialType="UserName" negotiateServiceCredential="false"
              establishSecurityContext="false" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IConfigurationService">
          <security>
            <message clientCredentialType="UserName" negotiateServiceCredential="false"
              establishSecurityContext="false" />
          </security>
        </binding>
        <binding name="WSHttpBinding_ICoreService">
          <security>
            <message clientCredentialType="UserName" negotiateServiceCredential="false"
              establishSecurityContext="false" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IDataService">
          <security>
            <message clientCredentialType="UserName" negotiateServiceCredential="false"
              establishSecurityContext="false" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IDenormService">
          <security>
            <message clientCredentialType="UserName" negotiateServiceCredential="false"
              establishSecurityContext="false" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IDiagnosticService1">
          <security>
            <message clientCredentialType="UserName" negotiateServiceCredential="false"
              establishSecurityContext="false" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IIntegrationService">
          <security>
            <message clientCredentialType="UserName" negotiateServiceCredential="false"
              establishSecurityContext="false" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IMessageService">
          <security>
            <message clientCredentialType="UserName" negotiateServiceCredential="false"
              establishSecurityContext="false" />
          </security>
        </binding>
        <binding name="WSHttpBinding_ISecurityService">
          <security>
            <message clientCredentialType="UserName" negotiateServiceCredential="false"
              establishSecurityContext="false" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IWorkflowDesignerService">
          <security mode="None" />
        </binding>
        <binding name="WSHttpBinding_IDataModelService">
          <security>
            <message clientCredentialType="UserName" negotiateServiceCredential="false"
              establishSecurityContext="false" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IEntityExportService">
          <security>
            <message clientCredentialType="UserName" negotiateServiceCredential="false"
              establishSecurityContext="false" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/MainLine_WCFServices/AuthenticationService.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IAuthenticationService"
        contract="AuthenticationServiceClient.IAuthenticationService"
        name="WSHttpBinding_IAuthenticationService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost/MainLine_WCFServices/MatchingService.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IMatchingService"
        contract="MatchingServiceClient.IMatchingService" name="WSHttpBinding_IMatchingService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://tista.riversand.com/MainLine_WCFServices/MatchingService.svc"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IMatchingService"
        contract="MatchingServiceClient.IMatchingService" name="NetTcpBinding_IMatchingService">
        <identity>
          <servicePrincipalName value="host/localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost/MainLine_WCFServices/LegacyDataAccessService.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ILegacyDataAccessService"
        contract="LegacyDataAccessServiceClient.ILegacyDataAccessService"
        name="WSHttpBinding_ILegacyDataAccessService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://om.riversand.com/MainLine_WCFServices/LegacyDataAccessService.svc"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ILegacyDataAccessService"
        contract="LegacyDataAccessServiceClient.ILegacyDataAccessService"
        name="NetTcpBinding_ILegacyDataAccessService">
        <identity>
          <servicePrincipalName value="host/localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost/MainLine_WCFServices/DiagnosticService.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IDiagnosticService"
        contract="DiagnosticServiceClient.IDiagnosticService" name="WSHttpBinding_IDiagnosticService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://rsusr902v2ft.riversand.com/MainLine_WCFServices/DiagnosticService.svc"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IDiagnosticService"
        contract="DiagnosticServiceClient.IDiagnosticService" name="NetTcpBinding_IDiagnosticService">
        <identity>
          <servicePrincipalName value="host/localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost/Development_WCFServices/CoreService.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICoreService"
        contract="CoreServiceClient.ICoreService" name="WSHttpBinding_ICoreService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://tista.riversand.com/Development_WCFServices/CoreService.svc"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ICoreService"
        contract="CoreServiceClient.ICoreService" name="NetTcpBinding_ICoreService">
        <identity>
          <servicePrincipalName value="host/localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost/Development_WCFServices/DataService.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IDataService"
        contract="DataServiceClient.IDataService" name="WSHttpBinding_IDataService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://tista.riversand.com/Development_WCFServices/DataService.svc"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IDataService"
        contract="DataServiceClient.IDataService" name="NetTcpBinding_IDataService">
        <identity>
          <servicePrincipalName value="host/localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost/Development_WCFServices/DataService.svc/Protobuf"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IDataService"
        contract="DataServiceClient.IDataService" name="WSHttpBinding_IDataService1">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://tista.riversand.com/Development_WCFServices/DataService.svc/Protobuf"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IDataService"
        contract="DataServiceClient.IDataService" name="NetTcpBinding_IDataService1">
        <identity>
          <servicePrincipalName value="host/localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost/Development_WCFServices/DiagnosticService.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IDiagnosticService1"
        contract="DiagnosticServiceClient.IDiagnosticService" name="WSHttpBinding_IDiagnosticService1">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://tista.riversand.com/Development_WCFServices/DiagnosticService.svc"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IDiagnosticService1"
        contract="DiagnosticServiceClient.IDiagnosticService" name="NetTcpBinding_IDiagnosticService1">
        <identity>
          <servicePrincipalName value="host/localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost/Development_WCFServices/KnowledgeBaseService.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IKnowledgeBaseService"
        contract="KnowledgeBaseServiceClient.IKnowledgeBaseService"
        name="WSHttpBinding_IKnowledgeBaseService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://tista.riversand.com/Development_WCFServices/KnowledgeBaseService.svc"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IKnowledgeBaseService"
        contract="KnowledgeBaseServiceClient.IKnowledgeBaseService"
        name="NetTcpBinding_IKnowledgeBaseService">
        <identity>
          <servicePrincipalName value="host/localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost/Development_WCFServices/MessageService.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IMessageService"
        contract="MessageServiceClient.IMessageService" name="WSHttpBinding_IMessageService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://tista.riversand.com/Development_WCFServices/MessageService.svc"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IMessageService"
        contract="MessageServiceClient.IMessageService" name="NetTcpBinding_IMessageService">
        <identity>
          <servicePrincipalName value="host/localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost/Development_WCFServices/SecurityService.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ISecurityService"
        contract="SecurityServiceClient.ISecurityService" name="WSHttpBinding_ISecurityService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://tista.riversand.com/Development_WCFServices/SecurityService.svc"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ISecurityService"
        contract="SecurityServiceClient.ISecurityService" name="NetTcpBinding_ISecurityService">
        <identity>
          <servicePrincipalName value="host/localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost/Development_WCFServices/WorkflowDesignerService.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IWorkflowDesignerService"
        contract="WorkflowDesignerServiceClient.IWorkflowDesignerService"
        name="WSHttpBinding_IWorkflowDesignerService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost/Development_WCFServices/DenormService.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IDenormService"
        contract="DenormServiceClient.IDenormService" name="WSHttpBinding_IDenormService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://rst-devphani.riversand.com/Development_WCFServices/DenormService.svc"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IDenormService"
        contract="DenormServiceClient.IDenormService" name="NetTcpBinding_IDenormService">
        <identity>
          <servicePrincipalName value="host/localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost/Development_WCFServices/DataModelService.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IDataModelService"
        contract="DataModelServiceClient.IDataModelService" name="WSHttpBinding_IDataModelService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://rst-devphani.riversand.com/Development_WCFServices/DataModelService.svc"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IDataModelService"
        contract="DataModelServiceClient.IDataModelService" name="NetTcpBinding_IDataModelService">
        <identity>
          <servicePrincipalName value="host/localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost/Development_WCFServices/EntityExportService.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IEntityExportService"
        contract="EntityExportServiceClient.IEntityExportService" name="WSHttpBinding_IEntityExportService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://rst-engjaybp.riversand.com/Development_WCFServices/EntityExportService.svc"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IEntityExportService"
        contract="EntityExportServiceClient.IEntityExportService" name="NetTcpBinding_IEntityExportService">
        <identity>
          <servicePrincipalName value="host/localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost/Development_WCFServices/IntegrationService.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IIntegrationService"
        contract="IntegrationServiceClient.IIntegrationService" name="WSHttpBinding_IIntegrationService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://rst-engjaybp.riversand.com/Development_WCFServices/IntegrationService.svc"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IIntegrationService"
        contract="IntegrationServiceClient.IIntegrationService" name="NetTcpBinding_IIntegrationService">
        <identity>
          <servicePrincipalName value="host/localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost/MainLine_WCFServices/WorkflowService.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IWorkflowService"
        contract="WorkflowServiceClient.IWorkflowService" name="WSHttpBinding_IWorkflowService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://rst-engdhrumak.riversand.com/Development_WCFServices/WorkflowService.svc"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IWorkflowService"
        contract="WorkflowServiceClient.IWorkflowService" name="NetTcpBinding_IWorkflowService">
        <identity>
          <servicePrincipalName value="host/localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost/Development_WCFServices/ConfigurationService.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IConfigurationService"
        contract="ConfigurationServiceClient.IConfigurationService"
        name="WSHttpBinding_IConfigurationService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://rst-engdhrumak.riversand.com/Development_WCFServices/ConfigurationService.svc"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IConfigurationService"
        contract="ConfigurationServiceClient.IConfigurationService"
        name="NetTcpBinding_IConfigurationService">
        <identity>
          <servicePrincipalName value="host/localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>
