<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="dataCacheClients" type="Microsoft.ApplicationServer.Caching.DataCacheClientsSection,Microsoft.ApplicationServer.Caching.Core, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" allowLocation="true" allowDefinition="Everywhere"/>
  </configSections>

  <appSettings file="LocalAppSettings.config">
  </appSettings>

  <dataCacheClients>
    <dataCacheClient name="FrameworkCache" requestTimeout="15000" channelOpenTimeout="3000" maxConnectionsToServer="20" isCompressionEnabled="true">
      <localCache isEnabled="false" sync="TimeoutBased" ttlValue="300" objectCount="10000" />
      <clientNotification pollInterval="300" maxQueueLength="10000" />
      <hosts>
        <host name="127.0.0.1" cachePort="22233" />
      </hosts>
      <securityProperties mode="None" protectionLevel="None" />
      <!--<securityProperties mode="Transport" protectionLevel="EncryptAndSign  " />-->
      <transportProperties connectionBufferSize="131072" maxBufferPoolSize="268435456" maxBufferSize="268435456" maxOutputDelay="2" channelInitializationTimeout="60000" receiveTimeout="600000" />
    </dataCacheClient>
    <dataCacheClient name="DistributedCacheWithNotification" requestTimeout="15000" channelOpenTimeout="3000" maxConnectionsToServer="20" isCompressionEnabled="true">
      <localCache isEnabled="false" sync="TimeoutBased" ttlValue="300" objectCount="10000" />
      <clientNotification pollInterval="1" maxQueueLength="10000" />
      <hosts>
        <host name="127.0.0.1" cachePort="22233" />
      </hosts>
      <securityProperties mode="None" protectionLevel="None" />
      <!--<securityProperties mode="Transport" protectionLevel="EncryptAndSign  " />-->
      <transportProperties connectionBufferSize="131072" maxBufferPoolSize="268435456" maxBufferSize="268435456" maxOutputDelay="2" channelInitializationTimeout="60000" receiveTimeout="600000" />
    </dataCacheClient>
  </dataCacheClients>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup>
</configuration>
