<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="ConnectionString" value="User ID=sa;Data Source=SABINESQL12; Password=xriversandx.03; Initial Catalog=RS_MDMCenter; Application Name=Riversand Bulk Workflow Load;Connection Lifetime=5400;Min Pool Size=10;MultipleActiveResultSets=false; Type System Version=SQL Server 2008;"/>
     <!-- Workflow Database Connection String -->
    <add key="MSWorkflowConnectionString" value="User ID=sa;Data Source=SABINESQL12; Password=xriversandx.03; Initial Catalog=MDMCenter_Drillinginfo; Application Name=Riversand Workflow;Connection Lifetime=5400;Min Pool Size=10;MultipleActiveResultSets=false; Type System Version=SQL Server 2008;"/>

    <add key="CacheMode" value="Internal"/>
      <!-- Default internal cache type. Possible Values are: Framework4, AspNet -->
      <add key="InternalCacheType" value="Framework4"/>
	  <!-- Default distributed cache type. Possible Values are: 'AppFabric' and 'None' -->
	  <add key="DistributedCacheType" value="None" />
	  <!-- Default distributed cache name. Possible Values are: default, named cache..-->
	  <add key="DistributedCacheName" value="default" />
	  <!-- Default type for Distributed cache with notification. Possible Values are: 'AppFabricWithNotificationEnabled' and 'None' -->
	  <add key="NotificationCacheType" value="None" />
	  <!-- Default name for Distributed cache with notification. Possible Values are: named cache..-->
	  <add key="NotificationCacheName" value="DistributedCacheWithNotification" />
    <add key="DataCommandTimeout" value="100"/>
    <add key="WorkflowName" value="Content Workflow"/>
    <add key="InitiateWFSleepTimeIntervalInMillSeconds" value="500"/>
    <add key="ResumeWFSleepTimeIntervalInMillSeconds" value="5000"/>
    <add key="StageWiseResumeTimeIntervalInMillSeconds" value="60000"/>
    <add key="PerformActivityMove" value="True"/>
    
    
    <!-- Start of sql parameter configs  -->
    <add key="DataModelManager_SqlParameters" value="Config\SqlParameters\DataModelManager.Parameters.config"/>
    <add key="KnowledgeManager_SqlParameters" value="Config\SqlParameters\KnowledgeManager.Parameters.config"/>
    <add key="EntityManager_SqlParameters" value="Config\SqlParameters\EntityManager.Parameters.config"/>
    <add key="MessageManager_SqlParameters" value="Config\SqlParameters\MessageManager.Parameters.config"/>
    <add key="BusinessRuleManager_SqlParameters" value="Config\SqlParameters\BusinessRuleManager.Parameters.config"/>
    <add key="AttributeManager_SqlParameters" value="Config\SqlParameters\AttributeManager.Parameters.config"/>
    <add key="AdminManager_SqlParameters" value="Config\SqlParameters\AdminManager.Parameters.config"/>
    <add key="WorkflowDesigner_SqlParameters" value="Config\SqlParameters\WorkflowDesigner.Parameters.config"/>
    <add key="WorkflowPersistence_SqlParameters" value="Config\SqlParameters\WorkflowPersistence.Parameters.config"/>
    <add key="RelationshipManager_SqlParameters" value="Config\SqlParameters\RelationshipManager.Parameters.config"/>
    <add key="OrganizationManager_SqlParameters" value="Config\SqlParameters\OrganizationManager.Parameters.config"/>
    <add key="ApplicationServiceManager_SqlParameters" value="Config\SqlParameters\ApplicationServiceManager.Parameters.config"/>
    <add key="SyndicationManager_SqlParameters" value="Config\SqlParameters\SyndicationManager.Parameters.config"/>
    <add key="TrackingManager_SqlParameters" value="Config\SqlParameters\TrackingManager.Parameters.config"/>
    <!-- End of sql parameter configs  -->

    <add key="CacheMode" value="Internal"/>
    <!-- The timeout period in seconds for all data commands -->
    <add key="DataCommandTimeout" value="500"/>
    <!-- The timeout period in minutes for user session  -->
    <add key="UserSessionTimeOut" value="80"/>
    <!-- Exception Manager Configuration -->
    <add key="ExceptionManager_SettingsFile" value="Config\ExceptionManager.Config"/>

    <add key="AuthenticationMode" value="Windows"/>
    <add key="CurrentBindingType" value="NetTcpBinding"/>
    
  </appSettings>

  <system.serviceModel>
    <bindings>
      <netTcpBinding>

				<binding name="NetTcpBinding_IConfigurationService" closeTimeout="00:12:00" openTimeout="00:12:00" receiveTimeout="00:12:00" sendTimeout="00:12:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" listenBacklog="200" maxBufferPoolSize="524288" maxConnections="200" maxReceivedMessageSize="2147483647">
					<readerQuotas maxDepth="32" maxStringContentLength="2048000" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
					<reliableSession ordered="true" inactivityTimeout="00:12:00" enabled="false"/>
					<security mode="Transport">
						<transport clientCredentialType="Windows" protectionLevel="EncryptAndSign"/>
						<message clientCredentialType="Windows"/>
					</security>
				</binding>

      <binding name="NetTcpBinding_IWorkflowService" closeTimeout="00:12:00" openTimeout="00:12:00" receiveTimeout="00:12:00" sendTimeout="00:12:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="524288" maxConnections="10" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2048000" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <reliableSession ordered="true" inactivityTimeout="00:12:00" enabled="false"/>
          <security mode="Transport">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign"/>
            <message clientCredentialType="Windows"/>
          </security>
        </binding>

      </netTcpBinding>
      
      <wsHttpBinding>
				<binding name="WSHttpBinding_IConfigurationService" closeTimeout="00:12:00" openTimeout="00:12:00" receiveTimeout="00:12:00" sendTimeout="00:12:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
					<readerQuotas maxDepth="32" maxStringContentLength="2048000" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
					<reliableSession ordered="true" inactivityTimeout="00:12:00" enabled="false"/>
					<security mode="Message">
						<transport clientCredentialType="Windows" proxyCredentialType="None" realm=""/>
						<message clientCredentialType="UserName" negotiateServiceCredential="true"/>
					</security>
				</binding>

      <binding name="WSHttpBinding_IWorkflowService" closeTimeout="00:12:00" openTimeout="00:12:00" receiveTimeout="00:12:00" sendTimeout="00:12:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="2048000" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <reliableSession ordered="true" inactivityTimeout="00:12:00" enabled="false"/>
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" negotiateServiceCredential="true"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
			<endpoint address="http://localhost/Development_WCFServices/ConfigurationService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IConfigurationService" contract="ConfigurationServiceClient.IConfigurationService" name="WSHttpBinding_IConfigurationService"
                      behaviorConfiguration="MDM.WCFServices.ConfigurationServiceClientBehavior">
				<identity>
					<certificateReference x509FindType="FindByIssuerName" findValue="RiversandCA" storeLocation="LocalMachine" storeName="My"/>
				</identity>
			</endpoint>
			<endpoint address="net.tcp://localhost/Development_WCFServices/ConfigurationService.svc" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IConfigurationService" contract="ConfigurationServiceClient.IConfigurationService" name="NetTcpBinding_IConfigurationService"
                      behaviorConfiguration="MDM.WCFServices.ConfigurationServiceClientBehavior">
				<identity>
					<servicePrincipalName value="host/localhost"/>
				</identity>
			</endpoint>
      <endpoint address="http://localhost/Development_WCFServices/WorkflowService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IWorkflowService" contract="WorkflowServiceClient.IWorkflowService" name="WSHttpBinding_IWorkflowService" behaviorConfiguration="MDM.WCFServices.WorkflowServiceClientBehavior">
        <identity>
          <certificateReference x509FindType="FindByIssuerName" findValue="RiversandCA" storeLocation="LocalMachine" storeName="My" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost/Development_WCFServices/WorkflowService.svc" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IWorkflowService" contract="WorkflowServiceClient.IWorkflowService" name="NetTcpBinding_IWorkflowService" behaviorConfiguration="MDM.WCFServices.WorkflowServiceClientBehavior">
        <identity>
          <servicePrincipalName value="host/localhost"/>
        </identity>
      </endpoint>
    </client>
    <behaviors>
      <endpointBehaviors>
				<behavior name="MDM.WCFServices.ConfigurationServiceClientBehavior">
					<dataContractSerializer maxItemsInObjectGraph="2147483647"/>
					<clientCredentials>
						<windows allowedImpersonationLevel="Delegation"/>
					</clientCredentials>
				</behavior>
        <behavior name="MDM.WCFServices.WorkflowServiceClientBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <tracking>
      <profiles>
        <!--This profile acts like a base profile for workflow runtime. Add the one more profile in order to modify this profile and provide different profile name and do the modification there.-->
        <trackingProfile name="MDMTrackingProfile">
          <workflow>
            <workflowInstanceQueries>
              <workflowInstanceQuery>
                <states>
                  <state name="*"/>
                </states>
              </workflowInstanceQuery>
            </workflowInstanceQueries>
            <activityStateQueries>
              <activityStateQuery>
                <variables>
                  <variable name="*"/>
                </variables>
                <states>
                  <state name="*"/>
                </states>
                <arguments>
                  <argument name="*"/>
                </arguments>
              </activityStateQuery>
            </activityStateQueries>
            <customTrackingQueries>
              <customTrackingQuery name="*" activityName="*"/>
            </customTrackingQueries>
            <faultPropagationQueries>
              <faultPropagationQuery faultSourceActivityName="*" faultHandlerActivityName="*"/>
            </faultPropagationQueries>
          </workflow>
        </trackingProfile>
      </profiles>
    </tracking>

    <diagnostics performanceCounters="Off">
      <!-- To turn-on the trace messages logging, change the required message to true. -->
      <messageLogging
           logEntireMessage="false"
           logMalformedMessages="false"
           logMessagesAtServiceLevel="false"
           logMessagesAtTransportLevel="false"/>
    </diagnostics>
  </system.serviceModel>
  
  <startup>
     <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <system.diagnostics>
    <sources>
      <!-- Notes: 
                1. Source 'MDMTraceSource' is MDM tracing source. It records all the activities happening within MDM applications(Job engine, API engine, Web Engine, etc).
                2. By default switchValue is set to 'All'. We handle log writing using MDM appconfig 'MDMCenter.TraceConfiguration'.
                3. Please refer MDMCenter tracing configuration document to enable/disable and configure MDM modules for tracing
            -->
      <source name="MDMTraceSource" switchValue="All">
        <listeners>
          <add name="MDMTraceListener" />
        </listeners>
      </source>
      <!-- Notes: 
                1. Source 'System.ServiceModel' is provided by WCF service model. It traces all the activity happening at WCF level. 
                2. Change switchValue to 'Critical, Error, Warning' to record all errors and warnings from WCF service model
                3. Change switchValue to 'All' to record everything happening at WCF service level
                4. In normal run, we recommend to keep switch Value to 'Critical, Error, Warning'
            -->
      <source name="System.ServiceModel" switchValue="Off" propagateActivity="true">
        <listeners>
          <add name="MDMTraceListener" />
        </listeners>
      </source>
      <!-- Notes:
                1. Source 'System.ServiceModel.MessageLogging' traces WCF messages being transferred.
                2. To turn on keep system.serviceModel.diagnostics's messageLogging(messages) to be true 
            -->
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="MDMTraceMessagesListener" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="MDMTraceListener" type="MDM.DiagnosticManager.TraceListeners.RollingTraceListener, RS.MDM.DiagnosticManager.TraceListeners"
                 initializeData="C:\MDMTraces\MDMWorkFlowTestBenchTraces.svclog" maxFileSizeMB="10" traceOutputOptions="Callstack" />
      <add name="MDMTraceMessagesListener" type="MDM.DiagnosticManager.TraceListeners.RollingTraceListener, RS.MDM.DiagnosticManager.TraceListeners"
                 initializeData="C:\MDMTraces\MDMWorkFlowTestBenchTraces_WCFMessages.svclog" maxFileSizeMB="10" />
    </sharedListeners>
    <trace autoflush="true" />
  </system.diagnostics>
</configuration>
