<?xml version="1.0"?>
<ModuleSettings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <!-- Top Level Switches -->
  <UseExceptionManager>true</UseExceptionManager>
	<LogToEventViewer>true</LogToEventViewer>
	<LogToDB>false</LogToDB>
	<SendEmail>false</SendEmail>
	<ExceptionUrl>http://localhost/ExceptionManager/ViewException.aspx?exceptionID=</ExceptionUrl>
	<!-- 
		Log file for error occurring in Exception Manager (Self logging)		 
	-->
	<ErrorLog>logs\ExceptionManagerErrorLog.xml</ErrorLog>
	
	<!-- Individual settings-->
	<!-- What to log-->
	<LogDataSettings>
		<FormCollection>true</FormCollection>
		<ServerVariables>true</ServerVariables>
		<QueryString>true</QueryString>
		<ExceptionSource>true</ExceptionSource>
		<ExceptionMessage>true</ExceptionMessage>
		<ExceptionTargetSite>true</ExceptionTargetSite>
		<ExceptionStackTrace>true</ExceptionStackTrace>
		<WebServiceException>false</WebServiceException>
	</LogDataSettings>	
	
	<!-- Event viewer-->
	<EventViewerSettings>
    <!-- Do not enter special characters in log name-->
		<LogName>Riversand MDM Center</LogName>
		<SourceName>Web System</SourceName>
    <MaxLogSize>51200</MaxLogSize>
	</EventViewerSettings>
	

	<!-- Database server -->
	<DatabaseSettings>
    <!-- The actual connection string to be used by the exception manager -->
    <ConnectionString></ConnectionString>
    <!-- Name of the application configuration key in the web.config or app.config -->
    <AppConfigKey>ConnectionString</AppConfigKey>
	</DatabaseSettings>


	<!-- Email presently support only one address per node -->
	<EmailSettings>
		<MailFrom>client@riversand.com</MailFrom>
		<MailTo>support@riversand.com</MailTo>
		<MailCC>supportHeadGroup@riversand.com</MailCC>
		<Subject>Web Application Error</Subject>
		<!-- The SMTP server is required for sending mails -->
		<SmtpServer></SmtpServer>	
	</EmailSettings>
	

</ModuleSettings>