
<appSettings>
    <!-- Start of sql parameter configs  -->
    
    <add key="AdminManager_SqlParameters" value="Config\SqlParameters\AdminManager.Parameters.config" />
    <add key="AttributeDependencyManager_SqlParameters" value="Config\SqlParameters\AttributeDependencyManager.Parameters.config" />
    <add key="PermissionManager_SqlParameters" value="Config\SqlParameters\PermissionManager.Parameters.config" />
    <add key="ApplicationServiceManager_SqlParameters" value="Config\SqlParameters\ApplicationServiceManager.Parameters.config" />
    <add key="AttributeManager_SqlParameters" value="Config\SqlParameters\AttributeManager.Parameters.config" />
    <add key="AttributeModelManager_SqlParameters" value="Config\SqlParameters\AttributeModelManager.Parameters.config" />
    <add key="BusinessRuleManager_SqlParameters" value="Config\SqlParameters\BusinessRuleManager.Parameters.config" />
    <add key="CategoryManager_SqlParameters" value="Config\SqlParameters\CategoryManager.Parameters.config" />
    <add key="ConfigurationManager_SqlParameters" value="Config\SqlParameters\ConfigurationManager.Parameters.config" />
    <add key="DataModelManager_SqlParameters" value="Config\SqlParameters\DataModelManager.Parameters.config" />
    <add key="EntityManager_SqlParameters" value="Config\SqlParameters\EntityManager.Parameters.config" />
    <add key="ExportProfileManager_SqlParameters" value="Config\SqlParameters\ExportProfileManager.Parameters.config" />
    <add key="ImportManager_Parameters" value="Config\SqlParameters\ImportManager.Parameters.config"/>
    <add key="JobManager_SqlParameters" value="Config\SqlParameters\JobManager.Parameters.config" />
    <add key="KnowledgeManager_SqlParameters" value="Config\SqlParameters\KnowledgeManager.Parameters.config" />
    <add key="MessageManager_SqlParameters" value="Config\SqlParameters\MessageManager.Parameters.config" />
    <add key="OrganizationManager_SqlParameters" value="Config\SqlParameters\OrganizationManager.Parameters.config" />
    <add key="ProfileManager_SqlParameters" value="Config\SqlParameters\ProfileManager.Parameters.config" />
    <add key="RelationshipManager_SqlParameters" value="Config\SqlParameters\RelationshipManager.Parameters.config" />
    <add key="SearchManager_SqlParameters" value="Config\SqlParameters\SearchManager.Parameters.config" />
    <add key="SyndicationManager_SqlParameters" value="Config\SqlParameters\SyndicationManager.Parameters.config" />
    <add key="TrackingManager_SqlParameters" value="Config\SqlParameters\TrackingManager.Parameters.config" />
    <add key="VendorManager_SqlParameters" value="Config\SqlParameters\VendorManager.Parameters.config" />
    <add key="WorkflowDesigner_SqlParameters" value="Config\SqlParameters\WorkflowDesigner.Parameters.config" />
    <add key="WorkflowPersistence_SqlParameters" value="Config\SqlParameters\WorkflowPersistence.Parameters.config" />
    <add key="DataQualityManager_SqlParameters" value="Config\SqlParameters\DataQualityManager.Parameters.config" />
    <add key="UomManager_SqlParameters" value="Config\SqlParameters\UomManager.Parameters.config" />
    <add key="InstrumentationManager_SqlParameters" value="Config\SqlParameters\InstrumentationManager.Parameters.config"/>
    <add key="BusinessRuleManagement_SqlParameters" value="Config\SqlParameters\BusinessRuleManagement.Parameters.config"/>
 
  <!-- End of sql parameter configs  -->
</appSettings>