<?xml version="1.0"?>
<configuration>
  <appSettings>
  <add key="ConnectionString" value="Data Source=RSQASQL2012;Initial Catalog=MDMCenter74_SP2_HF2;Integrated Security=SSPI;;Application Name=Riversand MDM Web;Connection Lifetime=5400;Min Pool Size=50;MultipleActiveResultSets=true; "/>
  <add key="UomManager_SqlParameters" value="F:\FeaturePack2\MDM7.4-SP2-HF\Assemblies\Config\SqlParameters\UomManager.Parameters.config"/>
    <!-- Default internal cache type. Possible Values are: Framework4, AspNet -->
    <add key="InternalCacheType" value="Framework4"/>
    <!-- Default distributed cache type. Possible Values are: 'AppFabric' and 'None' -->
    <add key="DistributedCacheType" value="None"/>
    <!-- Default distributed cache name. Possible Values are: default, named cache..-->
    <add key="DistributedCacheName" value="forumdevcache"/>
    <!-- Default type for Distributed cache with notification. Possible Values are: 'AppFabricWithNotificationEnabled' and 'None' -->
    <add key="NotificationCacheType" value="None"/>
    <!-- Default name for Distributed cache with notification. Possible Values are: named cache..-->
    <add key="NotificationCacheName" value="forumdevcache_Notification"/>

    <!-- must be full path because is accessed outside of the HttpContext-->
    <add key="hibernate_cfg" value="C:\Riversand\MainLine\Web\MDMCenter\Main\hibernate.cfg.xml"/>

    <!-- The timeout period in minutes for user session  -->
    <add key="UserSessionTimeOut" value="80"/>

    <!-- Exception Manager Configuration -->
    <add key="ExceptionManager_SettingsFile" value="\Config\ExceptionManager.Config"/>

    <!-- The username to be use by the Web Service  -->
    <add key="ServiceUserName" value="cfadmin"/>

    <!-- path for locale specific XML files  -->
    <add key="ApplicationMessageManager.Path" value="Data"/>

    <!-- To on/off the validations based on the Attribute Metadata, Possible Values - True, False -->
    <add key="ValidationEnabled" value="True"/>

    <!--For the first request to load the Riversand login Logo-->
    <add key="RiversandLoginLogo" value="Images/LoginLogo.gif"/>

    <!-- Default Start Page -->
    <add key="DefaultStartPage" value="Main/Entity/EntityExplorer.aspx"/>

    <add key="aspnet:MaxHttpCollectionKeys" value="4000"/>

    <!-- Start of sql parameter config  -->
    <add key="AdminManager_SqlParameters" value="F:\FeaturePack2\MDM7.4-SP2-HF\Assemblies\Config\SqlParameters\AdminManager.Parameters.config"/>
    <add key="ApplicationServiceManager_SqlParameters" value="Main\Config\SqlParameters\ApplicationServiceManager.Parameters.config"/>
    <add key="AttributeManager_SqlParameters" value="Main\Config\SqlParameters\AttributeManager.Parameters.config"/>
    <add key="AttributeModelManager_SqlParameters" value="Main\Config\SqlParameters\AttributeModelManager.Parameters.config"/>
    <add key="BusinessRuleManager_SqlParameters" value="Main\Config\SqlParameters\BusinessRuleManager.Parameters.config"/>
    <add key="CategoryManager_SqlParameters" value="Main\Config\SqlParameters\CategoryManager.Parameters.config"/>
    <add key="ConfigurationManager_SqlParameters" value="Main\Config\SqlParameters\ConfigurationManager.Parameters.config"/>
    <add key="ContainerManager_SqlParameters" value="Main\Config\SqlParameters\ContainerManager.Parameters.config"/>
    <add key="DataModelManager_SqlParameters" value="Main\Config\SqlParameters\DataModelManager.Parameters.config"/>
    <add key="DenormManager_SqlParameters" value="Config\SqlParameters\DenormManager.Parameters.config"/>
    <add key="EntityManager_SqlParameters" value="Main\Config\SqlParameters\EntityManager.Parameters.config"/>
    <add key="ImportManager_Parameters" value="Main\Config\SqlParameters\ImportManager.Parameters.config"/>
    <add key="JobManager_SqlParameters" value="Main\Config\SqlParameters\JobManager.Parameters.config"/>
    <add key="KnowledgeManager_SqlParameters" value="Main\Config\SqlParameters\KnowledgeManager.Parameters.config"/>
    <add key="LookupManager_SqlParameters" value="Main\Config\SqlParameters\LookupManager.Parameters.config"/>
    <add key="MessageManager_SqlParameters" value="Main\Config\SqlParameters\MessageManager.Parameters.config"/>
    <add key="OrganizationManager_SqlParameters" value="Main\Config\SqlParameters\OrganizationManager.Parameters.config"/>
    <add key="PermissionManager_SqlParameters" value="Config\SqlParameters\PermissionManager.Parameters.config"/>
    <add key="ProfileManager_SqlParameters" value="Main\Config\SqlParameters\ProfileManager.Parameters.config"/>
    <add key="RelationshipManager_SqlParameters" value="Main\Config\SqlParameters\RelationshipManager.Parameters.config"/>
    <add key="SearchManager_SqlParameters" value="Main\Config\SqlParameters\SearchManager.Parameters.config"/>
    <add key="SyndicationManager_SqlParameters" value="Main\Config\SqlParameters\SyndicationManager.Parameters.config"/>
    <add key="TrackingManager_SqlParameters" value="Main\Config\SqlParameters\TrackingManager.Parameters.config"/>
    <add key="VendorManager_SqlParameters" value="Main\Config\SqlParameters\VendorManager.Parameters.config"/>
    <add key="WorkflowDesigner_SqlParameters" value="Main\Config\SqlParameters\WorkflowDesigner.Parameters.config"/>
    <add key="WorkflowPersistence_SqlParameters" value="Main\Config\SqlParameters\WorkflowPersistence.Parameters.config"/>
    <add key="AttributeDependencyManager_SqlParameters" value="Config\SqlParameters\AttributeDependencyManager.Parameters.config"/>
    <add key="MonitorManager_SqlParameters" value="Config\SqlParameters\MonitorManager.Parameters.config"/>
    
    
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
