<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="RuleAppConfigHelper" type="MDM.RuleFramework.RuleAppConfigHelper, RS.MDM.RuleFramework.Utility"/>
  </configSections>

  <appSettings file="LocalAppSettings.config">
  <!-- Database Connection String -->
    <!--<add key="ConnectionString" value="Data Source=RST1061;Initial Catalog=MDMCenter72_DEV;Persist Security Info=True;User ID=sa;Password=yriversandy.01;Application Name=Riversand MDM Web;Connection Lifetime=5400;Min Pool Size=50;MultipleActiveResultSets=true; Type System Version=SQL Server 2008;" />-->
    <!--<add key="ConnectionString" value="Data Source=RST1061;Initial Catalog=Riverworks;Persist Security Info=True;User ID=sa;Password=yriversandy.01;Application Name=Riversand MDM Web;Connection Lifetime=5400;Min Pool Size=50;MultipleActiveResultSets=true; Type System Version=SQL Server 2008;" />-->
    <add key="ConnectionString" value="Server=SV213\SQL2012DE;Database=MDMCenter76_RW;Trusted_Connection=True;"/>
    <add key="databaseProvider" value="SqlProvider"/>
    <add key="databaseDriverClass" value="Riversand.ProductCenter.Data.Driver.SqlDriver"/>
    <add key="hibernate_cfg" value="f:\Projects\Riversand\Development\Web\MDMCenter\Main\hibernate.cfg.xml"/>
    <!-- Start of sql parameter configs  -->

    <add key="AdminManager_SqlParameters" value="\Config\SqlParameters\AdminManager.Parameters.config"/>
    <add key="ApplicationServiceManager_SqlParameters" value="\Config\SqlParameters\ApplicationServiceManager.Parameters.config"/>
    <add key="AttributeManager_SqlParameters" value="\Config\SqlParameters\AttributeManager.Parameters.config"/>
    <add key="AttributeModelManager_SqlParameters" value="\Config\SqlParameters\AttributeModelManager.Parameters.config"/>
    <add key="BusinessRuleManager_SqlParameters" value="\Config\SqlParameters\BusinessRuleManager.Parameters.config"/>
    <add key="ContainerManager_SqlParameters" value="\Config\SqlParameters\ContainerManager.Parameters.config"/>
    <add key="CategoryManager_SqlParameters" value="\Config\SqlParameters\CategoryManager.Parameters.config"/>
    <add key="ConfigurationManager_SqlParameters" value="\Config\SqlParameters\ConfigurationManager.Parameters.config"/>
    <add key="DataModelManager_SqlParameters" value="\Config\SqlParameters\DataModelManager.Parameters.config"/>
    <add key="EntityManager_SqlParameters" value="\Config\SqlParameters\EntityManager.Parameters.config"/>
    <add key="ImportManager_Parameters" value="\Config\SqlParameters\ImportManager.Parameters.config"/>
    <add key="JobManager_SqlParameters" value="\Config\SqlParameters\JobManager.Parameters.config"/>
    <add key="KnowledgeManager_SqlParameters" value="\Config\SqlParameters\KnowledgeManager.Parameters.config"/>
    <add key="LookupManager_SqlParameters" value="\Config\SqlParameters\LookupManager.Parameters.config"/>
    <add key="MessageManager_SqlParameters" value="\Config\SqlParameters\MessageManager.Parameters.config"/>
    <add key="OrganizationManager_SqlParameters" value="\Config\SqlParameters\OrganizationManager.Parameters.config"/>
    <add key="ProfileManager_SqlParameters" value="\Config\SqlParameters\ProfileManager.Parameters.config"/>
    <add key="RelationshipManager_SqlParameters" value="\Config\SqlParameters\RelationshipManager.Parameters.config"/>
    <add key="SearchManager_SqlParameters" value="\Config\SqlParameters\SearchManager.Parameters.config"/>
    <add key="SyndicationManager_SqlParameters" value="\Config\SqlParameters\SyndicationManager.Parameters.config"/>
    <add key="TrackingManager_SqlParameters" value="\Config\SqlParameters\TrackingManager.Parameters.config"/>
    <add key="VendorManager_SqlParameters" value="\Config\SqlParameters\VendorManager.Parameters.config"/>
    <add key="WorkflowDesigner_SqlParameters" value="\Config\SqlParameters\WorkflowDesigner.Parameters.config"/>
    <add key="WorkflowPersistence_SqlParameters" value="\Config\SqlParameters\WorkflowPersistence.Parameters.config"/>
    <add key="MDMCenter.AttributeValueBasedSecurity.Enabled" value="False"/>

    <!-- End of sql parameter configs  -->

    <add key="DataCommandTimeout" value="120"/>
    <add key="UserSessionTimeOut" value="600"/>

    <add key="MDMCenter.Entity.BulkProcess.InitialProcessFailureBehavior" value="ProcessAll"/>
    <add key="ExceptionManager_SettingsFile" value="\Config\ExceptionManager.Config"/>

    <!--<add key="MDMCenter.PhysicalServerSplit.Enabled" value="True"/>-->

    <!-- Default internal cache type. Possible Values are: Framework4, AspNet -->
    <add key="InternalCacheType" value="Framework4"/>
    <!-- Default distributed cache type. Possible Values are: Appfabric, Memcached -->
    <add key="DistributedCacheType" value="Framework4"/>

    <add key="MDMCenter.BackwardCompatibility.DBObjectRenames.Suffix" value="[NONE]"/>
    <add key="FireTriggersInBulkInsert" value="False"/>
    <add key="TableLockInBulkInsert" value="True"/>
    <add key="NumberOfRetriesInBulkInsert" value="3"/>
    <add key="DumpFailedDataInTextFile" value="False"/>
    <add key="FolderForFailedData" value="C:\Users\Public\Documents\RiverSand\Job Service\Import\Bulk Upload Failures"/>
    <!-- Indicates if import engine need to process the denorm also. This is a partial denorm and is only aplicable to Intial Load-->
    <add key="ProcessDenormTables" value="True"/>
    <!-- Indicates the number of entity threads the import engine will spawn to process the given source data.-->
    <add key="ImportEngine.EntityThreadsPerJob.Size" value="1"/>
    <!-- Indicates the number of attrbute threads per entity thread the import engine will spawn to process the given source data. This is ONLY
      applicable when the source data is a staging database. For other data sources this is not used.-->
    <add key="ImportEngine.AttributeThreadsPerEntityThread.Size" value="10"/>
    <!-- Indicates the batch size to process the given source data. This is the default value and the individual source providers can override this value.-->
    <add key="ImportEngine.EntityProcessing.BatchSize" value="50"/>
    <add key="ImportEngineMode.ProcessingType.ValidateOnly" value="False"/>
    <add key="ImportEngineMode.ImportMode.InitialLoad" value="True"/>
    <!-- Possible values for now are StagingDb and RSXml-->
    <add key="ImportEngineMode.ImportSource" value="RSXml"/>
    <add key="ImportSource.RsXMLStagingDb.StartingPK" value="11"/>
    <add key="ImportSource.RsXMLStagingDb.EndingPK" value="11"/>
    <add key="ImportSource.RsXML.FilePath" value="C:\ProgramData\RiverSand\MDM Center\RsXML\RsXml-External.xml"/>

    <!--<add key="MDMCenter.PhysicalServerSplit.Database.WindowsAuthentication.Enabled" value ="False"/>-->

    <!-- Start : Configurations for Unit test -->
    <!--<add key="Imports.UnitTest.ProfileId" value="6" />
    <add key="Imports.UnitTest.ProfileName" value="MDM 7.2 - RSExcel 1.1 - Default Profile" />-->
    <add key="Imports.UnitTest.ImportFileFolderPath" value="D:\Riversand\Production\MDM7.2-SP0-HF\Libraries\MDMLibrarySolution\ImportManager\MDM.Imports.UnitTest\ProfileData"/>
    <!-- Possible Values = "DirectExecution" and "RunThroughJobService"-->
    <add key="Imports.UnitTest.RunOption" value="RunThroughJobService"/>
    <add key="Imports.UnitTest.JobCheckTimeInMinutes" value="5"/>
    <add key="Imports.UnitTest.TestDataCleanup.Enabled" value="true"/>
    <add key="Imports.UnitTest.JobStatusCheckWaitTimeInMilliSecond" value="10000"/>
    <add key="Imports.UnitTest.RsXMLStagingDb.StartingPK" value="11"/>
    <add key="Imports.UnitTest.RsXMLStagingDb.EndingPK" value="11"/>
    <add key="Jobs.JobServiceURI" value="tcp://TRINITY:8085/Riversand.JobService.JobService"/>
    <!-- <add key="Jobs.JobServiceURI" value="tcp://localhost:9043/Riversand.JobService.JobService"/>-->
    <!-- End : Configurations for Unit test -->

    <!-- value o means create new profile before runn6tesPerEntityNum" value ="192"/>
    <add key="PrimaryIndexFlag" value="Y"/>
    <add key="NonClusteredIndexFlag" value="Y"/>
    <add key ="RecordRunResultsUsingSP" value ="False"/>
    <add key="StagingConnectionString" value="Data Source=localhost\SURULI;Initial Catalog=MDMStaging;Persist Security Info=True;User ID=sa;Password=xriversandx.01;Application Name=Riversand MDM Web;Connection Lifetime=5400;Min Pool Size=50;MultipleActiveResultSets=true; Type System Version=SQL Server 2008;" />

    <add key="StagingConnectionString" value="Data Source=RSQLCS2008;Initial Catalog=MDMCenter70_Staging;Persist Security Info=True;User ID=sa;Password=yriversandy.02;Application Name=Riversand MDM Web;Connection Lifetime=5400;Min Pool Size=50;MultipleActiveResultSets=true; Type System Version=SQL Server 2008;" />
    <add key="DenormConnectionString" value="Data Source=RSQLCS2008;Initial Catalog=MDMCenter_70;Persist Security Info=True;User ID=sa;Password=yriversandy.02;Application Name=Riversand MDM Web;Connection Lifetime=5400;Min Pool Size=50;MultipleActiveResultSets=true; Type System Version=SQL Server 2008;" />-->

    <add key="MDMVersion" value="7.0"/>
    <add key="MDMCenter.BackwardCompatibility.BusinessRuleService.Enabled" value="False"/>
    <add key="MDMCenter.RuleEngine.Enabled" value="False"/>
    <!-- path for locale specific XML files  -->
    <add key="ApplicationMessageManager.Path" value="Data"/>

    <!--<add key="Jobs.JobServiceURI" value="tcp://localhost:9043/Riversand.JobService.JobService"/>-->


  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_Optimal" closeTimeout="00:12:00" openTimeout="00:12:00" receiveTimeout="00:12:00" sendTimeout="00:12:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" listenBacklog="200" maxBufferPoolSize="524288" maxConnections="200" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:12:00" enabled="false" />
          <security mode="Transport">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
            <message clientCredentialType="Windows" />
          </security>
        </binding>
        <binding name="NetTcpBinding_Intermediate" closeTimeout="01:00:00" openTimeout="01:00:00" receiveTimeout="01:00:00" sendTimeout="01:00:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" listenBacklog="200" maxBufferPoolSize="524288" maxConnections="200" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="01:00:00" enabled="false" />
          <security mode="Transport">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
            <message clientCredentialType="Windows" />
          </security>
        </binding>
        <binding name="NetTcpBinding_Maximum" closeTimeout="12:00:00" openTimeout="12:00:00" receiveTimeout="12:00:00" sendTimeout="12:00:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" listenBacklog="200" maxBufferPoolSize="524288" maxConnections="200" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="12:00:00" enabled="false" />
          <security mode="Transport">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
            <message clientCredentialType="Windows" />
          </security>
        </binding>
      </netTcpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_Optimal" openTimeout="00:12:00" receiveTimeout="00:12:00" closeTimeout="00:12:00" sendTimeout="00:12:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <reliableSession inactivityTimeout="00:12:00" enabled="false" ordered="true" />
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Message">
            <transport clientCredentialType="None" />
            <message clientCredentialType="UserName" establishSecurityContext="false" negotiateServiceCredential="false" />
          </security>
        </binding>
        <binding name="WSHttpBinding_Intermediate" openTimeout="01:00:00" receiveTimeout="01:00:00" closeTimeout="01:00:00" sendTimeout="01:00:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <reliableSession inactivityTimeout="01:00:00" enabled="false" ordered="true" />
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Message">
            <transport clientCredentialType="None" />
            <message clientCredentialType="UserName" establishSecurityContext="false" negotiateServiceCredential="false" />
          </security>
        </binding>
        <binding name="WSHttpBinding_Maximum" openTimeout="12:00:00" receiveTimeout="12:00:00" closeTimeout="12:00:00" sendTimeout="12:00:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <reliableSession inactivityTimeout="12:00:00" enabled="false" ordered="true" />
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Message">
            <transport clientCredentialType="None" />
            <message clientCredentialType="UserName" establishSecurityContext="false" negotiateServiceCredential="false" />
          </security>
        </binding>
        <binding name="WSHttpBinding_WithoutSecurity" closeTimeout="00:12:00" openTimeout="00:12:00" receiveTimeout="00:12:00" sendTimeout="00:12:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:12:00" enabled="false" />
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/Development_WCFServices/ConfigurationService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Optimal" contract="ConfigurationServiceClient.IConfigurationService" name="WSHttpBinding_IConfigurationService" behaviorConfiguration="MDM.WCFServices.ServiceClientBehaviorCommon">
        <identity>
          <certificateReference x509FindType="FindByIssuerName" findValue="RiversandCA" storeLocation="LocalMachine" storeName="My" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost/Development_WCFServices/ConfigurationService.svc" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_Optimal" contract="ConfigurationServiceClient.IConfigurationService" name="NetTcpBinding_IConfigurationService" behaviorConfiguration="MDM.WCFServices.ServiceClientBehaviorCommon">
        <identity>
          <servicePrincipalName value="host/localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost/Development_WCFServices/DataModelService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Optimal" contract="DataModelServiceClient.IDataModelService" name="WSHttpBinding_IDataModelService" behaviorConfiguration="MDM.WCFServices.ServiceClientBehaviorCommon">
        <identity>
          <certificateReference x509FindType="FindByIssuerName" findValue="RiversandCA" storeLocation="LocalMachine" storeName="My" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost/Development_WCFServices/DataModelService.svc" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_Optimal" contract="DataModelServiceClient.IDataModelService" name="NetTcpBinding_IDataModelService" behaviorConfiguration="MDM.WCFServices.ServiceClientBehaviorCommon">
        <identity>
          <servicePrincipalName value="host/localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost/Development_WCFServices/DataService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Optimal" contract="DataServiceClient.IDataService" name="WSHttpBinding_IDataService" behaviorConfiguration="MDM.WCFServices.ServiceClientBehaviorCommon">
        <identity>
          <certificateReference x509FindType="FindByIssuerName" findValue="RiversandCA" storeLocation="LocalMachine" storeName="My" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost/Development_WCFServices/DataService.svc/Protobuf" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Optimal" contract="DataServiceClient.IDataService" name="WSHttpBinding_IDataService_UsingProtoBuf" behaviorConfiguration="MDM.WCFServices.DataServiceClientBehaviorUsingProtoBuf">
        <identity>
          <certificateReference x509FindType="FindByIssuerName" findValue="RiversandCA" storeLocation="LocalMachine" storeName="My" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost/Development_WCFServices/DataService.svc" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_Optimal" contract="DataServiceClient.IDataService" name="NetTcpBinding_IDataService" behaviorConfiguration="MDM.WCFServices.ServiceClientBehaviorCommon">
        <identity>
          <servicePrincipalName value="host/localhost" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost/Development_WCFServices/DataService.svc/Protobuf" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_Optimal" contract="DataServiceClient.IDataService" name="NetTcpBinding_IDataService_UsingProtoBuf" behaviorConfiguration="MDM.WCFServices.DataServiceClientBehaviorUsingProtoBuf">
        <identity>
          <servicePrincipalName value="host/localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost/Development_WCFServices/DataQualityService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Optimal" contract="DataQualityServiceClient.IDataQualityService" name="WSHttpBinding_IDataQualityService" behaviorConfiguration="MDM.WCFServices.ServiceClientBehaviorCommon">
        <identity>
          <certificateReference x509FindType="FindByIssuerName" findValue="RiversandCA" storeLocation="LocalMachine" storeName="My" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost/Development_WCFServices/DataQualityService.svc" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_Optimal" contract="DataQualityServiceClient.IDataQualityService" name="NetTcpBinding_IDataQualityService" behaviorConfiguration="MDM.WCFServices.ServiceClientBehaviorCommon">
        <identity>
          <servicePrincipalName value="host/localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost/Development_WCFServices/NormalizationService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Optimal" contract="NormalizationServiceClient.INormalizationService" name="WSHttpBinding_INormalizationService" behaviorConfiguration="MDM.WCFServices.ServiceClientBehaviorCommon">
        <identity>
          <certificateReference x509FindType="FindByIssuerName" findValue="RiversandCA" storeLocation="LocalMachine" storeName="My" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost/Development_WCFServices/NormalizationService.svc" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_Optimal" contract="NormalizationServiceClient.INormalizationService" name="NetTcpBinding_INormalizationService" behaviorConfiguration="MDM.WCFServices.ServiceClientBehaviorCommon">
        <identity>
          <servicePrincipalName value="host/localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost/Development_WCFServices/MatchingService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Optimal" contract="MatchingServiceClient.IMatchingService" name="WSHttpBinding_IMatchingService" behaviorConfiguration="MDM.WCFServices.ServiceClientBehaviorCommon">
        <identity>
          <certificateReference x509FindType="FindByIssuerName" findValue="RiversandCA" storeLocation="LocalMachine" storeName="My" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost/Development_WCFServices/MatchingService.svc" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_Optimal" contract="MatchingServiceClient.IMatchingService" name="NetTcpBinding_IMatchingService" behaviorConfiguration="MDM.WCFServices.ServiceClientBehaviorCommon">
        <identity>
          <servicePrincipalName value="host/localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost/Development_WCFServices/MergingService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Optimal" contract="MergingServiceClient.IMergingService" name="WSHttpBinding_IMergingService" behaviorConfiguration="MDM.WCFServices.ServiceClientBehaviorCommon">
        <identity>
          <certificateReference x509FindType="FindByIssuerName" findValue="RiversandCA" storeLocation="LocalMachine" storeName="My" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost/Development_WCFServices/MergingService.svc" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_Optimal" contract="MergingServiceClient.IMergingService" name="NetTcpBinding_IMergingService" behaviorConfiguration="MDM.WCFServices.ServiceClientBehaviorCommon">
        <identity>
          <servicePrincipalName value="host/localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost/Development_WCFServices/KnowledgeBaseService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Optimal" contract="KnowledgeBaseServiceClient.IKnowledgeBaseService" name="WSHttpBinding_IKnowledgeBaseService" behaviorConfiguration="MDM.WCFServices.ServiceClientBehaviorCommon">
        <identity>
          <certificateReference x509FindType="FindByIssuerName" findValue="RiversandCA" storeLocation="LocalMachine" storeName="My" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost/Development_WCFServices/KnowledgeBaseService.svc" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_Optimal" contract="KnowledgeBaseServiceClient.IKnowledgeBaseService" name="NetTcpBinding_IKnowledgeBaseService" behaviorConfiguration="MDM.WCFServices.ServiceClientBehaviorCommon">
        <identity>
          <servicePrincipalName value="host/localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost/Development_WCFServices/MessageService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Optimal" contract="MessageServiceClient.IMessageService" name="WSHttpBinding_IMessageService" behaviorConfiguration="MDM.WCFServices.ServiceClientBehaviorCommon">
        <identity>
          <certificateReference x509FindType="FindByIssuerName" findValue="RiversandCA" storeLocation="LocalMachine" storeName="My" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost/Development_WCFServices/MessageService.svc" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_Optimal" contract="MessageServiceClient.IMessageService" name="NetTcpBinding_IMessageService" behaviorConfiguration="MDM.WCFServices.ServiceClientBehaviorCommon">
        <identity>
          <servicePrincipalName value="host/localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost/Development_WCFServices/SecurityService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Optimal" contract="SecurityServiceClient.ISecurityService" name="WSHttpBinding_ISecurityService" behaviorConfiguration="MDM.WCFServices.ServiceClientBehaviorCommon">
        <identity>
          <certificateReference x509FindType="FindByIssuerName" findValue="RiversandCA" storeLocation="LocalMachine" storeName="My" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost/Development_WCFServices/SecurityService.svc" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_Optimal" contract="SecurityServiceClient.ISecurityService" name="NetTcpBinding_ISecurityService" behaviorConfiguration="MDM.WCFServices.ServiceClientBehaviorCommon">
        <identity>
          <servicePrincipalName value="host/localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost/Development_WCFServices/CoreService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Optimal" contract="CoreServiceClient.ICoreService" name="WSHttpBinding_ICoreService" behaviorConfiguration="MDM.WCFServices.ServiceClientBehaviorCommon">
        <identity>
          <certificateReference x509FindType="FindByIssuerName" findValue="RiversandCA" storeLocation="LocalMachine" storeName="My" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost/Development_WCFServices/CoreService.svc" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_Optimal" contract="CoreServiceClient.ICoreService" name="NetTcpBinding_ICoreService" behaviorConfiguration="MDM.WCFServices.ServiceClientBehaviorCommon">
        <identity>
          <servicePrincipalName value="host/localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost/Development_WCFServices/IntegrationService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Optimal" contract="IntegrationServiceClient.IIntegrationService" name="WSHttpBinding_IIntegrationService" behaviorConfiguration="MDM.WCFServices.ServiceClientBehaviorCommon">
        <identity>
          <certificateReference x509FindType="FindByIssuerName" findValue="RiversandCA" storeLocation="LocalMachine" storeName="My" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost/Development_WCFServices/IntegrationService.svc" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_Optimal" contract="IntegrationServiceClient.IIntegrationService" name="NetTcpBinding_IIntegrationService" behaviorConfiguration="MDM.WCFServices.ServiceClientBehaviorCommon">
        <identity>
          <servicePrincipalName value="host/localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost/Development_WCFServices/WorkflowService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Optimal" contract="WorkflowServiceClient.IWorkflowService" name="WSHttpBinding_IWorkflowService" behaviorConfiguration="MDM.WCFServices.ServiceClientBehaviorCommon">
        <identity>
          <certificateReference x509FindType="FindByIssuerName" findValue="RiversandCA" storeLocation="LocalMachine" storeName="My" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost/Development_WCFServices/WorkflowService.svc" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_Optimal" contract="WorkflowServiceClient.IWorkflowService" name="NetTcpBinding_IWorkflowService" behaviorConfiguration="MDM.WCFServices.ServiceClientBehaviorCommon">
        <identity>
          <servicePrincipalName value="host/localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost/Development_WCFServices/AuthenticationService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_WithoutSecurity" contract="AuthenticationServiceClient.IAuthenticationService" name="WSHttpBinding_IAuthenticationService" behaviorConfiguration="MDM.WCFServices.ServiceClientBehaviorCommon">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost/Development_WCFServices/WorkflowDesignerService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_WithoutSecurity" contract="WorkflowDesignerServiceClient.IWorkflowDesignerService" name="WSHttpBinding_IWorkflowDesignerService" behaviorConfiguration="MDM.WCFServices.ServiceClientBehaviorCommon">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost/Development_WCFServices/DenormService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Optimal" contract="DenormServiceClient.IDenormService" name="WSHttpBinding_IDenormService" behaviorConfiguration="MDM.WCFServices.ServiceClientBehaviorCommon">
        <identity>
          <certificateReference x509FindType="FindByIssuerName" findValue="RiversandCA" storeLocation="LocalMachine" storeName="My" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost/Development_WCFServices/DenormService.svc" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_Optimal" contract="DenormServiceClient.IDenormService" name="NetTcpBinding_IDenormService" behaviorConfiguration="MDM.WCFServices.ServiceClientBehaviorCommon">
        <identity>
          <servicePrincipalName value="host/localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost/Development_WCFServices/EntityExportService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Optimal" contract="EntityExportServiceClient.IEntityExportService" name="WSHttpBinding_IEntityExportService" behaviorConfiguration="MDM.WCFServices.ServiceClientBehaviorCommon">
        <identity>
          <certificateReference x509FindType="FindByIssuerName" findValue="RiversandCA" storeLocation="LocalMachine" storeName="My" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost/Development_WCFServices/EntityExportService.svc" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_Optimal" contract="EntityExportServiceClient.IEntityExportService" name="NetTcpBinding_IEntityExportService" behaviorConfiguration="MDM.WCFServices.ServiceClientBehaviorCommon">
        <identity>
          <servicePrincipalName value="host/localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost/Development_WCFServices/LegacyDataAccessService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Optimal" contract="LegacyDataAccessServiceClient.ILegacyDataAccessService" name="WSHttpBinding_ILegacyDataAccessService" behaviorConfiguration="MDM.WCFServices.ServiceClientBehaviorCommon">
        <identity>
          <certificateReference x509FindType="FindByIssuerName" findValue="RiversandCA" storeLocation="LocalMachine" storeName="My" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost/Development_WCFServices/LegacyDataAccessService.svc" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_Optimal" contract="LegacyDataAccessServiceClient.ILegacyDataAccessService" name="NetTcpBinding_ILegacyDataAccessService" behaviorConfiguration="MDM.WCFServices.ServiceClientBehaviorCommon">
        <identity>
          <servicePrincipalName value="host/localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost/Development_WCFServices/DiagnosticService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Optimal" contract="DiagnosticServiceClient.IDiagnosticService" name="WSHttpBinding_IDiagnosticService" behaviorConfiguration="MDM.WCFServices.ServiceClientBehaviorCommon">
        <identity>
          <certificateReference x509FindType="FindByIssuerName" findValue="RiversandCA" storeLocation="LocalMachine" storeName="My" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost/Development_WCFServices/DiagnosticService.svc" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_Optimal" contract="DiagnosticServiceClient.IDiagnosticService" name="NetTcpBinding_IDiagnosticService" behaviorConfiguration="MDM.WCFServices.ServiceClientBehaviorCommon">
        <identity>
          <servicePrincipalName value="host/localhost" />
        </identity>
      </endpoint>
      <!--Internal service endpoints-->
      <endpoint address="http://localhost/Development_WCFServices/InternalCommonService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Intermediate" contract="InternalCommonServiceClient.IInternalCommonService" name="WSHttpBinding_IInternalCommonService" behaviorConfiguration="MDM.WCFServices.ServiceClientBehaviorCommon">
        <identity>
          <certificateReference x509FindType="FindByIssuerName" findValue="RiversandCA" storeLocation="LocalMachine" storeName="My" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost/Development_WCFServices/InternalCommonService.svc/Protobuf" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Optimal" contract="InternalCommonServiceClient.IInternalCommonService" name="WSHttpBinding_IInternalCommonService_UsingProtoBuf" behaviorConfiguration="MDM.WCFServices.ServiceClientBehaviorCommon">
        <identity>
          <certificateReference x509FindType="FindByIssuerName" findValue="RiversandCA" storeLocation="LocalMachine" storeName="My" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost/Development_WCFServices/InternalCommonService.svc" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_Intermediate" contract="InternalCommonServiceClient.IInternalCommonService" name="NetTcpBinding_IInternalCommonService" behaviorConfiguration="MDM.WCFServices.ServiceClientBehaviorCommon">
        <identity>
          <servicePrincipalName value="host/localhost" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost/Development_WCFServices/InternalCommonService.svc/Protobuf" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_Optimal" contract="InternalCommonServiceClient.IInternalCommonService" name="NetTcpBinding_IInternalCommonService_UsingProtoBuf" behaviorConfiguration="MDM.WCFServices.ServiceClientBehaviorCommon">
        <identity>
          <servicePrincipalName value="host/localhost" />
        </identity>
      </endpoint>
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="MDM.WCFServices.ServiceClientBehaviorCommon">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
          <clientCredentials>
            <windows allowedImpersonationLevel="Delegation" />
          </clientCredentials>
        </behavior>
        <behavior name="MDM.WCFServices.DataServiceClientBehaviorUsingProtoBuf">
          <protobuf />
        </behavior>
        <!--Internal service endpoint behaviors-->
        <behavior name="MDM.WCFServices.InternalCommonServiceClientBehaviorUsingProtoBuf">
          <protobuf />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <diagnostics performanceCounters="Off">
      <!-- To turn-on the trace messages logging, change the required message to true. -->
      <messageLogging logEntireMessage="false" logMalformedMessages="false" logMessagesAtServiceLevel="false" logMessagesAtTransportLevel="false" />
    </diagnostics>
    <extensions>
      <behaviorExtensions>
        <add name="protobuf" type="ProtoBuf.ServiceModel.ProtoBehaviorExtension, protobuf-net, Version=2.0.0.668, Culture=neutral, PublicKeyToken=257b51d87d2e4d67" />
      </behaviorExtensions>
    </extensions>
  </system.serviceModel>

</configuration>
