<appSettings>
  <!-- Database Connection String -->
  <add key="ConnectionString" value="User ID=sa;Data Source=RST-ENGDHRUMAK\SQLEXPRESS2014; Password=yriversandy.01; Initial Catalog=MDMLite; Application Name=Riversand MDM Web;Connection Lifetime=5400;Min Pool Size=10;MultipleActiveResultSets=true;enlist=false;" />

  <!-- Workflow Database Connection String -->
  <add key="MSWorkflowConnectionString" value="User ID=sa;Data Source=RST-ENGDHRUMAK\SQLEXPRESS2014; Password=yriversandy.01; Initial Catalog=MDMLite; Application Name=Riversand MDM Web;Connection Lifetime=5400;Min Pool Size=10;MultipleActiveResultSets=true;enlist=false;" />

  <!-- Staging Database Connection String -->
  <add key="StagingConnectionString" value="User ID=sa;Data Source=RST-ENGDHRUMAK\SQLEXPRESS2014; Password=yriversandy.01; Initial Catalog=MDMLite; Application Name=Riversand MDM Web;Connection Lifetime=5400;Min Pool Size=10;MultipleActiveResultSets=true;enlist=false;" />
  
  <!-- Default distributed cache type. Possible Values are: 'AppFabric' and 'None' -->
  <add key="DistributedCacheType" value="AppFabric" />
  <!-- Default distributed cache name. Possible Values are: default, named cache..-->
  <add key="DistributedCacheName" value="dhruma" />
  <!-- Default type for Distributed cache with notification. Possible Values are: 'AppFabricWithNotificationEnabled' and 'None' -->
  <add key="NotificationCacheType" value="AppFabricWithNotificationEnabled" />
  <!-- Default name for Distributed cache with notification. Possible Values are: named cache..-->
  <add key="NotificationCacheName" value="dhruma_notify" />

  <!-- MAHIDB server...7.8.FP2 DB instance -->
  <!--<add key="MDMCenter.DataAccessIdentity.Key" value="U/m5WRAyVp3k8P6hdWJjiGYcfkBezLIwT57VjTr9C6tNgJhTnGyPIM2+L50UDZjDvXf3ntyGH3LBB47LiNZZiFXtihewDL4nLphfvTaHda+Oj82xF6PjGx5rTc5Fh8a48vKlQwES5SbF3Al/dRiWiFKlfJi6nA/f8cqo/yTw+5Zow+UbKjS2EGQsdg+cyOm3qkuK4lPdQ6l7GuYnypxcfnVN13ZEBfi1uOCO77rovi8="/>
  <add key="WCF.TemporaryFileRoot" value="F:\Temp\ExportBugFolder" />
  <add key="Jobs.JobServiceURI" value="tcp://rst-engdhrumak:9043/Riversand.JobService.JobService"/>-->

  <!--MAHIDB server...7.8.FP1 DB instance  -->
  <!--<add key="MDMCenter.DataAccessIdentity.Key" value="U/m5WRAyVp3k8P6hdWJjiGYcfkBezLIwT57VjTr9C6tNgJhTnGyPIM2+L50UDZjDvXf3ntyGH3LBB47LiNZZiFXtihewDL4nLphfvTaHda+Oj82xF6PjGx5rTc5Fh8a48vKlQwES5SbF3Al/dRiWiFKlfJi6nA/f8cqo/yTw+5Zow+UbKjS2EGQsdg+cyOm3Y5egy8zkCgr+19BAtVj88wKP6dRlq545vQEUfayqZc1npJ34MiKux/CgmoCPLcWIgXnPh0j1M5jX7dFS00LqaQWPSiOFbCjIS2Rymt60KWhbtMEB8ds2PGSEkjgfgITIqYiwfwmd1ff+zkZnDd1dsf9kWIKPgimkOCkNTQqwN5dhNJmAoF/X7zYClVY6o8rpKMLP0fD6GGxYb88aioPizcPe3kBvNsDCuUXb6+DlnKy1GiyMmhlqIn5wEq8DiVeWi2Y4rBr6dZiAYn0gKeeBcbkNAG6Qm9BhlEXGXvXpeZuAIQSn5tnwT8j9iNMFk2/Oxpg8V3LWb9Jmzl6DhYP80eXfTEtry84JZBXY4+3XgaU="/>
  <add key="WCF.TemporaryFileRoot" value="F:\Temp\ExportBugFolder" />
  <add key="Jobs.JobServiceURI" value="tcp://rst-engdhrumak:9043/Riversand.JobService.JobService"/>-->
 


  <!-- Default internal cache type. Possible Values are: Framework4, AspNet -->
  <!--
    <add key="InternalCacheType" value="Framework4" />

    --><!-- Default distributed cache type. Possible Values are: 'AppFabric', 'Memcached' and 'None' --><!--
    <add key="DistributedCacheType" value="AppFabric" />
    <add key="DistributedCacheName" value="RiverworksDevline" />

    --><!-- Default type for Distributed cache with notification. Possible Values are: 'AppFabricWithNotificationEnabled' and 'None' --><!--
    <add key="NotificationCacheType" value="AppFabricWithNotificationEnabled" />

    --><!-- Default name for Distributed cache with notification. Possible Values are: named cache..--><!--
    <add key="NotificationCacheName" value="RiverworksDevline_DLCache" />

    <add key="BusinessRule.PluginPath" value="C:\Riversand\MainLine\Web\MDM.WCFServices.IISHost\Config\BR\bin" />

    <add key="FileWatcherEnabled" value="true"/>
  
    <add key="Jobs.TemporaryFileRoot" value="C:\Riversand\TempFiles\MDM7.4-SP\Temp\" />

    --><!--<add key="AssemblyFileName" value="RS.BSB.MDM.WebEventHandlers.dll"/>
    <add key="AssemblyClassName" value="BSBMDM.WebEventHandlers.WebEventHandlers"/>-->
</appSettings>