<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="MDM.PermissionManager.UnitTest.InputFolderPath" value="D:\Riversand\MainLine\Libraries\MDMLibrarySolution\PermissionManager\MDM.PermissionManager.UnitTest\Data\"/>
  </appSettings>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
