<?xml version="1.0" encoding="utf-8" ?>
<!-- 
/************************************************************************************
// Description			: Add your parameter arrays here.
Make sure you have verified that an array collection of the same does not exist. 
The id naming convention is the same used for Stored procedures with the addition of 
ParametersArray at the end and the removal of usp_. The size is a required field for 
VarChar and Char etc. Since Xml is case sensitive make sure you have spelled the type correctly.
If in doubt refer the SqlDBType for the naming convention.
************************************************************************************/
 
Sample usage:

  <SqlParameterItem id="CustomerManager_Customer_Create_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@Id" type="Int" direction="in" />
      <SqlParameter name="@FirstName" type="NVarChar" size="50" direction="in" />
      <SqlParameter name="@LastName" type="NVarChar" size="50" direction="in" />
      <SqlParameter name="@Email" type="NVarChar" size="100" direction="in" />
    </SqlParameters>
  </SqlParameterItem>
  
-->

<SqlParameterItems>
	<!-- Start of Attribute Manager -->
  <SqlParameterItem id="AttributeManager_AttributeMetaModel_GetByAttributeType_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@AttributeGroupId" type="Int" direction="in" />
      <SqlParameter name="@LocaleTable" type="Structured" direction="in" >
        <SqlMetadata>
          <SqlColumn name="@FK_Locale" type="Int" />
          <SqlColumn name="@ShortName" type="NVarChar" size="100" />
          <SqlColumn name="@IsSystemLocale" type="Bit" />
        </SqlMetadata>
      </SqlParameter>
    </SqlParameters>
  </SqlParameterItem>

  <SqlParameterItem id="AttributeManager_ComplexData_Get_ParametersArray">
    <SqlParameters>
        <SqlParameter name="@EntityId" type="BigInt" direction="in" />
        <SqlParameter name="@ContainerId" type="Int" direction="in" />
        <SqlParameter name="@AuditRefId" type="BigInt" direction="in" />
        <SqlParameter name="@AttributeId" type="Int" direction="in" />
        <SqlParameter name="@LocaleId" type="Int" direction="in" />
    </SqlParameters>
  </SqlParameterItem>
  
    <SqlParameterItem id="AttributeManager_HierarchyAttribute_Get_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@EntityId" type="BigInt" direction="in" />
      <SqlParameter name="@ContainerId" type="Int" direction="in" />
      <SqlParameter name="@AuditRefId" type="BigInt" direction="in" />
      <SqlParameter name="@AttributeId" type="Int" direction="in" />
      <SqlParameter name="@LocaleId" type="Int" direction="in" />
    </SqlParameters>
  </SqlParameterItem>
  
  <SqlParameterItem id="AttributeManager_AttributeMetaModel_GetAllAttributes_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@intParentId" type="Int" direction="in" />
      <SqlParameter name="@intCountFrom" type="Int" direction="in" />
      <SqlParameter name="@intCountTo" type="Int"  direction="in" />
      <SqlParameter name="@vchrSearchParameter" type="NVarChar" size="300" direction="in" />
      <SqlParameter name="@vchrSearchColumn" type="NVarChar" size="150" direction="in" />
      <SqlParameter name="@vchrSortColumn" type="NVarChar" size="150" direction="in" />
      <SqlParameter name="@intLocaleId" type="Int" direction="in" />
      <SqlParameter name="@bitUnusedOnly" type="Bit" direction="in" />
      <SqlParameter name="@vchrUserLogin" type="NVarChar" size="100" direction="in" />
    </SqlParameters>
  </SqlParameterItem>

  <SqlParameterItem id="AttributeManager_AttributeMetaModel_GetTechAttributesByTaxonomyAndCategory_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@intCategoryID" type="Int" direction="in" />
      <SqlParameter name="@intCatalogID" type="Int" direction="in" />
      <SqlParameter name="@intLocaleID" type="Int"  direction="in" />
    </SqlParameters>
  </SqlParameterItem>
 
  <SqlParameterItem id="AttributeManager_AttributeMetaModel_GetCommonAttributesByContainerAndEntityType_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@CatalogId" type="Int" direction="in" />
      <SqlParameter name="@NodeTypeID" type="Int" direction="in" />
      <SqlParameter name="@LocaleId" type="Int" direction="in" />
    </SqlParameters>
  </SqlParameterItem>

  <!-- 
  /*
  Need to delete records before this. Previous entries are for Attribute meta model . Which is AttributeModel now
  and previous AttributeValueManager is AttributeManager now.
  */
  -->

  <SqlParameterItem id="AttributeManager_Attribute_BreadcrumbAttributeValue_Get_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@ConfigXML" type="Xml" direction="in" />
      <SqlParameter name="@FK_Org" type="Int" direction="in" />
      <SqlParameter name="@FK_Catalog" type="Int" direction="in" />
      <SqlParameter name="@FK_CNode" type="BigInt" direction="in" />
      <SqlParameter name="@FK_Locale" type="Int" direction="in" />
      <SqlParameter name="@UserID" type="Int" direction="in" />
    </SqlParameters>
  </SqlParameterItem>

  <SqlParameterItem id="AttributeManager_Attribute_CopyPasteContent_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@intFromCNodeID" type="Int"  direction="in" />
      <SqlParameter name="@intToCNodeID" type="Int"  direction="in" />
      <SqlParameter name="@intFromCatalogID" type="Int" direction="in" />
      <SqlParameter name="@intToCatalogID" type="Int" direction="in" />
      <SqlParameter name="@ComAttributes" type="VarChar" size="2000"  direction="in" />
      <SqlParameter name="@TechAttributes" type="VarChar"  size="2000" direction="in" />
      <SqlParameter name="@Relationships" type="NVarChar" size="-1" direction="in" />
      <SqlParameter name="@vchrUserID" type="VarChar" size="50"  direction="in" />
      <SqlParameter name="@vchrProgramName" type="VarChar" size="50" direction="in" />
    </SqlParameters>
  </SqlParameterItem>
  
  <SqlParameterItem id="AttributeManager_AttributeVersion_Get_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@EntityID" type="BigInt" direction="in" />
      <SqlParameter name="@EntityParentID" type="BigInt" direction="in" />
      <SqlParameter name="@AttributeID" type="Int" direction="in" />
      <SqlParameter name="@CatalogID" type="Int" direction="in" />
      <SqlParameter name="@SystemDataLocaleID" type="Int" direction="in" />
      <SqlParameter name="@LocaleTable" type="Structured" direction="in" >
        <SqlMetadata>
          <SqlColumn name="@FK_Locale" type="Int" />
          <SqlColumn name="@ShortName" type="NVarChar" size="100" />
          <SqlColumn name="@IsSystemLocale" type="Bit" />
        </SqlMetadata>
      </SqlParameter>
    </SqlParameters>
  </SqlParameterItem>

    
  <SqlParameterItem id="AttributeManager_AttributeModelOpeationDA_GetCatalogNodeTypeAttrbiuteAsXml_ParametersArray">
        <SqlParameters>
            <SqlParameter name="@intOrgID" type="Int" direction="in" />
            <SqlParameter name="@intCatalogID" type="Int" direction="in" />
            <SqlParameter name="@nvchrNodeType" type="NVarChar"  size="100" direction="in" />
            <SqlParameter name="@intBranchLevel" type="Int" direction="in" />
            <SqlParameter name="@IncludeComplexAttrChildren" type="Bit" direction="in" />
            <SqlParameter name="@ExcludeSearchable" type="Bit" direction="in" />
            <SqlParameter name="@LocaleTable" type="Structured" direction="in" >
                <SqlMetadata>
                    <SqlColumn name="@FK_Locale" type="Int" />
                    <SqlColumn name="@ShortName" type="NVarChar" size="100" />
                    <SqlColumn name="@IsSystemLocale" type="Bit" />
                </SqlMetadata>
            </SqlParameter>
        </SqlParameters>
   </SqlParameterItem>
  
    <SqlParameterItem id="AttributeManager_AttributeVersion_GetComplexAttributeVersions_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@EntityID" type="BigInt" direction="in" />
      <SqlParameter name="@EntityParentID" type="BigInt" direction="in" />
      <SqlParameter name="@AttributeID" type="Int" direction="in" />
      <SqlParameter name="@CatalogID" type="Int" direction="in" />
      <SqlParameter name="@SystemDataLocaleID" type="Int" direction="in" />
      <SqlParameter name="@LocaleTable" type="Structured" direction="in" >
        <SqlMetadata>
          <SqlColumn name="@FK_Locale" type="Int" />
          <SqlColumn name="@ShortName" type="NVarChar" size="100" />
          <SqlColumn name="@IsSystemLocale" type="Bit" />
        </SqlMetadata>
      </SqlParameter>
      <SqlParameter name="@Sequence" type="Int" direction="in" />
    </SqlParameters>
  </SqlParameterItem>

</SqlParameterItems>


