<?xml version="1.0" encoding="utf-8" ?>
<SqlParameterItems>
  <!-- Start of BusinessRuleAttributeMapping Manager -->
  <SqlParameterItem id="BusinessRuleManager_ViewAttributeMapping_Process_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@DataXML" type="Xml" direction="in" />
      <SqlParameter name="@LoginUserID" type="NVarChar" size="50" direction="in" />
      <SqlParameter name="@ProgramName" type="NVarChar" size="50" direction="in" />
    </SqlParameters>
  </SqlParameterItem>

  <SqlParameterItem id="BusinessRuleManager_ViewAttributeMapping_Get_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@BusinessRule_Rule" type="Int" direction="in" />
    </SqlParameters>
  </SqlParameterItem>

  <!-- End of BusinessRuleAttributeMapping Manager -->

  <SqlParameterItem id="BusinessRuleManager_BusinessRule_Get_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@User" type="NVarChar" size="100" direction="in" />
    </SqlParameters>
  </SqlParameterItem>

  <SqlParameterItem id="BusinessRuleManager_BusinessRule_Process_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@DataXML" type="Xml" direction="in" />
      <SqlParameter name="@LoginUserID" type="NVarChar" size="50" direction="in" />
      <SqlParameter name="@ProgramName" type="NVarChar" size="50" direction="in" />
    </SqlParameters>
  </SqlParameterItem>

  <SqlParameterItem id="BusinessRuleManager_BusinessRule_Context_Process_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@DataXML" type="Xml" direction="in" />
      <SqlParameter name="@LoginUserID" type="NVarChar" size="50" direction="in" />
      <SqlParameter name="@ProgramName" type="NVarChar" size="50" direction="in" />
    </SqlParameters>
  </SqlParameterItem>

  <SqlParameterItem id="BusinessRuleManager_BusinessRule_GetByContext_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@FK_Event_Source" type="Int"  direction="in" />
      <SqlParameter name="@FK_Event_Subscriber" type="Int" direction="in" />
      <SqlParameter name="@FK_Security_Role" type="Int" direction="in" />
      <SqlParameter name="@FK_Security_user" type="Int"  direction="in" />
      <SqlParameter name="@FK_Org" type="Int" direction="in" />
      <SqlParameter name="@FK_Catalog" type="Int" direction="in" />
      <SqlParameter name="@FK_NodeType" type="Int" direction="in" />
      <SqlParameter name="@FilterRuleType" type="NVarChar" size="50" direction="in" />
    </SqlParameters>
  </SqlParameterItem>

  <SqlParameterItem id="BusinessRuleManager_BusinessRule_GetCustomByContext_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@ContextXml" type="NVarChar" size="-1" direction="in" />
      <SqlParameter name="@FK_BusinessRule_RuleType" type="Int" direction="in" />
      <SqlParameter name="@FK_BusinessRule_RuleSet" type="Int" direction="in" />
    </SqlParameters>
  </SqlParameterItem>

  <SqlParameterItem id="BusinessRuleManager_BusinessRule_GetById_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@RuleIds" type="NVarChar" size="200" direction="in" />
    </SqlParameters>
  </SqlParameterItem>

  <SqlParameterItem id="BusinessRuleManager_ValidationState_Get_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@FK_CNode" type="BigInt" direction="in" />
      <SqlParameter name="@AttrIDList" type="NVarChar" size="200" direction="in" />
    </SqlParameters>
  </SqlParameterItem>
  

</SqlParameterItems>
