<?xml version="1.0" encoding="utf-8" ?>
<!-- 
/************************************************************************************
// Description			: Add your parameter arrays here.
Make sure you have verified that an array collection of the same does not exist. 
The id naming convention is the same used for Stored procedures with the addition of 
ParametersArray at the end and the removal of usp_. The size is a required field for 
VarChar and Char etc. Since Xml is case sensitive make sure you have spelled the type correctly.
If in doubt refer the SqlDBType for the naming convention.
************************************************************************************/

Sample usage:

  <SqlParameterItem id="CustomerManager_Customer_Create_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@Id" type="Int" direction="in" />
      <SqlParameter name="@FirstName" type="NVarChar" size="50" direction="in" />
      <SqlParameter name="@LastName" type="NVarChar" size="50" direction="in" />
      <SqlParameter name="@Email" type="NVarChar" size="100" direction="in" />
    </SqlParameters>
  </SqlParameterItem>
  
-->

<SqlParameterItems>
  <!-- Start of ContainerEntityType Manager -->
  <SqlParameterItem id="DataModelManager_ContainerEntityType_Get_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@OrgId" type="Int" direction="in" />
      <SqlParameter name="@CatalogId" type="Int" direction="in" />
      <SqlParameter name="@NodeTypeId" type="Int" direction="in" />
    </SqlParameters>
  </SqlParameterItem>

  <SqlParameterItem id="DataModelManager_ContainerEntityType_Process_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@ContainerEntityTypeTable" type="Structured" direction="in" >
        <SqlMetadata>
          <SqlColumn name="@ReferenceId" type="Int" />
          <SqlColumn name="@ContainerEntityTypeId" type="Int" />
          <SqlColumn name="@ContainerId" type="Int"/>
          <SqlColumn name="@OrgId" type="Int"/>
          <SqlColumn name="@EntityTypeId" type="Int"/>
          <SqlColumn name="@ShowAtCreation" type="Bit"/>
          <SqlColumn name="@MinimumExtensions" type="Int"/>
          <SqlColumn name="@MaximumExtensions" type="Int"/>
          <SqlColumn name="@Action" type="NVarChar" size="15" />
        </SqlMetadata>
      </SqlParameter>
      <SqlParameter name="@LoginUserID" type="NVarChar" size="50" direction="in" />
      <SqlParameter name="@ProgramName" type="NVarChar" size="50" direction="in" />
    </SqlParameters>
  </SqlParameterItem>
  <!-- End of ContainerEntityType Manager -->

  <!-- Start of EntityTypeAttribute Manager -->
  <SqlParameterItem id="DataModelManager_EntityTypeAttribute_Get_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@NodeTypeId" type="Int" direction="in" />
      <SqlParameter name="@AttributeParentId" type="Int" direction="in" />
      <SqlParameter name="@AttributeId" type="Int" direction="in" />
    </SqlParameters>
  </SqlParameterItem>

  <SqlParameterItem id="DataModelManager_EntityTypeAttribute_Process_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@DataXML" type="Xml" direction="in" />
      <SqlParameter name="@LoginUserID" type="NVarChar" size="50" direction="in" />
      <SqlParameter name="@ProgramName" type="NVarChar" size="50" direction="in" />
    </SqlParameters>
  </SqlParameterItem>
  <!-- End of EntityTypeAttribute Manager -->

  <!-- Start of ContainerEntityTypeAttribute Manager -->
  <SqlParameterItem id="DataModelManager_ContainerEntityTypeAttribute_Get_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@ContainerId" type="Int" direction="in" />
      <SqlParameter name="@EntityTypeId" type="Int" direction="in" />
      <SqlParameter name="@AttributeParentId" type="Int" direction="in" />
      <SqlParameter name="@AttributeId" type="Int" direction="in" />
    </SqlParameters>
  </SqlParameterItem>

  <SqlParameterItem id="DataModelManager_ContainerEntityTypeAttribute_Process_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@ContainerEntityTypeAttributeTable" type="Structured" direction="in" >
        <SqlMetadata>
          <SqlColumn name="@ReferenceId" type="Int" />
          <SqlColumn name="@ContainerEntityTypeAttributeId" type="Int" />
          <SqlColumn name="@ContainerId" type="Int"/>
          <SqlColumn name="@EntityTypeId" type="Int"/>
          <SqlColumn name="@AttributeId" type="Int"/>
          <SqlColumn name="@InheritanceModeId" type="Int"/>
          <SqlColumn name="@SortOrder" type="Int"/>
          <SqlColumn name="@ReadOnly" type="Bit"/>
          <SqlColumn name="@Required" type="Bit"/>
          <SqlColumn name="@ShowAtCreation" type="Bit"/>
          <SqlColumn name="@Extension" type="NVarChar" size="-1" direction="in"/>
          <SqlColumn name="@InheritableOnly" type="Bit"/>
          <SqlColumn name="@AutoPromotable" type="Bit"/>
          <SqlColumn name="@Action" type="NVarChar" size="25" />
        </SqlMetadata>
      </SqlParameter>
      <SqlParameter name="@LoginUserID" type="NVarChar" size="50" direction="in" />
      <SqlParameter name="@ProgramName" type="NVarChar" size="50" direction="in" />
    </SqlParameters>
  </SqlParameterItem>
  <!-- End of ContainerEntityTypeAttribute Manager -->

  <!-- Start of RelationshipTypeEntityType Manager -->
  <SqlParameterItem id="DataModelManager_RelationshipTypeEntityType_Get_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@RelationshipTypeId" type="Int" direction="in" />
      <SqlParameter name="@EntityTypeId" type="Int" direction="in" />
    </SqlParameters>
  </SqlParameterItem>

  <SqlParameterItem id="DataModelManager_RelationshipTypeEntityType_Process_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@DataXML" type="Xml" direction="in" />
      <SqlParameter name="@LoginUserID" type="NVarChar" size="50" direction="in" />
      <SqlParameter name="@ProgramName" type="NVarChar" size="50" direction="in" />
    </SqlParameters>
  </SqlParameterItem>
  <!-- End of RelationshipTypeEntityType Manager -->

  <!-- Start of RelationshipTypeEntityTypeCardinality Manager -->
  <SqlParameterItem id="DataModelManager_RelationshipTypeEntityTypeCardinality_Get_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@FK_NodeType_From" type="Int" direction="in" />
      <SqlParameter name="@FK_RelationshipType" type="Int" direction="in" />
    </SqlParameters>
  </SqlParameterItem>

  <SqlParameterItem id="DataModelManager_RelationshipTypeEntityTypeCardinality_Process_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@txtXML" type="NVarChar" size="-1" direction="in" />
      <SqlParameter name="@UserName" type="NVarChar" size="100" direction="in" />
      <SqlParameter name="@ProgramName" type="NVarChar" size="100" direction="in" />
    </SqlParameters>
  </SqlParameterItem>
  <!-- End of RelationshipTypeEntityTypeCardinality Manager -->

  <!-- Start of ContainerRelationshipTypeEntityType Manager -->
  <SqlParameterItem id="DataModelManager_ContainerRelationshipTypeEntityType_Get_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@ContainerId" type="Int" direction="in" />
      <SqlParameter name="@RelationshipTypeId" type="Int" direction="in" />
      <SqlParameter name="@EntityTypeId" type="Int" direction="in" />
    </SqlParameters>
  </SqlParameterItem>

  <SqlParameterItem id="DataModelManager_ContainerRelationshipTypeEntityType_Process_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@DataXML" type="Xml" direction="in" />
      <SqlParameter name="@LoginUserID" type="NVarChar" size="50" direction="in" />
      <SqlParameter name="@ProgramName" type="NVarChar" size="50" direction="in" />
    </SqlParameters>
  </SqlParameterItem>

  <SqlParameterItem id="DataModelManager_ContainerRelationshipTypeEntityType_GetMappingsByCnodes_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@vchrUserLogin" type="NVarChar" size="50" direction="in" />
      <SqlParameter name="@PK_CNodeGroup" type="NVarChar" size="-1" direction="in" />
      <SqlParameter name="@FK_Catalog" type="Int" direction="in" />
    </SqlParameters>
  </SqlParameterItem>
  <!-- End of ContainerRelationshipTypeEntityType Manager -->

  <!-- Start of ContainerRelationshipTypeEntityTypeCardinality Manager -->
  <SqlParameterItem id="DataModelManager_ContainerRelationshipTypeEntityTypeCardinality_Get_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@FK_Catalog" type="Int" direction="in" />
      <SqlParameter name="@FK_NodeType_From" type="Int" direction="in" />
      <SqlParameter name="@FK_RelationshipType" type="Int" direction="in" />
    </SqlParameters>
  </SqlParameterItem>

  <SqlParameterItem id="DataModelManager_ContainerRelationshipTypeEntityTypeCardinality_Process_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@txtXML" type="NVarChar" size="-1" direction="in" />
      <SqlParameter name="@UserName" type="NVarChar" size="100" direction="in" />
      <SqlParameter name="@ProgramName" type="NVarChar" size="100" direction="in" />
    </SqlParameters>
  </SqlParameterItem>
  
  <!-- End of ContainerRelationshipTypeEntityTypeCardinality Manager -->

  <!-- Start of RelationshipTypeAttribute Manager -->
  <SqlParameterItem id="DataModelManager_RelationshipTypeAttribute_Get_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@RelationshipTypeId" type="Int" direction="in" />
      <SqlParameter name="@AttributeParentId" type="Int" direction="in" />
      <SqlParameter name="@AttributeId" type="Int" direction="in" />
    </SqlParameters>
  </SqlParameterItem>

  <SqlParameterItem id="DataModelManager_RelationshipTypeAttribute_Process_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@DataXML" type="Xml" direction="in" />
      <SqlParameter name="@LoginUserID" type="NVarChar" size="50" direction="in" />
      <SqlParameter name="@ProgramName" type="NVarChar" size="50" direction="in" />
    </SqlParameters>
  </SqlParameterItem>
  <!-- End of RelationshipTypeAttribute Manager -->

  <!-- Start of ContainerRelationshipTypeAttribute Manager -->
  <SqlParameterItem id="DataModelManager_ContainerRelationshipTypeAttribute_Get_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@ContainerId" type="Int" direction="in" />
      <SqlParameter name="@RelationshipTypeId" type="Int" direction="in" />
      <SqlParameter name="@AttributeParentId" type="Int" direction="in" />
      <SqlParameter name="@AttributeId" type="Int" direction="in" />
    </SqlParameters>
  </SqlParameterItem>

  <SqlParameterItem id="DataModelManager_ContainerRelationshipTypeAttribute_Process_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@ContainerRelationshipTypeAttributeTable" type="Structured" direction="in" >
        <SqlMetadata>
          <SqlColumn name="@ReferenceId" type="Int" />
          <SqlColumn name="@ContainerRelationshipTypeAttributeId" type="Int" />
          <SqlColumn name="@ContainerId" type="Int"/>
          <SqlColumn name="@RelationshipTypeId" type="Int"/>
          <SqlColumn name="@AttributeId" type="Int"/>
          <SqlColumn name="@SortOrder" type="Int"/>
          <SqlColumn name="@ReadOnly" type="Bit"/>
          <SqlColumn name="@Required" type="Bit"/>
          <SqlColumn name="@ShowAtCreation" type="Bit"/>
          <SqlColumn name="@ShowInline" type="Bit"/>
          <SqlColumn name="@AutoPromotable" type="Bit"/>
          <SqlColumn name="@Action" type="NVarChar" size="25" />
        </SqlMetadata>
      </SqlParameter>
      <SqlParameter name="@LoginUserID" type="NVarChar" size="50" direction="in" />
      <SqlParameter name="@ProgramName" type="NVarChar" size="50" direction="in" />
    </SqlParameters>
  </SqlParameterItem>
  <!-- End of ContainerRelationshipTypeAttribute Manager -->

  <!-- Start of EntityVariantDefinition Manager -->

  <SqlParameterItem id="DataModelManager_EntityVariantDefinition_Get_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@EntityVariantDefinitionId" type="Int" direction="in" />
    </SqlParameters>
  </SqlParameterItem>

  <SqlParameterItem id="DataModelManager_EntityVariantDefinition_GetAll_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@EntityVariantDefinitionId" type="Int" direction="in" />
    </SqlParameters>
  </SqlParameterItem>

  <SqlParameterItem id="DataModelManager_EntityVariantDefinition_Process_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@EntityVariantDefinitionTable" type="Structured" direction="in" >
        <SqlMetadata>
          <SqlColumn name ="Id" type="Int" direction="in"/>
          <SqlColumn name ="FK_EntityVariant_Definition" type="Int" direction="in"/>
          <SqlColumn name ="ShortName" type="NVarChar" size="150" direction="in"/>
          <SqlColumn name ="EntityTypeId" type="Int" direction="in"/>
          <SqlColumn name ="IsDimensionAttributesSpecified" type="Bit" />
          <SqlColumn name="Action" type="NVarChar" size="10" direction="in"/>
        </SqlMetadata>
      </SqlParameter>
      <SqlParameter name="@EntityVariantLevelTable" type="Structured" direction="in" >
        <SqlMetadata>
          <SqlColumn name ="Id" type="Int" direction="in"/>
          <SqlColumn name ="DefinitionId" type="Int" direction="in"/>
          <SqlColumn name ="EntityTypeId" type="Int" direction="in"/>
          <SqlColumn name ="Rank" type="Int" direction="in"/>
        </SqlMetadata>
      </SqlParameter>
      <SqlParameter name="@EntityVariantAttributeTable" type="Structured" direction="in" >
        <SqlMetadata>
          <SqlColumn name ="Id" type="Int" direction="in"/>
          <SqlColumn name ="DefinitionId" type="Int" direction="in"/>
          <SqlColumn name ="LevelId" type="Int" direction="in"/>
          <SqlColumn name ="FK_Source_Attribute" type="Int" direction="in"/>
          <SqlColumn name ="FK_Target_Attribute" type="Int" direction="in"/>
          <SqlColumn name ="IsOptional" type="Bit" />
        </SqlMetadata>
      </SqlParameter>
      <SqlParameter name="@LoginUserName" type="NVarChar" size="50" direction="in" />
      <SqlParameter name="@ProgramName" type="NVarChar" size="50" direction="in" />
    </SqlParameters>
  </SqlParameterItem>

  <!-- End of EntityVariantDefinition Manager -->

  <!-- Start of DynamicTableSchema Manager -->

  <SqlParameterItem id="DataModelManager_Replication_ModifyArticle_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@ModifyArticleTable" type="Structured" direction="in" >
        <SqlMetadata>
          <SqlColumn name="@Article" type="NVarChar" size="250"/>
        </SqlMetadata>
      </SqlParameter>
      <SqlParameter name="@ArticleType" type="NVarChar" size="20" direction="in" />
      <SqlParameter name="@Action" type="NVarChar" size="10" direction="in" />
      <SqlParameter name="@ModuleId" type="TinyInt"  direction="in" />
    </SqlParameters>
  </SqlParameterItem>

  <SqlParameterItem id="DataModelManager_DynamicTableSchema_Process_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@SchemaXml" type="Xml" direction="in" />
      <SqlParameter name="@ObjectType" type="NVarChar" size="20" direction="in" />
      <SqlParameter name="@UserLogin" type="NVarChar" size="100" direction="in" />
      <SqlParameter name="@UserProgram" type="NVarChar" size="100" direction="in" />
    </SqlParameters>
  </SqlParameterItem>

  <SqlParameterItem id="DataModelManager_DynamicTableSchema_Get_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@TableName" type="NVarChar" size="300" direction="in" />
      <SqlParameter name="@Type" type="TinyInt" direction="in" />
    </SqlParameters>
  </SqlParameterItem>

  <SqlParameterItem id="DataModelManager_DynamicTableSchema_ComplexSchemaGet_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@ComplexAttrId" type="Int" direction="in" />
    </SqlParameters>
  </SqlParameterItem>

  <SqlParameterItem id="DataModelManager_DynamicTableTemplate_Get_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@FK_RST_TableType" type="Int" direction="in" />
    </SqlParameters>
  </SqlParameterItem>

  <!-- End of DynamicTableSchema Manager -->

  <!-- Start of Category - Attribute Mapping-->
  <SqlParameterItem id="DataModelManager_CategoryAttributeMap_Get_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@CategoryId" type="BigInt" direction="in" />
      <SqlParameter name="@CatalogId" type="Int" direction="in" />
      <SqlParameter name="@HierarchyId" type="Int" direction="in" />
      <SqlParameter name="@LocaleID" type="Int" direction="in" />
      <SqlParameter name="@ReturnUniqueAttributes" type="Bit" direction="in" />
    </SqlParameters>
  </SqlParameterItem>


  <SqlParameterItem id="DataModelManager_CategoryAttributeMap_Process_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@CategoryAttributeMapTable" type="Structured" direction="in" >
        <SqlMetadata>
          <SqlColumn name="@FK_NodeCharacteristicTemplate" type="Int" direction="in" />
          <SqlColumn name="@FK_Attribute" type="Int" direction="in" />
          <SqlColumn name="@FK_Taxonomy" type="Int" direction="in" />
          <SqlColumn name="@FK_Category" type="BigInt" direction="in" />
          <SqlColumn name="@Inheritable" type="Bit" direction="in" />
          <SqlColumn name="@InheritableOnly" type="Bit"/>
          <SqlColumn name="@AutoPromotable" type="Bit"/>
          <SqlColumn name="@Action" type="NVarChar" size="8" direction="in"  />
        </SqlMetadata>
      </SqlParameter>
      <SqlParameter name ="@AttributeMasterTable" type="Structured" direction="in" >
        <SqlMetadata>
          <SqlColumn name="FK_Attribute" type="Int" direction="in" />
          <SqlColumn name="ShortName" type="NVarChar" size="-1" direction="in" />
          <SqlColumn name="Longname" type="NVarChar" size="-1" direction="in" />
          <SqlColumn name="FK_AttributeParent" type="Int" direction="in" />
          <SqlColumn name="AttributeParentName" type="NVarChar" size="-1" direction="in" />
          <SqlColumn name="AttributeParentLongName" type="NVarChar" size="-1" direction="in" />
          <SqlColumn name="FK_AttributeType" type="Int" direction="in" />
          <SqlColumn name="AttributetypeName" type="NVarChar" size="-1" direction="in" />
          <SqlColumn name="FK_AttributeDataType" type="Int" direction="in" />
          <SqlColumn name="AttributeDatatypeName" type="NVarChar" size="-1" direction="in" />
          <SqlColumn name="FK_AttributeDisplayType" type="Int" direction="in" />
          <SqlColumn name="AttributeDisplaytypeName" type="NVarChar" size="-1" direction="in" />
          <SqlColumn name="FK_Locale" type="Int" direction="in" />
          <SqlColumn name="AttributeAllowValues" type="NVarChar" size="-1" direction="in" />
          <SqlColumn name="MaxLength" type="Int" direction="in" />
          <SqlColumn name="MinLength" type="Int" direction="in" />
          <SqlColumn name="Required" type="Bit" direction="in" />
          <SqlColumn name="AllowableUOM" type="NVarChar" size="-1" direction="in" />
          <SqlColumn name="DefaultUOM" type="NVarChar" size="-1" direction="in" />
          <SqlColumn name="UOMtype" type="NVarChar" size="-1" direction="in" />
          <SqlColumn name="Precision" type="Int" direction="in" />
          <SqlColumn name="IsCollection" type="Bit" direction="in" />
          <SqlColumn name="MinInclusive" type="NVarChar" size="-1" direction="in" />
          <SqlColumn name="MaxInclusive" type="NVarChar" size="-1" direction="in" />
          <SqlColumn name="MinExclusive" type="NVarChar" size="-1" direction="in" />
          <SqlColumn name="MaxExclusive" type="NVarChar" size="-1" direction="in" />
          <SqlColumn name="Label" type="NVarChar" size="-1" direction="in" />
          <SqlColumn name="Definition" type="NVarChar" size="-1" direction="in" />
          <SqlColumn name="BusinessRule" type="NVarChar" size="-1" direction="in" />
          <SqlColumn name="isReadOnly" type="Bit" direction="in" />
          <SqlColumn name="Extension" type="NVarChar" size="-1" direction="in" />
          <SqlColumn name="AttributeRegEx" type="NVarChar" size="-1" direction="in" />
          <SqlColumn name="LookUpTablename" type="NVarChar" size="-1" direction="in" />
          <SqlColumn name="DefaultValue" type="NVarChar" size="-1" direction="in" />
          <SqlColumn name="ComplexTablename" type="NVarChar" size="-1" direction="in" />
          <SqlColumn name="Path" type="NVarChar" size="-1" direction="in" />
          <SqlColumn name="Searchable" type="Bit" direction="in" />
          <SqlColumn name="Denormalize" type="Bit" direction="in" />
          <SqlColumn name="EnableHistory" type="Bit" direction="in" />
          <SqlColumn name="ShowAtCreation" type="Bit" direction="in" />
          <SqlColumn name="WebUri" type="NVarChar" size="-1" direction="in" />
          <SqlColumn name="LKDisplayColumns" type="NVarChar" size="-1" direction="in" />
          <SqlColumn name="LKSortOrder" type="NVarChar" size="-1" direction="in" />
          <SqlColumn name="LKSearchColumns" type="NVarChar" size="-1" direction="in" />
          <SqlColumn name="LKDisplayFormat" type="NVarChar" size="-1" direction="in" />
          <SqlColumn name="SortOrder" type="Int" direction="in" />
          <SqlColumn name="ExportMask" type="NVarChar" size="-1" direction="in" />
          <SqlColumn name="Inheritable" type="Bit" direction="in" />
          <SqlColumn name="IsHidden" type="Bit" direction="in" />
          <SqlColumn name="IsComplex" type="Bit" direction="in" />
          <SqlColumn name="IsLookup" type="Bit" direction="in" />
          <SqlColumn name="isLocalizable" type="Bit" direction="in" />
          <SqlColumn name="ApplyLocaleFormat" type="Bit" direction="in" />
          <SqlColumn name="ApplyTimeZoneConversion" type="Bit" direction="in" />
          <SqlColumn name="AllowNullSearch" type="Bit" direction="in" />
          <SqlColumn name="Example" type="NVarChar" size="-1" direction="in" />
          <SqlColumn name="IsPrecisionArbitrary" type="Bit" direction="in" />
          <SqlColumn name="Action" type="NVarChar" size="-1" direction="in" />
          <SqlColumn name="AttributeRegExp_ErrorMessage" type="NVarChar" size="500" direction="in" />
        </SqlMetadata>
      </SqlParameter>
      <SqlParameter name="@ProgramName" type="NVarChar" size="300" direction="in" />
      <SqlParameter name="@UserName " type="NVarChar" size="300" direction="in" />
    </SqlParameters>
  </SqlParameterItem>

  <!-- End of Category - Attribute Mapping-->

  <SqlParameterItem id="DataModelManager_EntityType_Get_ParametersArray">
    <SqlParameters>
    </SqlParameters>
  </SqlParameterItem>

  <SqlParameterItem id="DataModelManager_EntityType_Process_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@PK_NodeType" type="Int" direction="in" />
      <SqlParameter name="@ShortName" type="NVarChar" size="50" direction="in" />
      <SqlParameter name="@LongName" type="NVarChar" size="100" direction="in" />
      <SqlParameter name="@UserName" type="NVarChar" size ="50" direction="in" />
      <SqlParameter name="@ProgramName" type="NVarChar" size ="50" direction="in" />
      <SqlParameter name="@Action" type="NVarChar" size ="30" direction="in" />
    </SqlParameters>
  </SqlParameterItem>
  
</SqlParameterItems>
