<?xml version="1.0" encoding="utf-8" ?>
<!-- 
/************************************************************************************
// Description			: Add your parameter arrays here.
Make sure you have verified that an array collection of the same does not exist. 
The id naming convention is the same used for Stored procedures with the addition of 
ParametersArray at the end and the removal of usp_. The size is a required field for 
VarChar and Char etc. Since Xml is case sensitive make sure you have spelled the type correctly.
If in doubt refer the SqlDBType for the naming convention.
************************************************************************************/

Sample usage:

  <SqlParameterItem id="CustomerManager_Customer_Create_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@Id" type="Int" direction="in" />
      <SqlParameter name="@FirstName" type="NVarChar" size="50" direction="in" />
      <SqlParameter name="@LastName" type="NVarChar" size="50" direction="in" />
      <SqlParameter name="@Email" type="NVarChar" size="100" direction="in" />
    </SqlParameters>
  </SqlParameterItem>
  
-->

<SqlParameterItems>
  <!-- Start of InstanceTracking Manager -->
  <SqlParameterItem id="TrackingManager_InstanceTracking_Process_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@RuntimeInstanceId" type="NVarChar" size="500" direction="in" />
      <SqlParameter name="@Status" type="NVarChar" size="50" direction="in" />
      <SqlParameter name="@ProgramName" type="NVarChar" size="300" direction="in" />
    </SqlParameters>
  </SqlParameterItem>
  <!-- End of InstanceTracking Manager -->
  
  <!-- Start of ActivityTracking Manager -->
  <!--<SqlParameterItem id="TrackingManager_ActivityTracking_Process_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@WorkflowTrackingActivityTable" type="Structured" direction="in" >
        <SqlMetadata>
          <SqlColumn name="@FK_Workflow_Version" type="Int" />
          <SqlColumn name="@WorkflowDefinitionActivityId" type="NVarChar" size="300" />
          <SqlColumn name="@ActivityShortName" type="NVarChar" size="300" />
          <SqlColumn name="@ActivityLongName" type="NVarChar" size="300" />
          <SqlColumn name="@RuntimeInstanceId" type="NVarChar" size="500" />
          <SqlColumn name="@ExtendedProperties" type="NVarChar" size="-1" />
          <SqlColumn name="@Status" type="NVarChar" size="50" />
          <SqlColumn name="@ActingUserId" type="Int" />
          <SqlColumn name="@ActedUserId" type="Int" />
          <SqlColumn name="@Comments" type="NVarChar" size="-1" />
          <SqlColumn name="@Variables" type="NVarChar" size="-1" />
          <SqlColumn name="@Arguments" type="NVarChar" size="-1" />
          <SqlColumn name="@CustomData" type="NVarChar" size="-1" />
          <SqlColumn name="@AssignedUsers" type="NVarChar" size="-1" />
          <SqlColumn name="@AssignedRoles" type="NVarChar" size="-1" />
          <SqlColumn name="@AssignementType" type="TinyInt" />
          <SqlColumn name="@SortOrder" type="Int" />
          <SqlColumn name="@IsHumanActivity" type="Bit" />
          <SqlColumn name="@PerformedAction" type="NVarChar" size="50" />
          <SqlColumn name="@PreviousActivityShortName" type="NVarChar" size="300" />
          <SqlColumn name="@LastActivityComments" type="NVarChar" size="-1" />
        </SqlMetadata>
      </SqlParameter>
      <SqlParameter name="@WorkflowInstanceMDMObjectTable" type="Structured" direction="in" >
        <SqlMetadata>
          <SqlColumn name="@FK_Workflow_Instance" type="Int" />
          <SqlColumn name="@Runtime_Instance_Id" type="NVarChar" size="500" />
          <SqlColumn name="@MDMObjectId" type="BigInt" />
          <SqlColumn name="@MDMObjectType" type="NVarChar" size="1000" />
        </SqlMetadata>
      </SqlParameter>
      <SqlParameter name="@ProgramName" type="NVarChar" size="300" direction="in" />
    </SqlParameters>
  </SqlParameterItem>-->

  <SqlParameterItem id="TrackingManager_ActivityTracking_Process_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@WorkflowTrackingActivityTable" type="Structured" direction="in" >
        <SqlMetadata>
          <SqlColumn name="@FK_Workflow_Version" type="Int" />
          <SqlColumn name="@WorkflowDefinitionActivityId" type="NVarChar" size="300" />
          <SqlColumn name="@ActivityShortName" type="NVarChar" size="300" />
          <SqlColumn name="@ActivityLongName" type="NVarChar" size="300" />
          <SqlColumn name="@RuntimeInstanceId" type="NVarChar" size="500" />
          <SqlColumn name="@ExtendedProperties" type="NVarChar" size="-1" />
          <SqlColumn name="@Status" type="NVarChar" size="50" />
          <SqlColumn name="@ActingUserId" type="Int" />
          <SqlColumn name="@ActedUserId" type="Int" />
          <SqlColumn name="@Comments" type="NVarChar" size="-1" />
          <SqlColumn name="@Variables" type="NVarChar" size="-1" />
          <SqlColumn name="@Arguments" type="NVarChar" size="-1" />
          <SqlColumn name="@CustomData" type="NVarChar" size="-1" />
          <SqlColumn name="@AssignedUsers" type="NVarChar" size="-1" />
          <SqlColumn name="@AssignedRoles" type="NVarChar" size="-1" />
          <SqlColumn name="@AssignementType" type="TinyInt" />
          <SqlColumn name="@SortOrder" type="Int" />
          <SqlColumn name="@IsHumanActivity" type="Bit" />
          <SqlColumn name="@PerformedAction" type="NVarChar" size="50" />
          <SqlColumn name="@PreviousActivityShortName" type="NVarChar" size="300" />
          <SqlColumn name="@LastActivityComments" type="NVarChar" size="-1" />
        </SqlMetadata>
      </SqlParameter>
      <SqlParameter name="@WorkflowInstanceMDMObjectTable" type="Structured" direction="in" >
        <SqlMetadata>
          <SqlColumn name="@FK_Workflow_Instance" type="Int" />
          <SqlColumn name="@Runtime_Instance_Id" type="NVarChar" size="500" />
          <SqlColumn name="@MDMObjectId" type="NVarChar" size="500" />
          <SqlColumn name="@MDMObjectType" type="NVarChar" size="1000" />
        </SqlMetadata>
      </SqlParameter>
      <SqlParameter name="@ProgramName" type="NVarChar" size="300" direction="in" />
    </SqlParameters>
  </SqlParameterItem>
  <!-- End of ActivityTracking Manager -->

  <!-- Start of FaultTracking Manager -->
  <SqlParameterItem id="TrackingManager_FaultTracking_Process_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@DataXML" type="Xml" direction="in" />
    </SqlParameters>
  </SqlParameterItem>
  <!-- End of FaultTracking Manager -->

  <!-- Start of Escalations  -->
  <SqlParameterItem id="TrackingManager_Escalation_ElapsedTime_Get_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@WorkflowName" type="Structured" direction="in" >
        <SqlMetadata>
          <SqlColumn name="@ItemValue" type="NVarChar" size="-1" />
        </SqlMetadata>
      </SqlParameter>
      <SqlParameter name="@ActivityName" type="Structured" direction="in" >
        <SqlMetadata>
          <SqlColumn name="@WorkflowName" type="NVarChar" size="600" />
         <SqlColumn name="@ActivityName" type="NVarChar" size="600" />
        </SqlMetadata>
      </SqlParameter>
      <SqlParameter name="@EntityTable" type="Structured" direction="in" >
        <SqlMetadata>
          <SqlColumn name="@EntityId" type="BigInt" />
        </SqlMetadata>
      </SqlParameter>
      <SqlColumn name="@UserName" type="NVarChar" size="300" direction="in" />
    <SqlColumn name="@ElapsedTime" type="Int" direction="in" />
    </SqlParameters>
  </SqlParameterItem>
  <!-- End of Escalations  -->

</SqlParameterItems>

