<?xml version="1.0" encoding="utf-8" ?>
<SqlParameterItems>

	<!--Start of Workflow Runtime-->
	<SqlParameterItem id="Workflow_PersistenceManager_WorkflowInstance_Get_ParametersArray">
		<SqlParameters>
			<SqlParameter name="@DataXML" type="Xml" direction="in" />
		</SqlParameters>
	</SqlParameterItem>

	<SqlParameterItem id="Workflow_PersistenceManager_WorkflowInstance_GetByMDMObjectInWorkflow_ParametersArray">
		<SqlParameters>
			<SqlParameter name="@MDMObjectId" type="Int" direction="in" />
			<SqlParameter name="@MDMObjectType" type="NVarChar" size="1000" direction="in" />
			<SqlParameter name="@WorkflowId" type="Int" direction="in" />
		</SqlParameters>
	</SqlParameterItem>

	<!--<SqlParameterItem id="Workflow_PersistenceManager_WorkflowInstance_GetByMDMObject_ParametersArray">
		<SqlParameters>
			<SqlParameter name="@MDMObjectId" type="Int" direction="in" size="500" />
			<SqlParameter name="@MDMObjectType" type="NVarChar" size="1000" direction="in" />
	  <SqlParameter name="@ActivityShortName" type="NVarChar" size="300" direction="in" />
		</SqlParameters>
	</SqlParameterItem>-->


  <SqlParameterItem id="Workflow_PersistenceManager_WorkflowInstance_GetByMDMObject_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@MDMObjectId" type="NVarChar" direction="in" size="500" />
      <SqlParameter name="@MDMObjectType" type="NVarChar" size="1000" direction="in" />
      <SqlParameter name="@ActivityShortName" type="NVarChar" size="300" direction="in" />
    </SqlParameters>
  </SqlParameterItem>

	<SqlParameterItem id="Workflow_PersistenceManager_WorkflowInstance_GetByRunningInstanceIds_ParametersArray">
		<SqlParameters>
			<SqlParameter name="@RunningInstanceIdList" type="NVarChar" size="-1" direction="in" />
		</SqlParameters>
	</SqlParameterItem>

	<SqlParameterItem id="Workflow_PersistenceManager_WorkflowInstance_Process_ParametersArray">
		<SqlParameters>
      <SqlParameter name="@WorkflowInstanceMasterTable" type="Structured" direction="in" >
        <SqlMetadata>
          <SqlColumn name="@FK_Workflow_Instance" type="Int" />
          <SqlColumn name="@FK_Workflow_Version" type="Int" />
          <SqlColumn name="@Runtime_Instance_Id" type="NVarChar" size="500" />
          <SqlColumn name="@Status" type="NVarChar" size="50" />
          <SqlColumn name="@WorkflowComments" type="NVarChar" size="-1" />
        </SqlMetadata>
      </SqlParameter>
      <SqlParameter name="@WorkflowInstanceMDMObjectTable" type="Structured" direction="in" >
        <SqlMetadata>
          <SqlColumn name="@FK_Workflow_Instance" type="Int" />
          <SqlColumn name="@Runtime_Instance_Id" type="NVarChar" size="500" />
          <SqlColumn name="@MDMObjectId" type="NVarChar" size="500"/>
          <SqlColumn name="@MDMObjectType" type="NVarChar" size="1000" />
        </SqlMetadata>
      </SqlParameter>
			<SqlParameter name="@ProcessingType" type="Int" direction="in" />
			<SqlParameter name="@ServiceId" type="Int" direction="in" />
			<SqlParameter name="@ServiceType" type="NVarChar" size="500" direction="in" />
			<SqlParameter name="@LoginUserID" type="NVarChar" size="50" direction="in" />
			<SqlParameter name="@ProgramName" type="NVarChar" size="50" direction="in" />
		</SqlParameters>
	</SqlParameterItem>

	<SqlParameterItem id="Workflow_PersistenceManager_WorkflowInstance_CheckForRunningInstances_ParametersArray">
		<SqlParameters>
			<SqlParameter name="@MDMObjectIDs" type="NVarChar" size="-1" direction="in" />
			<SqlParameter name="@MDMObjectType" type="NVarChar" size="-1" direction="in" />
			<SqlParameter name="@WorkflowID" type="Int" direction="in" />
		</SqlParameters>
	</SqlParameterItem>

	<SqlParameterItem id="PersistenceManager_WorkflowInstance_UsersAllowedForActivity_Get_ParametersArray">
		<SqlParameters>
			<SqlParameter name="@WorkflowActivityId" type="Int" direction="in" />
			<SqlParameter name="@ActivityShortName" type="NVarChar" size="300" direction="in" />
			<SqlParameter name="@WorkflowVersionId" type="Int" direction="in" />
		</SqlParameters>
	</SqlParameterItem>
	<!--End of Workflow Runtime-->

	<!--Start of Workflow UI-->
	<SqlParameterItem id="Workflow_Dashboard_GetInstanceSummary_ParametersArray">
		<SqlParameters>
			<SqlParameter name="@WorkflowType" type="NVarChar" size="3" direction="in" />
			<SqlParameter name="@FK_Workflow" type="Int" direction="in" />
			<SqlParameter name="@FK_Workflow_Version" type="Int" direction="in" />
			<SqlParameter name="@WorkflowStatus" type="VarChar" size="-1" direction="in" />
			<SqlParameter name="@ActivityShortName" type="VarChar" size="-1" direction="in" />
			<SqlParameter name="@RoleIDs" type="VarChar" size="-1" direction="in" />
			<SqlParameter name="@UserIDs" type="VarChar" size="-1" direction="in" />
			<SqlParameter name="@InstanceID" type="VarChar" size="-1" direction="in" />
			<SqlParameter name="@MDMObjectIDs" type="VarChar" size="-1" direction="in" />
			<SqlParameter name="@HasEscalation" type="Bit" direction="in" />
			<SqlParameter name="@ReturnSize" type="Int" direction="in" />
		</SqlParameters>
	</SqlParameterItem>

	<SqlParameterItem id="Workflow_Dashboard_GetInstanceDetails_ParametersArray">
		<SqlParameters>
			<SqlParameter name="@WorkflowType" type="NVarChar" size="3" direction="in" />
			<SqlParameter name="@Instance_Id" type="NVarChar" size="500" direction="in" />
		</SqlParameters>
	</SqlParameterItem>

	<SqlParameterItem id="Workflow_Dashboard_GetStatistics_ParametersArray">
		<SqlParameters>
			<SqlParameter name="@WorkflowType" type="NVarChar" size="3" direction="in" />
			<SqlParameter name="@FK_Workflow" type="Int" direction="in" />
			<SqlParameter name="@FK_Workflow_Version" type="Int" direction="in" />
		</SqlParameters>
	</SqlParameterItem>

	<SqlParameterItem id="Workflow_Management_Instance_Update_ParametersArray">
		<SqlParameters>
			<SqlParameter name="@InstanceIDs" type="NVarChar" size="-1" direction="in" />
			<SqlParameter name="@MDMObjectIDs" type="NVarChar" size="-1" direction="in" />
			<SqlParameter name="@MDMObjectType" type="NVarChar" size="-1" direction="in" />
			<SqlParameter name="@WorkflowID" type="Int" direction="in" />
			<SqlParameter name="@ActivityShortName" type="NVarChar" size="300" direction="in" />
			<SqlParameter name="@Status" type="NVarChar" size="100" direction="in" />
	  <SqlParameter name="@LoginUser" type="NVarChar" size="100" direction="in" />
	  <SqlParameter name="@ProgramName" type="NVarChar" size="50" direction="in" />
    <SqlParameter name="@ModUser" type="NVarChar" size="100" direction="in" />
		</SqlParameters>
	</SqlParameterItem>

	<SqlParameterItem id="Workflow_Management_ActionButtons_Get_ParametersArray">
		<SqlParameters>
			<SqlParameter name="@ActivityId" type="Int" direction="in" />
			<SqlParameter name="@ToolbarButtonXml" type="NVarChar" size="-1" direction="in" />
      <SqlParameter name="@UserLogin" type="NVarChar" size="150" direction="in" />
      <SqlParameter name="@CheckAllowedUsersAndRoles" type="Bit" direction="in" />
    </SqlParameters>
	</SqlParameterItem>

	<SqlParameterItem id="Workflow_Management_AssignmentButtons_Get_ParametersArray">
		<SqlParameters>
			<SqlParameter name="@ActivityID" type="Int" direction="in" />
			<SqlParameter name="@AssignmentStatus" type="NVarChar" size="100" direction="in" />
			<SqlParameter name="@ToolbarButtonXml" type="NVarChar" size="-1" direction="in" />
			<SqlParameter name="@vchrUserLogin" type="NVarChar" size="150" direction="in" />
      <SqlParameter name="@CheckAllowedUsersAndRoles" type="Bit" direction="in" />
		</SqlParameters>
	</SqlParameterItem>

	<SqlParameterItem id="Catalog_GetWorkflowPanel_ParametersArray">
	  <SqlParameters>
		<SqlParameter name="@ContainerID" type="Int" direction="in" />
		<SqlParameter name="@loginUserID" type="Int" direction="in" />
		<SqlParameter name="@SecurityAttributeRules" type="Structured" direction="in">
		  <SqlMetadata>
			<SqlColumn name="@FK_Attribute" type="Int" />
			<SqlColumn name="@Value" type="NVarChar" size="-1"/>
			<SqlColumn name="@OtherValue" type="NVarChar" size="-1"/>
			<SqlColumn name="@Operator" type="NVarChar" size="-1"/>
		  </SqlMetadata>
		</SqlParameter>
		<SqlParameter name="@ShowEmptyItems" type="Bit" direction="in" />
		<SqlParameter name="@ShowAllOtherItemsAssignment" type="Bit" direction="in" />
    <sqlParameter name="@ShowBusinessCondition" type="Bit" direction="in" />
	  </SqlParameters>
	</SqlParameterItem> 

  <SqlParameterItem id="Workflow_PersistenceManager_WorkflowInstance_GetWorkflowPanel_ParametersArray">
	<SqlParameters>
	  <SqlParameter name="@ContainerID" type="Int" direction="in" />
	  <SqlParameter name="@loginUserID" type="Int" direction="in" />
	  <SqlParameter name="@ShowEmptyItems" type="Bit" direction="in" />
	  <SqlParameter name="@ShowAllOtherItemsAssignment" type="Bit" direction="in" />
    <sqlParameter name="@ShowBusinessCondition" type="Bit" direction="in" />
	</SqlParameters>
  </SqlParameterItem>

  <SqlParameterItem id="PersistenceManager_WorkflowInstance_WorkflowDoneReport_Get_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@LoginUserID" type="Int" direction="in" />
      <SqlParameter name="@UserParticipation" type="NVarChar" size="-1" direction="in" />
      <SqlParameter name="@ContainerIDs" type="Structured" direction="in" >
        <SqlMetadata>
          <SqlColumn name="@ItemValue" type="Int" />
        </SqlMetadata>
      </SqlParameter>
      <SqlParameter name="@EntityTypeIDs" type="Structured" direction="in" >
        <SqlMetadata>
          <SqlColumn name="@ItemValue" type="BigInt" />
        </SqlMetadata>
      </SqlParameter>
      <SqlParameter name="@WorkflowNames" type="Structured" direction="in" >
        <SqlMetadata>
          <SqlColumn name="@ItemValue" type="NVarChar" size="-1" />
        </SqlMetadata>
      </SqlParameter>
      <SqlParameter name="@CurrentWorkflowActionNames" type="Structured" direction="in" >
        <SqlMetadata>
          <SqlColumn name="@ItemValue" type="NVarChar" size="-1" />
        </SqlMetadata>
      </SqlParameter>
      <SqlParameter name="@ReturnAttrIDs" type="Structured" direction="in" >
        <SqlMetadata>
          <SqlColumn name="@ItemValue" type="Int" />
        </SqlMetadata>
      </SqlParameter>
      <SqlParameter name="@LocaleId" type="Int"  direction="in" />
      <SqlParameter name="@CountFrom" type="BigInt"  direction="in" />
      <SqlParameter name="@CountTo" type="BigInt"  direction="in" />
      <SqlParameter name="@TotalCount" type="BigInt"  direction="out" />
      <SqlParameter name="@AttributeDataSource" type="NVarChar"  size="20"  direction="in" />
    </SqlParameters>
  </SqlParameterItem>

  <!--End of Workflow UI-->

  <!--Start Workflow Execution View Details-->
  <SqlParameterItem id="PersistenceManager_WorkflowInstance_ExecutionDetails_Get_ParametersArray">
	<SqlParameters>
    <SqlParameter name="@MDMObjectType" type="NVarChar" size="-1" direction="in" />
	  <SqlParameter name="@MDMObjectID" type="NVarChar" direction="in" size="600"/>
	  <SqlParameter name="@WorkflowName " type="NVarChar"  size="600"  direction="in" />
    <SqlParameter name="@AllDetails " type="Bit" direction="in" />
  </SqlParameters>
  </SqlParameterItem>
  <!--End of Workflow Execution View Details-->

  <SqlParameterItem id="Workflow_PersistenceManager_WorkflowInstance_GetWorkItems_ParametersArray">
    <SqlParameters>
     	<SqlParameter name="@EntityID " type="BigInt" direction="in" />
      <SqlParameter name="@loginUserID" type="Int" direction="in" />
    </SqlParameters>
  </SqlParameterItem>
  
  
</SqlParameterItems>