<appSettings>
  <!-- Database Connection String -->
  <add key="ConnectionString" value="User ID=sa;Data Source=RST-ENGDHRUMAK\MSSQLSERVER2016; Password=yriversandy.01; Initial Catalog=MDMLight; Application Name=Riversand MDM Web;Connection Lifetime=5400;Min Pool Size=10;MultipleActiveResultSets=true;enlist=false;" />
  <!--<add key="ConnectionString" value="User ID=sa;Data Source=192.168.4.215\MSSQLServer16,8050; Initial Catalog=MDM_Indigo1_VP; Password=yriversandy.01; Application Name=Riversand MDM WCFService;Connection Lifetime=5400;Min Pool Size=5;MultipleActiveResultSets=false;" />-->
  <!--<add key="ConnectionString" value="Data Source=ODERQADB12; Initial Catalog=MDM_Indigo3; Integrated Security = SSPI; Application Name=Riversand MDM WCFService;Connection Lifetime=5400;Min Pool Size=5;MultipleActiveResultSets=false;" />-->

  <!-- Workflow Database Connection String -->
  <add key="MSWorkflowConnectionString" value="User ID=sa;Data Source=RST-ENGDHRUMAK\MSSQLSERVER2016; Password=yriversandy.01; Initial Catalog=MDMLight; Application Name=Riversand MDM Web;Connection Lifetime=5400;Min Pool Size=10;MultipleActiveResultSets=true;enlist=false;" />
    
  <!-- Staging Database Connection String -->
  <add key="StagingConnectionString" value="User ID=sa;Data Source=RST-ENGDHRUMAK\MSSQLSERVER2016; Password=yriversandy.01; Initial Catalog=MDMLight; Application Name=Riversand MDM Web;Connection Lifetime=5400;Min Pool Size=10;MultipleActiveResultSets=true;enlist=false;" />

  <!-- Default distributed cache type. Possible Values are: 'AppFabric' and 'None' -->
  <add key="DistributedCacheType" value="AppFabric" />
  <!-- Default distributed cache name. Possible Values are: default, named cache..-->
  <add key="DistributedCacheName" value="dhruma" />
  <!-- Default type for Distributed cache with notification. Possible Values are: 'AppFabricWithNotificationEnabled' and 'None' -->
  <add key="NotificationCacheType" value="AppFabricWithNotificationEnabled" />
  <!-- Default name for Distributed cache with notification. Possible Values are: named cache..-->
  <add key="NotificationCacheName" value="dhruma_notify" />

  <!-- Default internal cache type. Possible Values are: Framework4, AspNet -->
  <!--
    <add key="InternalCacheType" value="Framework4" />

    --><!-- Default distributed cache type. Possible Values are: 'AppFabric', 'Memcached' and 'None' --><!--
    <add key="DistributedCacheType" value="AppFabric" />
    <add key="DistributedCacheName" value="RiverworksDevline" />

    --><!-- Default type for Distributed cache with notification. Possible Values are: 'AppFabricWithNotificationEnabled' and 'None' --><!--
    <add key="NotificationCacheType" value="AppFabricWithNotificationEnabled" />

    --><!-- Default name for Distributed cache with notification. Possible Values are: named cache..--><!--
    <add key="NotificationCacheName" value="RiverworksDevline_DLCache" />

    <add key="BusinessRule.PluginPath" value="C:\Riversand\MainLine\Web\MDM.WCFServices.IISHost\Config\BR\bin" />

    <add key="FileWatcherEnabled" value="true"/>
  
    <add key="Jobs.TemporaryFileRoot" value="C:\Riversand\TempFiles\MDM7.4-SP\Temp\" />

    --><!--<add key="AssemblyFileName" value="RS.BSB.MDM.WebEventHandlers.dll"/>
    <add key="AssemblyClassName" value="BSBMDM.WebEventHandlers.WebEventHandlers"/>-->
</appSettings>