<?xml version="1.0"?>
<configuration>
  <appSettings>

    <add key="BasePath" value="D:\TFS\Engineering\Development\Database\MDM.CoreDB\Schema Objects\"/>
    <!--  The path from which all the other paths in BuildItems start
          Usually the root folder of the solution
          Ex: "D:\MDMCenter\MainLine\Database\MDM.CoreDB\Schema Objects\Schemas\"
    -->

    <add key="ConnectionString" value="OM;MDM_V78;"/>
    <!--  Used in case command line argument is not given by automated build / when run manually
    -->
    
    <add key="GenerateOnly" value="False"/>
    <!--  Give "True" to only generate batch file and not execute it
    -->

    <add key="BuildItemsOnce" value="Functions\CLR Functions,Tables,Tables_Workflow,Scripts\Migration_ChangeScript_DDL.sql,Scripts\Migration_ChangeScript_DML.sql,Scripts\ChangeScript_DDL.sql,Tables\Constraints,Tables\Constraints_Workflow,Tables\Indexes,Tables\Indexes_Workflow,Types\User Defined Table Types,MDMCenter_FTCatalog.sql,Functions,Functions_Workflow,Views,Views_Workflow,Stored Procedures,Scripts\Migration Script\Nhibernate Migration\usp_SyndicationManager_LegacyExportProfile_Get.sql,Stored Procedures_Workflow,Tables\InsertionScripts,Tables\InsertionScripts_Workflow,Scripts\ApplicationConfigurationDataScript.sql,Tables\Triggers,Tables\Triggers_Workflow,Scripts\ChangeScript_DML.sql"/>
    <add key="BuildItemsTwice" value=""/>

    <add key="DBConfiguration" value="PC_Dev"/>
    <!-- Default configuration will be PC_Dev (for core);
          Other configurations will be SPMS, customer name 
          with changes in BasePath and BuildItemsOnce
    -->
    <add key="CreateErrorLog" value="False"/>
    <!-- Save the standard errors to a log files
    -->

    <add key="AuthType" value="Windows Authentication"/>
    <!--  Give "SQL Server Authentication" to execute scripts with SQL Server Authentication
    -->

    <add key="ExecuteMigrationScript" value="False"/>
    <!-- Default value is False. If value is true, tool will execute Migration Changescript DDL & DML scripts -->

    <!-- Seed DB -->
    <add key="BasePath_CreateDB" value="D:\MDMCenter\MainLine\Database\MDM.Workflow.Database\Schema Objects\Schemas\dbo\"/>
    <add key="BuildItemsOnce_CreateDB" value="Database Level Objects\Assemblies\Riversand.SqlServer.CLR.sql,Functions\CLR Functions,Tables,Tables_Workflow,Scripts\ChangeScript_DDL.sql,Tables\Constraints,Tables\Constraints_Workflow,Tables\Indexes,Tables\Indexes_Workflow,Tables\InsertionScripts,Tables\InsertionScripts_Workflow,Types\User Defined Table Types,MDMCenter_FTCatalog.sql,Functions,Functions_Workflow,Views,Views_Workflow,Scripts\ApplicationConfigurationDataScript.sql,Stored Procedures,Scripts\Migration Script\Nhibernate Migration\usp_SyndicationManager_LegacyExportProfile_Get.sql,Stored Procedures_Workflow,Tables\Triggers,Tables\Triggers_Workflow,Scripts\ChangeScript_DML.sql"/>
    <add key="BuildItemsTwice_CreateDB" value=""/>

    <!-- Staging DB Config details-->
    <add key="BasePath_StagingDB" value="D:\MDMCenter\MainLine\Database\MDM.Staging.Database\Schema Objects\Schemas\dbo\"/>
    <add key="BuildItemsOnce_StagingDB" value="Tables,Scripts\Migration_ChangeScript_DDL.sql,Scripts\Migration_ChangeScript_DML.sql,Scripts\ChangeScript_DDL.sql,Tables\Indexes,Programmability\Functions,Views,Programmability\Stored Procedures"/>
    <add key="BuildItemsTwice_StagingDB" value=""/>

    <!-- Workflow Config details-->
    <add key="BasePath_Workflow" value="C:\Riversand\MainLine\Workflow\Database\"/>
    <add key="BuildItemsOnce_Workflow" value="Scripts\Pre-Deployment,Tables,Views,Tables\Indexes,Tables\Triggers,Programmability\Stored Procedures,Programmability\Functions"/>
    <add key="BuildItemsTwice_Workflow" value=""/>

    <!-- Vendor Portal Config details-->
    <add key="BasePath_VendorPortal" value="D:\MDMCenter\MainLine\Database\VendorPortal\Schemas\"/>
    <add key="BuildItemsOnce_VendorPortal" value="Scripts\Migration_ChangeScript_DDL.sql,Scripts\Migration_ChangeScript_DML.sql,dbo\Scripts\ChangeScript_DDL.sql,dbo\Tables,dbo\Tables\Indexes,dbo\Tables\InsertionScripts,dbo\Programmability\Functions,dbo\Views,dbo\Programmability\Stored Procedures,CoreSQLObjects\Tables,CoreSQLObjects\Programmability\Functions,CoreSQLObjects\Views,CoreSQLObjects\Programmability\Stored Procedures,dbo\Tables\Triggers,dbo\Scripts\ChangeScript_DML.sql,dbo\Scripts\AppConfig.sql,dbo\Scripts\ApplicationConfigurationDataScript.sql"/>
    <add key="BuildItemsTwice_VendorPortal" value=""/>

    <!-- 1WorldSync Config details-->
    <add key="BasePath_OneWorldSync" value="D:\MDMCenter\MainLine\Database\OneWorldSync\MDM.Core.Database\Schema Objects\Schemas\dbo\"/>
    <add key="BuildItemsOnce_OneWorldSync" value="Tables,Scripts\ChangeScript_DDL.sql,Tables\Indexes,Programmability\Types\User Defined Table Types,Tables\InsertionScripts,Programmability\Functions,Views,Programmability\Stored Procedures,Scripts"/>
    <add key="BuildItemsTwice_OneWorldSync" value=""/>

    <!-- MAM Config details-->
    <add key="BasePath_MAM" value="D:\MDMCenter\MainLine\Database\OneWorldSync\MDM.Core.Database\Schema Objects\Schemas\dbo\"/>
    <add key="BuildItemsOnce_MAM" value="Tables,Scripts\ChangeScript_DDL.sql,Tables\Indexes,Programmability\Types\User Defined Table Types,Tables\InsertionScripts,Programmability\Functions,Views,Programmability\Stored Procedures,Scripts"/>
    <add key="BuildItemsTwice_MAM" value=""/>

    <!-- DQM DB Config details-->
    <add key="BasePath_DQMDB" value="D:\MDMCenter\MainLine\Database\MDM.DQM.Database\Schema Objects\Schemas\dbo\"/>
    <add key="BuildItemsOnce_DQMDB" value="Tables,Scripts\ChangeScript_DDL.sql,Tables\Indexes,Programmability\Types\User Defined Table Types,Tables\InsertionScripts,Programmability\Functions,Views,Programmability\Stored Procedures,Scripts\ChangeScript_DML.sql"/>
    <add key="BuildItemsTwice_DQMDB" value=""/>

    <!--Subscriber Config details-->
    <add key="BasePath_Subscriber" value="C:\Riversand\Database\Replication scripts\"/>
    <add key="BuildItemsOnce_Subscriber" value="Database Level Objects\Assemblies\Riversand.SqlServer.CLR.sql,Functions\CLR Functions,Tables,Tables\Constraints,Tables\Indexes,Types\User Defined Table Types,MDMCenter_FTCatalog.sql,Functions,Views,Scripts\ApplicationConfigurationDataScript.sql,Scripts\ChangeScript_DDL.sql,Scripts\AppConfig.sql,Stored Procedures,Tables\Triggers,Scripts\ChangeScript_DML.sql"/>
    <add key="BuildItemsTwice_Subscriber" value=""/>

    <!--Replication(Snapshot Method) Config details-->
    <add key="BasePath_ReplicationSnapshot" value="C:\Riversand\Database\Replication scripts"/>
    <add key="BuildItemsOnce_ReplicationSnapshot" value="Replication scripts\Snapshot Method\usp_Replication_CreateSubscriptionJob.sql,Replication scripts\Snapshot Method\usp_Replication_Snapshot_DDLTrigger.sql,Replication scripts\Snapshot Method\CreatePublication.sql,Replication scripts\Snapshot Method\CreateSubscription.sql"/>
    <add key="BuildItemsTwice_ReplicationSnapshot" value=""/>

    <!--Replication(BackupRestore Method) Config details-->
    <add key="BasePath_ReplicationBackupRestoreCreatePublisher" value="C:\Riversand\Database\Replication scripts\"/>
    <add key="BuildItemsOnce_ReplicationBackupRestoreCreatePublisher" value="Programmability\Stored Procedures,Tables,Scripts\BackupRestore\CreatePublication_Core.sql,Scripts\BackupRestore\CreatePublication_Complex.sql,Scripts\BackupRestore\CreatePublication_LookUp.sql"/>
    <add key="BuildItemsTwice_ReplicationBackupRestoreCreatePublisher" value=""/>

    <add key="BasePath_ReplicationBackupRestoreCreateSubscriber" value="C:\Riversand\Database\Replication scripts\"/>
    <add key="BuildItemsOnce_ReplicationBackupRestoreCreateSubscriber" value="Scripts\BackupRestore\CreateSubscription_Core.sql,Scripts\BackupRestore\CreateSubscription_Complex.sql,Scripts\BackupRestore\CreateSubscription_LookUp.sql"/>
    <add key="BuildItemsTwice_ReplicationBackupRestoreCreateSubscriber" value=""/>

    <add key="BasePath_ReplicationJobSchedule_Dist" value="C:\Riversand\Database\Replication scripts\"/>
    <add key="BuildItemsOnce_ReplicationJobSchedule_Dist" value="Scripts\BackupRestore\ReplicationJobSchedule_Core.sql,Scripts\BackupRestore\ReplicationJobSchedule_Complex.sql,Scripts\BackupRestore\ReplicationJobSchedule_Lookup.sql"/>
    <add key="BuildItemsTwice_ReplicationJobSchedule_Dist" value=""/>

    <add key="BasePath_SubscriberOnlyTrigger" value="C:\Riversand\Database\Replication scripts\"/>
    <add key="BuildItemsOnce_SubscriberOnlyTrigger" value="Tables\Triggers"/>
    <add key="BuildItemsTwice_SubscriberOnlyTrigger" value=""/>

    <add key="BasePath_PC_Dev_SubUpdate" value="D:\MDMCenter\MainLine\Database\MDM.Workflow.Database\Schema Objects\Schemas\dbo\"/>
    <add key="BuildItemsOnce_PC_Dev_SubUpdate" value="Scripts\70_SubscriberChangeScript_DDL.sql,Functions\CLR Functions,Tables\Indexes,Tables\Indexes_Workflow,Types\User Defined Table Types,MDMCenter_FTCatalog.sql,Functions,Functions_Workflow,Views,Views_Workflow,Stored Procedures,Stored Procedures_Workflow,Tables\Triggers,Tables\Triggers_Workflow"/>
    <add key="BuildItemsTwice_PC_Dev_SubUpdate" value=""/>

    <add key="BasePath_VendorPortal_SubUpdate" value="D:\Riversand\Core\Development\Database\MDM.CoreDB\Schema Objects\Schemas\"/>
    <add key="BuildItemsOnce_VendorPortal_SubUpdate" value="dbo\Tables\Indexes,dbo\Programmability\Functions,dbo\Views,dbo\Programmability\Stored Procedures,CoreSQLObjects\Programmability\Functions,CoreSQLObjects\Views,CoreSQLObjects\Programmability\Stored Procedures,dbo\Tables\Triggers"/>
    <add key="BuildItemsTwice_VendorPortal_SubUpdate" value=""/>

    <add key="BasePath_ReplicationProc_Pub_Update" value="C:\Riversand\Database\Replication scripts\"/>
    <add key="BuildItemsOnce_ReplicationProc_Pub_Update" value="Programmability\Stored Procedures"/>
    <add key="BuildItemsTwice_ReplicationProc_Pub_Update" value=""/>

    <add key="BasePath_ReplicationProc_Sub_Update" value="C:\Riversand\Database\Replication scripts\"/>
    <add key="BuildItemsOnce_ReplicationProc_Sub_Update" value="Programmability\Stored Procedures"/>
    <add key="BuildItemsTwice_ReplicationProc_Sub_Update" value=""/>
    
    <!-- SPMS Config details-->
    <!--<add key="BasePath_SPMS" value="C:\Riversand\MainLine\Database\SPMS Database\"/>
    <add key="BuildItemsOnce_SPMS" value="Scripts\AppConfig.sql, Scripts\ChangeScript.sql"/>
    <add key="BuildItemsTwice_SPMS" value="Views\Views.ssmssqlproj,Triggers\Triggers.ssmssqlproj,Procedures\Procedures.ssmssqlproj,Functions\Functions.ssmssqlproj"/>-->
       
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
