<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IInternalCommonService" />
                <binding name="NetTcpBinding_ILegacyDataAccessService" />
                <binding name="NetTcpBinding_IInternalCommonService1" />
                <binding name="NetTcpBinding_IInternalCommonService2" />
                <binding name="NetTcpBinding_ILegacyDataAccessService1" />
            </netTcpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IInternalCommonService">
                    <security>
                        <message clientCredentialType="UserName" negotiateServiceCredential="false"
                            establishSecurityContext="false" />
                    </security>
                </binding>
                <binding name="WSHttpBinding_ILegacyDataAccessService">
                    <security>
                        <message clientCredentialType="UserName" negotiateServiceCredential="false"
                            establishSecurityContext="false" />
                    </security>
                </binding>
                <binding name="WSHttpBinding_IInternalCommonService1">
                    <security>
                        <message clientCredentialType="UserName" negotiateServiceCredential="false"
                            establishSecurityContext="false" />
                    </security>
                </binding>
                <binding name="WSHttpBinding_ILegacyDataAccessService1">
                    <security>
                        <message clientCredentialType="UserName" negotiateServiceCredential="false"
                            establishSecurityContext="false" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/MainLine_WCFServices/InternalCommonService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IInternalCommonService"
                contract="InternalCommonServiceClient.IInternalCommonService"
                name="WSHttpBinding_IInternalCommonService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://shree.riversand.com/MainLine_WCFServices/InternalCommonService.svc"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IInternalCommonService"
                contract="InternalCommonServiceClient.IInternalCommonService"
                name="NetTcpBinding_IInternalCommonService">
                <identity>
                    <servicePrincipalName value="host/localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost/MainLine_WCFServices/LegacyDataAccessService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ILegacyDataAccessService"
                contract="LegacyDataAccessServiceClient.ILegacyDataAccessService"
                name="WSHttpBinding_ILegacyDataAccessService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://shree.riversand.com/MainLine_WCFServices/LegacyDataAccessService.svc"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ILegacyDataAccessService"
                contract="LegacyDataAccessServiceClient.ILegacyDataAccessService"
                name="NetTcpBinding_ILegacyDataAccessService">
                <identity>
                    <servicePrincipalName value="host/localhost" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://rst-devphani.riversand.com/Development_WCFServices/InternalCommonService.svc"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IInternalCommonService1"
                contract="InternalCommonServiceClient.IInternalCommonService"
                name="NetTcpBinding_IInternalCommonService1">
                <identity>
                    <servicePrincipalName value="host/localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost/Development_WCFServices/LegacyDataAccessService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ILegacyDataAccessService1"
                contract="LegacyDataAccessServiceClient.ILegacyDataAccessService"
                name="WSHttpBinding_ILegacyDataAccessService1">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://rst-engjaybp.riversand.com/Development_WCFServices/LegacyDataAccessService.svc"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ILegacyDataAccessService1"
                contract="LegacyDataAccessServiceClient.ILegacyDataAccessService"
                name="NetTcpBinding_ILegacyDataAccessService1">
                <identity>
                    <servicePrincipalName value="host/localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost/Development_WCFServices/InternalCommonService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IInternalCommonService1"
                contract="InternalCommonServiceClient.IInternalCommonService"
                name="WSHttpBinding_IInternalCommonService1">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://rst-devvijay.riversand.com/Development_WCFServices/InternalCommonService.svc"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IInternalCommonService2"
                contract="InternalCommonServiceClient.IInternalCommonService"
                name="NetTcpBinding_IInternalCommonService2">
                <identity>
                    <servicePrincipalName value="host/localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>