<?xml version="1.0" encoding="utf-8" ?>
<!-- 
/************************************************************************************
// Description			: Add your parameter arrays here.
Make sure you have verified that an array collection of the same does not exist. 
The id naming convention is the same used for Stored procedures with the addition of 
ParametersArray at the end and the removal of usp_. The size is a required field for 
VarChar and Char etc. Since Xml is case sensitive make sure you have spelled the type correctly.
If in doubt refer the SqlDBType for the naming convention.
************************************************************************************/

Sample usage:

  <SqlParameterItem id="CustomerManager_Customer_Create_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@Id" type="Int" direction="in" />
      <SqlParameter name="@FirstName" type="NVarChar" size="50" direction="in" />
      <SqlParameter name="@LastName" type="NVarChar" size="50" direction="in" />
      <SqlParameter name="@Email" type="NVarChar" size="100" direction="in" />
    </SqlParameters>
  </SqlParameterItem>
  
-->

<SqlParameterItems>
	<!-- Start of AppConfig Manager -->
  <SqlParameterItem id="AdminManager_AppConfig_Get_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@Object" type="NVarChar" size="20" direction="in" />
      <SqlParameter name="@ObjectID" type="Int" direction="in" />
      <SqlParameter name="@SearchValue" type="NVarChar" size="4000" direction="in" />
      <SqlParameter name="@TopRows" type="Int" direction="in" />
    </SqlParameters>
  </SqlParameterItem>

  <SqlParameterItem id="AdminManager_AppConfig_Process_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@id" type="Int" direction="in" />
      <SqlParameter name="@name" type="VarChar" size="150" direction="in" />
      <SqlParameter name="@value" type="NVarChar" size="-1" direction="in" />
      <SqlParameter name="@description" type="VarChar" size="100" direction="in" />
      <SqlParameter name="@longdescription" type="VarChar" size="-1" direction="in" />
      <SqlParameter name="@validationrule" type="VarChar" size="-1" direction="in" />
      <SqlParameter name="@validationmethod" type="VarChar" size="-1" direction="in" />
      <SqlParameter name="@domain" type="VarChar" size="50" direction="in" />
      <SqlParameter name="@client" type="VarChar" size="50" direction="in" />
      <SqlParameter name="@row_source_type" type="VarChar" size="50" direction="in" />
      <SqlParameter name="@row_source" type="NVarChar" size="-1" direction="in" />
      <SqlParameter name="@user" type="VarChar" size="50" direction="in" />
      <SqlParameter name="@program" type="VarChar" size="50" direction="in" />
    </SqlParameters>
  </SqlParameterItem>
  
  <!-- End of AppConfig Manager -->

  <!-- Start of Security User -->
  <SqlParameterItem id="AdminManager_getUsers_XML_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@intPK_Security_User" type="Int" direction="in" />
      <SqlParameter name="@intUserType" type="Int" direction="in" />
      <SqlParameter name="@intCountFrom" type="Int" direction="in" />
      <SqlParameter name="@intCountTo" type="Int" direction="in" />
      <SqlParameter name="@vchrSortColumn" type="NVarChar" size="50" direction="in" />
      <SqlParameter name="@vchrSearchColumn" type="NVarChar" size="50" direction="in" />
      <SqlParameter name="@vchrSearchParameter" type="NVarChar" size="50" direction="in" />
      <SqlParameter name="@vchrUserLogin" type="NVarChar" size="50" direction="in" />
    </SqlParameters>
  </SqlParameterItem>

  <SqlParameterItem id="AdminManager_getRoles_XML_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@intPK_Security_Role" type="Int" direction="in" />
      <SqlParameter name="@intUserType" type="Int" direction="in" />
      <SqlParameter name="@chrGetPermissionSetOnly" type="NVarChar" size="1" direction="in" />
      <SqlParameter name="@intCountFrom" type="Int" direction="in" />
      <SqlParameter name="@intCountTo" type="Int" direction="in" />
      <SqlParameter name="@vchrSortColumn" type="NVarChar" size="50" direction="in" />
      <SqlParameter name="@vchrSearchColumn" type="NVarChar" size="50" direction="in" />
      <SqlParameter name="@vchrSearchParameter" type="NVarChar" size="50" direction="in" />
      <SqlParameter name="@vchrUserLogin" type="NVarChar" size="50" direction="in" />
      <SqlParameter name="@bitDisplaySystemRole" type="Bit" direction="in" />
    </SqlParameters>
  </SqlParameterItem>

  <SqlParameterItem id="AdminManager_SecurityUser_Process_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@SecurityUserProcessTable" type="Structured" direction="in" >
        <SqlMetadata>
          <SqlColumn name="@PK_Security_User" type="Int" />
          <SqlColumn name="@FK_Security_UserType" type="Int" />
          <SqlColumn name="@ExternalEntityID" type="Int"/>
          <SqlColumn name="@Login" type="NVarChar" size="50" />
          <SqlColumn name="@FirstName" type="NVarChar" size="150" />
          <SqlColumn name="@LastName" type="NVarChar" size="150" />
          <SqlColumn name="@Initials" type="NVarChar" size="10" />
          <SqlColumn name="@Disabled" type="Bit"  />
          <SqlColumn name="@SMTP"  type="NVarChar" size="50" />
          <SqlColumn name="@Password" type="NVarChar" size="100" />
          <SqlColumn name="@Action" type="NVarChar" size="20" />
          <SqlColumn name="@Status" type="NVarChar" size="200" />
          <SqlColumn name="@FK_PrivateRole" type="Int" />
          <SqlColumn name="@FK_Security_User_Manager" type="Int" />
          <SqlColumn name="@AuthenticationType" type="Int" />
          <SqlColumn name="@FK_Locale_UI" type="Int" />
          <SqlColumn name="@FK_Locale_Data" type="Int" />
          <SqlColumn name="@AuthenticationToken" type="Xml" direction="in" />
          <SqlColumn name="@IsSystemCreated" type="Bit" />
        </SqlMetadata>
      </SqlParameter>
      <SqlParameter name="@SecurityRoleUserTable" type="Structured" direction="in" >
        <SqlMetadata>
          <SqlColumn name="@PK_Security_Role" type="Int" />
          <SqlColumn name="@Login" type="NVarChar" size="50" />
          <SqlColumn name="@PK_Security_User" type="Int"/>
        </SqlMetadata>
      </SqlParameter>
      <SqlParameter name="@vchrUserLogin" type="NVarChar" size="50" direction="in"/>
    </SqlParameters>
  </SqlParameterItem>

  <SqlParameterItem id="AdminManager_SecurityRole_Process_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@SecurityRoleID" type="Int" direction="in"/>
      <SqlParameter name="@SecurityUserType" type="Int" size="50" direction="in"/>
      <SqlParameter name="@ShortName" type="NVarChar" size="300" direction="in"/>
      <SqlParameter name="@LongName" type="NVarChar" size="600" direction="in"/>
      <SqlParameter name="@PermissionSet" type="NVarChar" size="1" direction="in"/>
      <SqlParameter name="@PrivateRole" type="NVarChar" size="1" direction="in"/>
      <SqlParameter name="@SecurityUserTable" type="Structured" direction="in" >
        <SqlMetadata>
          <SqlColumn name="@SecurityUserID" type="Int" />
          <SqlColumn name="@Login" type="NVarChar" size="100" />
        </SqlMetadata>
      </SqlParameter>
      <SqlParameter name="@Action" type="NVarChar" size="30" direction="in"/>
      <SqlParameter name="@LoginUser" type="NVarChar" size="100" direction="in"/>
      <SqlParameter name="@ProgramName" type="NVarChar" size="300" direction="in"/>
      <SqlParameter name="@ReturnResult" type="Bit" direction="in"/>
    </SqlParameters>
  </SqlParameterItem>
  
  <!-- End of Security User -->

  <!-- Start of User Principal -->
  <SqlParameterItem id="AdminManager_getUsersWithRoles_XML_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@intPK_Security_User" type="Int" direction="in" />
      <SqlParameter name="@intCountFrom" type="Int" direction="in" />
      <SqlParameter name="@intCountTo" type="Int" direction="in" />
      <SqlParameter name="@vchrSearchColumn" type="NVarChar" size="50" direction="in" />
      <SqlParameter name="@vchrSearchParameter" type="NVarChar" size="50" direction="in" />
      <SqlParameter name="@vchrUserLogin" type="NVarChar" size="50" direction="in" />
    </SqlParameters>
  </SqlParameterItem>
  <!-- End of User Principal -->
  
  <!--Start of Data Security-->

  <SqlParameterItem id="AdminManager_DataSecurity_Permissions_Get_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@MDMObjectType" type="NVarChar" size="1000" direction="in" />
      <SqlParameter name="@MDMObjectId" type="Int" direction="in" />
      <SqlParameter name="@RoleId" type="Int"  direction="in" />
      <SqlParameter name="@UserId" type="Int" direction="in" />
      <SqlParameter name="@OrgId" type="Int" direction="in" />
      <SqlParameter name="@ContainerId" type="Int"  direction="in" />
      <SqlParameter name="@EntityTypeId" type="Int"  direction="in" />
      <SqlParameter name="@CategoryId" type="Int"  direction="in" />
      <SqlParameter name="@RelationshipTypeId" type="Int"  direction="in" />
      <SqlParameter name="@LocaleId" type="Int"  direction="in" />
      <SqlParameter name="@EntityId" type="Int"  direction="in" />
      <SqlParameter name="@AttributeId" type="Int"  direction="in" />
    </SqlParameters>
  </SqlParameterItem>
  
  <SqlParameterItem id="AdminManager_DataSecurity_GetDataSecurityGetCatalogPermissionsByOrg_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@vchrTargetUserLogin" type="NVarChar" size="50" direction="in" />
      <SqlParameter name="@vchrUserLogin" type="NVarChar" size="50" direction="in" />
      <SqlParameter name="@FK_Org" type="Int"  direction="in" />
      <SqlParameter name="@FK_Locale" type="Int" direction="in" />
      <SqlParameter name="@intCountFrom" type="Int" direction="in" />
      <SqlParameter name="@intCountTo" type="Int"  direction="in" />
      <SqlParameter name="@vchrSortColumn" type="VarChar" size="50" direction="in" />
      <SqlParameter name="@vchrSearchColumn" type="NVarChar" size="50" direction="in" />
      <SqlParameter name="@vchrSearchParameter" type="NVarChar" size="50" direction="in" />
      <SqlParameter name="@PK_Catalog" type="Int" direction="in" />
      <SqlParameter name="@IncludeTaxonomy" type="Bit" direction="in" />
      <SqlParameter name="@IncludeDynamicTaxonomy" type="Bit" direction="in" />
      <SqlParameter name="@IncludeCatalog" type="Bit" direction="in" />
      <SqlParameter name="@IncludeView" type="Bit" direction="in" />
      <SqlParameter name="@IncludeProduction" type="Bit" direction="in" />
      <SqlParameter name="@IncludeDraft" type="Bit"  direction="in" />
    </SqlParameters>
  </SqlParameterItem>
  
  <!--End of Data Security-->

  <SqlParameterItem id="AdminManager_UserPreferences_GetUserPreferences_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@vchrTargetUserLogin" type="NVarChar" size="50" direction="in" />
      <SqlParameter name="@vchrUserLogin" type="NVarChar" size="50" direction="in" />
    </SqlParameters>
  </SqlParameterItem>

  <SqlParameterItem id="AdminManager_UserPreferences_Process_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@txtXML" type="Xml" direction="in" />
      <SqlParameter name="@vchrTargetUserLogin" type="NVarChar" size="50" direction="in" />
      <SqlParameter name="@vchrUserLogin" type="NVarChar" size="50" direction="in" />
    </SqlParameters>
  </SqlParameterItem>

  <SqlParameterItem id="AdminManager_UserPrincipal_AuthenticateUser_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@vchrUserLogin" type="NVarChar" size="50" direction="in" />
      <SqlParameter name="@vchrPassword" type="NVarChar" size="50" direction="in" />
    </SqlParameters>
  </SqlParameterItem>

  <SqlParameterItem id="AdminManager_SecurityUser_GetUser_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@SecurityUserTable" type="Structured" direction="in" >
                <SqlMetadata>
                    <SqlColumn name="@SecurityUserID" type="Int" />
                    <SqlColumn name="@Login" type="NVarChar" size="100" />
                </SqlMetadata>
       </SqlParameter>
      <SqlParameter name="@IncludeDisabledUsers" type="Bit" direction="in" />
    </SqlParameters>
  </SqlParameterItem>

  <SqlParameterItem id="AdminManager_SecurityUser_GetUsers_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@RoleID" type="Int" direction="in" />
      <SqlParameter name="@UserId" type="Int" direction="in" />
      <SqlParameter name="@UserType" type="Int" direction="in" />
      <SqlParameter name="@Login" type="NVarChar" size="100" direction="in" />
      <SqlParameter name="@LoginUser" type="NVarChar" size="100" direction="in" />
    </SqlParameters>
  </SqlParameterItem>

  <SqlParameterItem id="AdminManager_SecurityRole_GetRoles_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@RoleID" type="Int" direction="in" />
      <SqlParameter name="@UserType" type="Int" direction="in" />
      <SqlParameter name="@ShortName" type="NVarChar" size="300" direction="in" />
      <SqlParameter name="@PermissionSet" type="NVarChar" size="1" direction="in" />
      <SqlParameter name="@ReturnPrivateRoles" type="NVarChar" size="1" direction="in" />
      <SqlParameter name="@LoginUser" type="NVarChar" size="100" direction="in" />
    </SqlParameters>
  </SqlParameterItem>
  
  <SqlParameterItem id="AdminManager_UserConfig_Process_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@PK_UserConfig" type="Int" direction="in" />
      <SqlParameter name="@FK_UserConfigType" type="Int" direction="in" />
      <SqlParameter name="@FK_SecurityUser" type="Int"  direction="in" />
      <SqlParameter name="@FK_Org" type="Int" direction="in" />
      <SqlParameter name="@ConfigXml" type="NVarChar" size="-1" direction="in" />
      <SqlParameter name="@CreateUser" type="NVarChar" size="200"  direction="in" />
      <SqlParameter name="@CreateProgram" type="NVarChar" size="200" direction="in" />
      <SqlParameter name="@UserConfigShortName" type="NVarChar" size="200" direction="in" />
      <SqlParameter name="@Action" type="NVarChar" size="50" direction="in" />
    </SqlParameters>
  </SqlParameterItem>
  <!--Start of Audit Ref-->
  <SqlParameterItem id="usp_Audit_Ref_SET_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@ModUser" type="NVarChar" direction="in" size="60"/>
      <SqlParameter name="@ModProgram" type="NVarChar" direction="in" size="300"/>
      <SqlParameter name="@IsNew" type="Bit" direction="in"/>
      <SqlParameter name="@PK_Audit_Ref" type="BigInt" direction="out"/>
    </SqlParameters>
  </SqlParameterItem>

  <SqlParameterItem id="AdminManager_AuditInfo_EntityAuditRef_Get_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@EntityTable" type="Structured" direction="in">
        <SqlMetadata>
          <SqlColumn name="@EntityId" type="BigInt" />
        </SqlMetadata>
      </SqlParameter>
      <SqlParameter name="@AttributeTable" type="Structured" direction="in">
        <SqlMetadata>
          <SqlColumn name="@AttributeId" type="Int" />
        </SqlMetadata>
      </SqlParameter>
      <SqlParameter name="@LocaleTable" type="Structured" direction="in">
        <SqlMetadata>
          <SqlColumn name="@FK_Locale" type="Int" />
          <SqlColumn name="@ShortName" type="NVarChar" size="100" />
          <SqlColumn name="@IsSystemLocale" type="Bit" />
        </SqlMetadata>
      </SqlParameter>
      <SqlParameter name="@Seq" type="Int" direction="in"/>
      <SqlParameter name="@ReturnEntityAudit" type="Bit" direction="in"/>
      <SqlParameter name="@ReturnAttributeAudit" type="Bit" direction="in"/>
      <SqlParameter name="@ReturnOnlyLatestAudit" type="Bit" direction="in"/>
    </SqlParameters>
  </SqlParameterItem>

  <SqlParameterItem id="AdminManager_AuditInfo_Get_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@AuditRefTable" type="Structured" direction="in" >
        <SqlMetadata>
          <SqlColumn name="@FK_Audit_Ref" type="BigInt" />
        </SqlMetadata>
      </SqlParameter>
    </SqlParameters>
  </SqlParameterItem>

  <!--End of Audit Ref-->

  <SqlParameterItem id="AdminManager_Menu_Get_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@UserLogin" type="NVarChar" size="50" direction="in" />
    </SqlParameters>
  </SqlParameterItem>

  <SqlParameterItem id="AdminManager_Template_Process_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@TemplateTable" type="Structured" direction="in">
        <SqlMetadata>
          <SqlColumn name="@PK_Template" type="Int" />
          <SqlColumn name="@ShortName" type="NVarChar" size="200" />
          <SqlColumn name="@LongName" type="NVarChar" size="400" />
          <sqlColumn name ="@TemplateType" type="NVarChar" size="50"/>
          <SqlParameter name="@FileData" type="VarBinary" size="2147483647"/>
          <SqlParameter name="@FileType" type="NVarChar" size="100" />
          <SqlColumn name="@FK_Locale" type="Int" />
          <SqlParameter name="@Action" type="NVarChar" size="50" />
        </SqlMetadata>
      </SqlParameter>
      <SqlParameter name="@UserId" type="Int" direction="in" />
      <SqlParameter name="@ProgramName" type="NVarChar" size="300" direction="in" />
    </SqlParameters>
  </SqlParameterItem>

  <SqlParameterItem id="usp_AdminManager_Template_Get_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@TemplateId" type="Int" direction="in" />
      <SqlParameter name="@TemplateName" type="NVarChar" size="300" direction="in" />
      <SqlParameter name="@TemplateType" type="NVarChar" size="50" direction="in" />
    </SqlParameters>
  </SqlParameterItem>
  <!--Start of Build configuration-->
  <SqlParameterItem id="AdminManager_BuildFeature_Get_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@FK_Build_Details" type="Int" direction="in" />
      <SqlParameter name="@Feature_Name" type="NVarChar" size="90" direction="in" />
    </SqlParameters>
  </SqlParameterItem>

  <SqlParameterItem id="AdminManager_FileCheckSum_Process_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@FK_Build_Feature" type="Int" direction="in" />
      <SqlParameter name="@FileHashDetails" type="Structured" direction="in" >
        <SqlMetadata>
          <SqlColumn name="@KeyName" type="NVarChar" size="1000" />
          <SqlColumn name="@Value" type="NVarChar" size="-1" />
        </SqlMetadata>
      </SqlParameter>
      <SqlParameter name="@FilePath" type="NVarChar" size="-1" direction="in" />
      <SqlParameter name="@BuildServer" type="VarChar" size="15" direction="in" />
      <SqlParameter name="@Feature_Description" type="VarChar" size="90" direction="in" />
      <SqlParameter name="@Action" type="NVarChar" size="8" direction="in" />
    </SqlParameters>
  </SqlParameterItem>

  <SqlParameterItem id="AdminManager_BuildStatus_Process_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@Feature_Name" type="VarChar" size="50" direction="in" />
      <SqlParameter name="@Feature_Description" type="VarChar" size="90" direction="in" />
      <SqlParameter name="@BuildType" type="VarChar" size="25" direction="in" />
      <SqlParameter name="@BuildServer" type="VarChar" size="15" direction="in" />
      <SqlParameter name="@Action" type="NVarChar" size="8" direction="in" />
    </SqlParameters>
  </SqlParameterItem>

  <SqlParameterItem id="AdminManager_BuildDetails_Save_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@Build_Version" type="NVarChar" size="20" direction="in" />
      <SqlParameter name="@Features" type="NVarChar" size="200" direction="in" />
      <SqlParameter name="@Feature_Description" type="NVarChar" size="-1" direction="in" />
      <SqlParameter name="@DB_Error" type="Int"  direction="in" />
      <SqlParameter name="@DB_Error_Log" type="Text"  direction="in" />
      <SqlParameter name="@Workflow_Error" type="Int"  direction="in" />
      <SqlParameter name="@Workflow_Error_Log" type="Text"  direction="in" />
      <SqlParameter name="@VendorPortal_Error" type="Int"  direction="in" />
      <SqlParameter name="@VendorPortal_Error_Log" type="Text"  direction="in" />
      <SqlParameter name="@Build_Type" type="VarChar" size="25"  direction="in" />
      <SqlParameter name="@Build_User" type="VarChar" size="50"  direction="in" />
      <SqlParameter name="@Build_Server" type="VarChar" size="15"  direction="in" />
    </SqlParameters>
  </SqlParameterItem>

  <SqlParameterItem id="AdminManager_User_Search_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@Login" type="NVarChar" size="100" direction="in" />
      <SqlParameter name="@EmailId" type="NVarChar" size="150" direction="in" />
    </SqlParameters>
  </SqlParameterItem>

  <SqlParameterItem id="AdminManager_Feature_Toggle_Get_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@Application" type="NVarChar" size="600" direction="in" />
      <SqlParameter name="@Module" type="NVarChar" size="600" direction="in" />
      <SqlParameter name="@Version" type="NVarChar" size="600" direction="in" />
    </SqlParameters>
  </SqlParameterItem>

  <SqlParameterItem id="AdminManager_BuildDetails_Get_UserPermissionForDB">
    <SqlParameters>
      <SqlParameter name="@LoginUser" type="NVarChar" size="100" direction="in" />
    </SqlParameters>
  </SqlParameterItem>

  <SqlParameterItem id="AdminManager_ApplicationConfig_Process_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@ApplicationConfigTable" type="Structured" direction="in">
        <SqlMetadata>
          <SqlColumn name="@FK_Application_Config" type="Int" />
          <SqlColumn name="@FK_Application_ConfigParent" type="Int" />
          <SqlColumn name="@FK_Application_ContextDefinition" type="Int" />
          <SqlColumn name="@ShortName" type="NVarChar" size="150" />
          <SqlColumn name="@LongName" type="NVarChar" size="300" />
          <SqlColumn name="@FK_Org" type="Int" />
          <SqlColumn name="@FK_Catalog" type="Int" />
          <SqlColumn name="@FK_Category" type="BigInt" />
          <SqlColumn name="@FK_CNode" type="BigInt" />
          <SqlColumn name="@FK_Attribute" type="Int" />
          <SqlColumn name="@FK_NodeType" type="Int" />
          <SqlColumn name="@FK_RelationshipType" type="Int" />
          <SqlColumn name="@FK_Security_Role" type="Int" />
          <SqlColumn name="@FK_Security_user" type="Int" />
          <SqlColumn name="@ConfigXML" type="Xml" />
          <SqlColumn name="@Description" type="NVarChar" size="300" />
          <SqlColumn name="@Precondition" type="NVarChar" size="300" />
          <SqlColumn name="@Postcondition" type="NVarChar" size="300" />
          <SqlColumn name="@XSDSchema" type="Xml" />
          <SqlColumn name="@SampleXML" type="Xml" />
          <SqlColumn name="@CreateDateTime" type="DateTime" />
          <SqlColumn name="@ModDateTime" type="DateTime" />
          <SqlColumn name="@CreateUser" type="NVarChar" size="300" />
          <SqlColumn name="@ModUser" type="NVarChar" size="300" />
          <SqlColumn name="@CreateProgram" type="NVarChar" size="300" />
          <SqlColumn name="@ModProgram" type="NVarChar" size="300" />
          <SqlColumn name="@Seq" type="Int"  />
          <SqlColumn name="@FK_Locale" type="Int"  />
          <SqlColumn name="@Action" type="NVarChar" size="10" />
          <SqlColumn name="@ObjectName" type="NVarChar" size="300" />
        </SqlMetadata>
      </SqlParameter>
      <SqlParameter name="@UserLogin" type="NVarChar" size="150" direction="in" />
      <SqlParameter name="@ProgramName" type="NVarChar" size="300" direction="in" />
      <SqlParameter name="@ReturnResult" type="Bit" direction="in" />
    </SqlParameters>
  </SqlParameterItem>

</SqlParameterItems> 
