<?xml version="1.0" encoding="utf-8" ?>

<SqlParameterItems>

  <SqlParameterItem id="BusinessRuleManagement_BusinessRule_Process_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@RuleTable" type="Structured"  direction="in" >
        <SqlMetadata>
          <SqlColumn name="@ReferenceId" type="Int" />
          <SqlColumn name="@PK_Rule" type="Int" />
          <SqlColumn name="@FK_RuleType" type="Int" />
          <SqlColumn name="@Name" type="NVarChar" size="500" />
          <SqlColumn name="@Description" type="NVarChar" size="2000" />
          <SqlColumn name="@RuleSyntax" type="NVarChar" size="-1" />
          <SqlColumn name="@RuleContext" type="Xml" />
          <SqlColumn name="@DisplayType" type="Int" />
          <SqlColumn name="@DisplayList" type="NVarChar" size="-1" />
          <SqlColumn name="@AttributeName" type="NVarChar" size="150" />
          <SqlColumn name="@FK_Locale" type="Int" />
          <SqlColumn name="@Seq" type="Int" />
          <SqlColumn name="@Enable" type="Bit" />
          <SqlColumn name="@IsSystem" type="Bit" />
          <SqlColumn name="@IsBusinessCondition" type="Bit" />
          <SqlColumn name="@FK_RuleParent" type="Int" />
          <SqlColumn name="@IsDraft" type="Bit" />
          <SqlColumn name="@FK_Rule_Ref" type="Int" />
          <SqlColumn name="@Action" type="NVarChar" size="25" />
        </SqlMetadata>
      </SqlParameter>
      <SqlParameter name="@LoginUser" type="NVarChar" size="100" direction="in" />
      <SqlParameter name="@ProgramName" type="NVarChar" size="300" direction="in" />
    </SqlParameters>
  </SqlParameterItem>

  <SqlParameterItem id="BusinessRuleManagement_MDMRuleMap_Get_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@RuleMappingcontext" type="Structured" direction="in" >
        <SqlMetadata>
          <SqlColumn name="@ItemValue" type="Int" />
        </SqlMetadata>
      </SqlParameter>
      <SqlParameter name="@IsBusinessCondition" type="Bit" direction="in" />
    </SqlParameters>
  </SqlParameterItem>

  <SqlParameterItem id="BusinessRuleManagement_MDMRuleMap_Process_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@RuleMapContextTable" type="Structured" direction="in" >
        <SqlMetadata>
          <SqlColumn name="@ReferenceId" type="BigInt" />
          <SqlColumn name="@FK_RuleMapContext" type="Int" />
          <SqlColumn name="@Name" type="NVarChar" size="300" />
          <SqlColumn name="@EventType" type="Int" />
          <SqlColumn name="@FK_Event" type="Int" />
          <SqlColumn name="@FK_ApplicationContext" type="Int" />
          <SqlColumn name="@RuleDefinition" type="Xml"  size="-1"  />
          <SqlColumn name="@StepName" type="NVarChar" size="600" />
          <SqlColumn name="@WorkflowName" type="NVarChar" size="300" />
          <SqlColumn name="@Action" type="NVarChar" size="1500" />
          <SqlColumn name="@Enable" type="Bit" />
          <SqlColumn name="@UserAction" type="NVarChar" size="25" />
        </SqlMetadata>
      </SqlParameter>
      <SqlParameter name="@RuleMapContextRuleTable" type="Structured" direction="in" >
        <SqlMetadata>
          <SqlColumn name="@ReferenceId" type="BigInt" />
           <SqlColumn name="@FK_RuleMapContext" type="Int" />
          <SqlColumn name="@FK_Rule" type="Int" />
          <SqlColumn name="@Seq" type="Int" />
          <SqlColumn name="@IsAsyncRule" type="Bit" />
          <SqlColumn name="@Enable" type="Bit" />
          <SqlColumn name="@IgnoreChangeContext" type="Bit" />
        </SqlMetadata>
      </SqlParameter>
      <SqlParameter name="@LoginUser"  type="NVarChar" size="100" direction="in" />
      <SqlParameter name="@ProgramName"  type="NVarChar" size="300" direction="in" />
      <SqlParameter name="@ReturnResult"  type="Bit" direction="in" />
    </SqlParameters>
  </SqlParameterItem>

  <SqlParameterItem id="BusinessRuleManagement_BusinessRule_Get_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@RuleId" type="Int" direction="in" />
    </SqlParameters>
  </SqlParameterItem>

  <SqlParameterItem id="BusinessRuleManagement_LocaleMessage_Get_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@FK_Locale" type="Int" direction="in" />
      <SqlParameter name="@MessageCodeList" type="Structured" direction="in">
        <SqlMetadata>
          <SqlColumn name="@ItemValue" type="NVarChar" size="-1" />
        </SqlMetadata>
      </SqlParameter>
    </SqlParameters>
  </SqlParameterItem>

  <SqlParameterItem id="BusinessRuleManagement_LocaleMessage_Process_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@LocaleMessageTable" type="Structured" direction="in" >
        <SqlMetadata>
          <SqlColumn name="@Id" type="Int" />
          <SqlColumn name ="@PK_DDG_LocaleMessage" type ="Int"/>
          <SqlColumn name="@FK_Locale" type="Int" />
          <SqlColumn name="@MessageClass" type="Int" />
          <SqlColumn name="@MessageCode" type="NVarChar" size="10" />
          <SqlColumn name="@Message" type="NVarChar" size="-1" />
          <SqlColumn name="@Description" type="NVarChar" size="-1" />
          <SqlColumn name="@HelpLink" type="NVarChar" size="-1" />
          <SqlColumn name="@WhereUsed" type="NVarChar" size="-1" />
          <SqlColumn name="@MessageType" type="Int" />
          <SqlColumn name="@Action" type="NVarChar" size="-1" />
        </SqlMetadata>
      </SqlParameter>
      <SqlParameter name="@LoginUser"  type="NVarChar" size="100" direction="in" />
      <SqlParameter name="@ProgramName"  type="NVarChar" size="300" direction="in" />
    </SqlParameters>
  </SqlParameterItem>

  <SqlParameterItem id="BusinessRuleManagement_BusinessRuleKeyword_Get_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@GroupId" type="Int" direction="in" />
    </SqlParameters>
  </SqlParameterItem>

</SqlParameterItems>
