<?xml version="1.0" encoding="utf-8" ?>
<!--
/************************************************************************************
// Description			: Add your parameter arrays here.
Make sure you have verified that an array collection of the same does not exist.
The id naming convention is the same used for Stored procedures with the addition of
ParametersArray at the end and the removal of usp_. The size is a required field for
VarChar and Char etc. Since Xml is case sensitive make sure you have spelled the type correctly.
If in doubt refer the SqlDBType for the naming convention.
************************************************************************************/

Sample usage:

  <SqlParameterItem id="CustomerManager_Customer_Create_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@Id" type="Int" direction="in" />
      <SqlParameter name="@FirstName" type="NVarChar" size="50" direction="in" />
      <SqlParameter name="@LastName" type="NVarChar" size="50" direction="in" />
      <SqlParameter name="@Email" type="NVarChar" size="100" direction="in" />
    </SqlParameters>
  </SqlParameterItem>

-->

<SqlParameterItems>

  <SqlParameterItem id="DataQualityManager_KPIValue_Process_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@KPIValueEntityDataTable" type="Structured" direction="in">
        <SqlMetadata>
          <SqlColumn name="@FK_CNode" type="BigInt" />
          <SqlColumn name="@OverallScore" type="TinyInt" />
          <SqlColumn name="@MeasurementDateUTC" type="SmallDateTime" />
          <SqlColumn name="@KPIValuesExtInfo" type="Xml" />
        </SqlMetadata>
      </SqlParameter>
      <SqlParameter name="@KPIValueTable" type="Structured" direction="in">
        <SqlMetadata>
          <SqlColumn name="@FK_CNode" type="BigInt" />
          <SqlColumn name="@FK_KPI" type="SmallInt" />
          <SqlColumn name="@KPI_Value" type="Bit" />
        </SqlMetadata>
      </SqlParameter>
      <SqlParameter name="@RecalculateOverallScoreValues" type="Bit" direction="in" />
      <SqlParameter name="@UserId" type="Int" direction="in" />
      <SqlParameter name="@Application" type="NVarChar" size="-1" direction="in" />
      <SqlParameter name="@Module" type="NVarChar" size="-1" direction="in" />
      <SqlParameter name="@ReturnResult" type="Bit" direction="in" />
    </SqlParameters>
  </SqlParameterItem>

  <SqlParameterItem id="DataQualityManager_KPISummary_Process_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@KPISummaryItemDataTable" type="Structured" direction="in">
        <SqlMetadata>
          <SqlColumn name="@FK_Catalog" type="Int" />
          <SqlColumn name="@FK_Category" type="BigInt" />
          <SqlColumn name="@FK_NodeType" type="Int" />
          <SqlColumn name="@TotalEntitiesCount" type="BigInt" />
          <SqlColumn name="@NotValidatedEntitiesCount" type="BigInt" />
          <SqlColumn name="@MeasurementDateUTC" type="SmallDateTime" />
        </SqlMetadata>
      </SqlParameter>
      <SqlParameter name="@KPISummaryItemStatisticsTable" type="Structured" direction="in">
        <SqlMetadata>
          <SqlColumn name="@FK_Catalog" type="Int" />
          <SqlColumn name="@FK_Category" type="BigInt" />
          <SqlColumn name="@FK_NodeType" type="Int" />
          <SqlColumn name="@FK_DataQualityClass" type="SmallInt" />
          <SqlColumn name="@EntitiesCount" type="BigInt" />
        </SqlMetadata>
      </SqlParameter>
      <SqlParameter name="@UserId" type="Int" direction="in" />
      <SqlParameter name="@Application" type="NVarChar" size="-1" direction="in" />
      <SqlParameter name="@Module" type="NVarChar" size="-1" direction="in" />
      <SqlParameter name="@ReturnResult" type="Bit" direction="in" />
    </SqlParameters>
  </SqlParameterItem>

  <SqlParameterItem id="DataQualityManager_DataQualityReport_Dashboard_Get_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@SearchAttributeTable" type="Structured" direction="in">
        <SqlMetadata>
          <SqlColumn name="@FK_Attribute" type="Int"/>
          <SqlColumn name="@Value" type="NVarChar" size="-1" />
          <SqlColumn name="@OtherValue" type="NVarChar" size="-1" />
          <SqlColumn name="@Operator" type="NVarChar" size="20" />
        </SqlMetadata>
      </SqlParameter>
      <SqlParameter name="@FilterDateUTC" type="SmallDateTime" direction="in" />
      <SqlParameter name="@UserId" type="Int" direction="in" />
      <SqlParameter name="@Application" type="NVarChar" size="-1" direction="in" />
      <SqlParameter name="@Module" type="NVarChar" size="-1" direction="in" />
    </SqlParameters>
  </SqlParameterItem>

   <SqlParameterItem id="DataQualityManager_DataQualityReport_EntitySetDashboard_Get_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@EntityIds" type="Structured" direction="in" >
        <SqlMetadata>
          <SqlColumn name="@ItemValue" type="BigInt" />
        </SqlMetadata>
      </SqlParameter>
    </SqlParameters>
  </SqlParameterItem>
  
  <SqlParameterItem id="DataQualityManager_KPI_Get_ParametersArray">
    <SqlParameters>
    </SqlParameters>
  </SqlParameterItem>

  <SqlParameterItem id="DataQualityManager_DataQualityClass_Get_ParametersArray">
    <SqlParameters>
    </SqlParameters>
  </SqlParameterItem>

  <SqlParameterItem id="DataQualityManager_DataQualityReport_Trend_Get_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@SearchAttributeTable" type="Structured" direction="in">
        <SqlMetadata>
          <SqlColumn name="@FK_Attribute" type="Int"/>
          <SqlColumn name="@Value" type="NVarChar" size="-1" />
          <SqlColumn name="@OtherValue" type="NVarChar" size="-1" />
          <SqlColumn name="@Operator" type="NVarChar" size="20" />
        </SqlMetadata>
      </SqlParameter>
      <SqlParameter name="@FilterStartDateUTC" type="SmallDateTime" direction="in" />
      <SqlParameter name="@FilterEndDateUTC" type="SmallDateTime" direction="in" />
      <SqlParameter name="@IncludeBoundValues" type="Bit" direction="in" />
    </SqlParameters>
  </SqlParameterItem>

  <SqlParameterItem id="DataQualityManager_DataQualityReport_QualityReportData_Get_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@SearchAttributeTable" type="Structured" direction="in">
        <SqlMetadata>
          <SqlColumn name="@FK_Attribute" type="Int"/>
          <SqlColumn name="@Value" type="NVarChar" size="-1" />
          <SqlColumn name="@OtherValue" type="NVarChar" size="-1" />
          <SqlColumn name="@Operator" type="NVarChar" size="20" />
        </SqlMetadata>
      </SqlParameter>
      <SqlParameter name="@FilterDateUTC" type="SmallDateTime" direction="in" />
      <SqlParameter name="@LocaleId" type="Int" direction="in" />
      <SqlParameter name="@CountFrom" type="BigInt" direction="in" />
      <SqlParameter name="@CountTo" type="BigInt" direction="in" />
      <SqlParameter name="@SortColumns" type="Structured" direction="in">
        <SqlMetadata>
          <SqlColumn name="@ItemValue" type="NVarChar" size="-1" direction="in" />
        </SqlMetadata>
      </SqlParameter>
      <SqlParameter name="@SortOrder" type="Bit" direction="in" />
      <SqlParameter name="@ReturnAttrIDs" type="Structured" direction="in" >
        <SqlMetadata>
          <SqlColumn name="@ItemValue" type="Int" />
        </SqlMetadata>
      </SqlParameter>
      <SqlParameter name="@AttributeDataSource" type="NVarChar" size="20" direction="in" />
      <SqlParameter name="@SecurityAttributeRules" type="Structured" direction="in">
        <SqlMetadata>
          <SqlColumn name="@FK_Attribute" type="Int"/>
          <SqlColumn name="@Value" type="NVarChar" size="-1" />
          <SqlColumn name="@OtherValue" type="NVarChar" size="-1" />
          <SqlColumn name="@Operator" type="NVarChar" size="20" />
        </SqlMetadata>
      </SqlParameter>
    </SqlParameters>
  </SqlParameterItem>

  <SqlParameterItem id="DataQualityManager_DataQualityReport_EntityKPIStatusData_Get_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@EntityIds" type="Structured" direction="in" >
        <SqlMetadata>
          <SqlColumn name="@ItemValue" type="BigInt" />
        </SqlMetadata>
      </SqlParameter>
      <SqlParameter name="@LocaleId" type="Int" direction="in" />
      <SqlParameter name="@CountFrom" type="BigInt" direction="in" />
      <SqlParameter name="@CountTo" type="BigInt" direction="in" />
      <SqlParameter name="@SortColumns" type="Structured" direction="in">
        <SqlMetadata>
          <SqlColumn name="@ItemValue" type="NVarChar" size="-1" direction="in" />
        </SqlMetadata>
      </SqlParameter>
      <SqlParameter name="@SortOrder" type="Bit" direction="in" />
      <SqlParameter name="@AttributeIds" type="Structured" direction="in" >
        <SqlMetadata>
          <SqlColumn name="@ItemValue" type="Int" />
        </SqlMetadata>
      </SqlParameter>
      <SqlParameter name="@AttributeDataSource" type="NVarChar" size="20" direction="in" />
      <SqlParameter name="@DataQualityClassId" type="SmallInt" direction="in" />
    </SqlParameters>
  </SqlParameterItem>
  
  <SqlParameterItem id="DataQualityManager_DataQualityReport_QualityReportEntityIds_Get_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@SearchAttributeTable" type="Structured" direction="in">
        <SqlMetadata>
          <SqlColumn name="@FK_Attribute" type="Int"/>
          <SqlColumn name="@Value" type="NVarChar" size="-1" />
          <SqlColumn name="@OtherValue" type="NVarChar" size="-1" />
          <SqlColumn name="@Operator" type="NVarChar" size="20" />
        </SqlMetadata>
      </SqlParameter>
      <SqlParameter name="@FilterDateUTC" type="SmallDateTime" direction="in" />
      <SqlParameter name="@LocaleId" type="Int" direction="in" />
      <SqlParameter name="@CountFrom" type="BigInt" direction="in" />
      <SqlParameter name="@CountTo" type="BigInt" direction="in" />
      <SqlParameter name="@SortOrder" type="Bit" direction="in" />
      <SqlParameter name="@AttributeDataSource" type="NVarChar" size="20" direction="in" />
    </SqlParameters>
  </SqlParameterItem>

  <SqlParameterItem id="DataQualityManager_FilterCriteriaSettings_Process_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@SettingsTable" type="Structured" direction="in">
        <SqlMetadata>
          <SqlColumn name="@PK_FilterCriteriaSettings" type="Int" />
          <SqlColumn name="@ShortName" type="NVarChar" size="-1" direction="in" />
          <SqlColumn name="@LongName" type="NVarChar" size="-1" direction="in" />
          <SqlColumn name="@UserId" type="Int" />
          <SqlColumn name="@Settings" type="Xml" direction="in" />
          <SqlColumn name="@Action" type="NVarChar" size="50" direction="in" />
        </SqlMetadata>
      </SqlParameter>
      <SqlParameter name="@UserLogin" type="NVarChar" size="150" direction="in" />
      <SqlParameter name="@Application" type="NVarChar" size="-1" direction="in" />
      <SqlParameter name="@ReturnResult" type="Bit" direction="in" />
    </SqlParameters>
  </SqlParameterItem>
    
  <SqlParameterItem id="DataQualityManager_FilterCriteriaSettings_Get_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@UserLogin" type="NVarChar" size="150" direction="in" />
      <SqlParameter name="@ShowOtherUsersItemsIfAdmin" type="Bit" direction="in" />
    </SqlParameters>
  </SqlParameterItem>

  <SqlParameterItem id="DataQualityManager_SummarizationQueue_MarkAsProcessed_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@PK_DQM_SummarizationQueue" type="BigInt" direction="in" />
      <SqlParameter name="@UserId" type="Int" direction="in" />
      <SqlParameter name="@Application" type="NVarChar" size="-1" direction="in" />
      <SqlParameter name="@Module" type="NVarChar" size="-1" direction="in" />
    </SqlParameters>
  </SqlParameterItem>

  <SqlParameterItem id="DataQualityManager_SummarizationQueue_LockForProcessing_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@DQMJobTypeId" type="TinyInt" direction="in" />
      <SqlParameter name="@DQMJobQueueId" type="BigInt" direction="in" />
      <SqlParameter name="@BatchSize" type="Int" direction="in" />
    </SqlParameters>
  </SqlParameterItem>

  <SqlParameterItem id="DataQualityManager_DeltaEntity_Process_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@KPIValueEntityDataTable" type="Structured" direction="in">
        <SqlMetadata>
          <SqlColumn name="@FK_CNode" type="BigInt" />
          <SqlColumn name="@OverallScore" type="TinyInt" />
          <SqlColumn name="@MeasurementDateUTC" type="SmallDateTime" />
          <SqlColumn name="@KPIValuesExtInfo" type="Xml" />
        </SqlMetadata>
      </SqlParameter>
      <SqlParameter name="@KPIValueTable" type="Structured" direction="in">
        <SqlMetadata>
          <SqlColumn name="@FK_CNode" type="BigInt" />
          <SqlColumn name="@FK_KPI" type="SmallInt" />
          <SqlColumn name="@KPI_Value" type="Bit" />
        </SqlMetadata>
      </SqlParameter>
      <SqlParameter name="@RecalculateOverallScoreValues" type="Bit" direction="in" />
      <SqlParameter name="@UserId" type="Int" direction="in" />
      <SqlParameter name="@Application" type="NVarChar" size="-1" direction="in" />
      <SqlParameter name="@Module" type="NVarChar" size="-1" direction="in" />
      <SqlParameter name="@ReturnResult" type="Bit" direction="in" />
    </SqlParameters>
  </SqlParameterItem>

  <SqlParameterItem id="DataQualityManager_KPI_Process_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@KPITable" type="Structured" direction="in">
        <SqlMetadata>
          <SqlColumn name="@PK_KPI" type="SmallInt" />
          <SqlColumn name="@ShortName" type="NVarChar" size="150" />
          <SqlColumn name="@LongName" type="NVarChar" size="300" />
          <SqlColumn name="@KPIValuesTableColumnName" type="NVarChar" size="10" />
          <SqlColumn name="@StateViewAttributeId" type="Int" />
          <SqlColumn name="@Weight" type="TinyInt" />
          <SqlColumn name="@AdditionalSettings" type="Xml" />
          <SqlColumn name="@IsCritical" type="Bit" />
          <SqlColumn name="@Description" type="NVarChar" size="-1" />
          <SqlColumn name="@Action" type="NVarChar" size="10" />
        </SqlMetadata>
      </SqlParameter>
      <SqlParameter name="@UserLogin" type="NVarChar" size="150" direction="in" />
      <SqlParameter name="@ProgramName" type="NVarChar" size="300" direction="in" />
    </SqlParameters>
  </SqlParameterItem>

  <!-- DQM Queues -->

  <SqlParameterItem id="DataQualityManager_JobQueue_Cancel_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@JobIds" type="Structured" direction="in" >
        <SqlMetadata>
          <SqlColumn name="@ItemValue" type="BigInt" />
        </SqlMetadata>
      </SqlParameter>
      <SqlParameter name="@UserLogin" type="NVarChar" size="150" direction="in" />
      <SqlParameter name="@ProgramName" type="NVarChar" size="300" direction="in" />
    </SqlParameters>
  </SqlParameterItem>

  <SqlParameterItem id="DataQualityManager_JobQueue_Enqueue_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@JobType" type="TinyInt" direction="in" />
      <SqlParameter name="@ProfileId" type="Int" direction="in" />
      <SqlParameter name="@EntityIds" type="Structured" direction="in" >
        <SqlMetadata>
          <SqlColumn name="@ItemValue" type="BigInt" />
        </SqlMetadata>
      </SqlParameter>
      <SqlParameter name="@ContextAdditionalSettings" type="Xml" direction="in" />
      <SqlParameter name="@UserLogin" type="NVarChar" size="150" direction="in" />
      <SqlParameter name="@ProgramName" type="NVarChar" size="300" direction="in" />
    </SqlParameters>
  </SqlParameterItem>

  <SqlParameterItem id="DataQualityManager_JobQueue_DirectJob_Process_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@JobId" type="BigInt" direction="in" />
      <SqlParameter name="@JobType" type="TinyInt" direction="in" />
      <SqlParameter name="@ProfileId" type="Int" direction="in" />
      <SqlParameter name="@EntityIds" type="Structured" direction="in" >
        <SqlMetadata>
          <SqlColumn name="@ItemValue" type="BigInt" />
        </SqlMetadata>
      </SqlParameter>
      <SqlParameter name="@UserLogin" type="NVarChar" size="150" direction="in" />
      <SqlParameter name="@ProgramName" type="NVarChar" size="300" direction="in" />
    </SqlParameters>
  </SqlParameterItem>

  <SqlParameterItem id="DataQualityManager_JobQueue_LockForInitialization_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@JobQueueIdFilter" type="BigInt" direction="in" />
      <SqlParameter name="@JobTypeFilter" type="TinyInt" direction="in" />
      <SqlParameter name="@BatchSize" type="Int" direction="in" />
    </SqlParameters>
  </SqlParameterItem>

  <SqlParameterItem id="DataQualityManager_JobQueue_InitializationComplete_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@JobIds" type="Structured" direction="in" >
        <SqlMetadata>
          <SqlColumn name="@ItemValue" type="BigInt" />
        </SqlMetadata>
      </SqlParameter>
      <SqlParameter name="@UserLogin" type="NVarChar" size="150" direction="in" />
      <SqlParameter name="@ProgramName" type="NVarChar" size="300" direction="in" />
    </SqlParameters>
  </SqlParameterItem>

  <SqlParameterItem id="DataQualityManager_JobQueue_LockForFinalization_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@BatchSize" type="Int" direction="in" />
    </SqlParameters>
  </SqlParameterItem>

  <SqlParameterItem id="DataQualityManager_JobQueue_FinalizationComplete_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@JobIds" type="Structured" direction="in" >
        <SqlMetadata>
          <SqlColumn name="@ItemValue" type="BigInt" />
        </SqlMetadata>
      </SqlParameter>
    </SqlParameters>
  </SqlParameterItem>

  <SqlParameterItem id="DataQualityManager_EntityTasksQueue_LockForProcessing_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@JobQueueIdFilter" type="BigInt" direction="in" />
      <SqlParameter name="@JobTypeFilter" type="TinyInt" direction="in" />
      <SqlParameter name="@BatchSize" type="Int" direction="in" />
    </SqlParameters>
  </SqlParameterItem>

  <SqlParameterItem id="DataQualityManager_EntityTasksQueue_MarkAsProcessed_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@TaskIds" type="Structured" direction="in" >
        <SqlMetadata>
          <SqlColumn name="@ItemValue" type="BigInt" />
        </SqlMetadata>
      </SqlParameter>
    </SqlParameters>
  </SqlParameterItem>

  <SqlParameterItem id="DataQualityManager_JobQueue_AllItemStatus_Get_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@UserLogin" type="NVarChar" size="100" direction="in" />
      <SqlParameter name="@ShowSystemJobs" type="Bit" direction="in" />
    </SqlParameters>
  </SqlParameterItem>

  <SqlParameterItem id="DataQualityManager_JobQueue_ItemStatus_Get_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@JobQueueItemId" type="BigInt" direction="in" />
    </SqlParameters>
  </SqlParameterItem>

  <SqlParameterItem id="DataQualityManager_JobQueue_Jobs_Get_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@SearchAttributeTable" type="Structured" direction="in">
        <SqlMetadata>
          <SqlColumn name="@FK_Attribute" type="Int"/>
          <SqlColumn name="@Value" type="NVarChar" size="-1" />
          <SqlColumn name="@OtherValue" type="NVarChar" size="-1" />
          <SqlColumn name="@Operator" type="NVarChar" size="20" />
        </SqlMetadata>
      </SqlParameter>
      <SqlParameter name="@CountFrom" type="BigInt" direction="in" />
      <SqlParameter name="@CountTo" type="BigInt" direction="in" />
    </SqlParameters>
  </SqlParameterItem>

  <SqlParameterItem id="DataQualityManager_ProcessorErrorLog_Process_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@DQMProcessorErrorLogTable" type="Structured" direction="in">
        <SqlMetadata>
          <SqlColumn name="@PK_DQM_Processor_ErrorLog" type="BigInt" />
          <SqlColumn name="@FK_DQM_JobQueue" type="BigInt" />
          <SqlColumn name="@FK_DQM_JobType" type="TinyInt" />
          <SqlColumn name="@FK_CNode" type="BigInt" />
          <SqlColumn name="@FK_Catalog" type="Int" />
          <SqlColumn name="@ErrorMessage" type="NVarChar" size="-1" />
          <SqlColumn name="@ProcessorName" type="NVarChar" size="50" />
          <SqlColumn name="@ModDateTimeUTC" type="DateTime" />
          <SqlColumn name="@ModUser" type="NVarChar" size="300" />
          <SqlColumn name="@ModProgram" type="NVarChar" size="300" />
          <SqlColumn name="@Action" type="NVarChar" size="10" />
        </SqlMetadata>
      </SqlParameter>
    </SqlParameters>
  </SqlParameterItem>
  
  <SqlParameterItem id="DataQualityManager_ProcessorErrorLog_Get_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@EntityTable" type="Structured" direction="in">
        <SqlMetadata>
          <SqlColumn name="@EntityId" type="BigInt" />
        </SqlMetadata>
      </SqlParameter>
      <SqlParameter name="@DQMJobType" type="Int" direction="in" />
      <SqlParameter name="@DQM_JobQueue" type="BigInt" direction="in" />
      <SqlParameter name="@RecordFrom" type="BigInt" direction="in" />
      <SqlParameter name="@RecordTo" type="BigInt" direction="in" />
    </SqlParameters>
  </SqlParameterItem>

  <!-- DQM Normalization -->

  <SqlParameterItem id="DataQualityManager_NormalizationRule_Process_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@DQMNormalizationRuleTable" type="Structured" direction="in">
        <SqlMetadata>
          <SqlColumn name="@PK_NormalizationRule" type="Int" />
          <SqlColumn name="@ShortName" type="NVarChar" size="150" />
          <SqlColumn name="@LongName" type="NVarChar" size="300" />
          <SqlColumn name="@Description" type="NVarChar" size="-1" />
          <SqlColumn name="@RuleData" type="Xml" />
          <SqlColumn name="@Action" type="NVarChar" size="10" />
        </SqlMetadata>
      </SqlParameter>
      <SqlParameter name="@UserLogin" type="NVarChar" size="150" direction="in" />
      <SqlParameter name="@ProgramName" type="NVarChar" size="300" direction="in" />
      <SqlParameter name="@ReturnResult" type="Bit" direction="in" />
    </SqlParameters>
  </SqlParameterItem>

  <SqlParameterItem id="DataQualityManager_NormalizationRule_Get_ParametersArray">
    <SqlParameters>
    </SqlParameters>
  </SqlParameterItem>

  <SqlParameterItem id="DataQualityManager_NormalizationResult_Process_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@DQMNormalizationResultTable" type="Structured" direction="in">
        <SqlMetadata>
          <SqlColumn name="@PK_DQM_NormalizationResults" type="BigInt" />
          <SqlColumn name="@FK_DQM_JobQueue" type="BigInt" />
          <SqlColumn name="@FK_NormalizationRule" type="Int" />
          <SqlColumn name="@FK_CNode" type="BigInt" />
          <SqlColumn name="@FK_Attribute" type="Int" />
          <SqlColumn name="@FK_Locale" type="Int" />
          <SqlColumn name="@OldAttrValue" type="NVarChar" size="-1" />
          <SqlColumn name="@NewAttrValue" type="NVarChar" size="-1" />
          <SqlColumn name="@IsNormalizationSuccessful" type="Bit" />
          <SqlColumn name="@LastModDateTimeUTC" type="DateTime" />
          <SqlColumn name="@ResultMessage" type="NVarChar" size="-1" />
          <SqlColumn name="@Action" type="NVarChar" size="10" />
        </SqlMetadata>
      </SqlParameter>
    </SqlParameters>
  </SqlParameterItem>
  
  <SqlParameterItem id="DataQualityManager_NormalizationResult_Get_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@SearchAttributeTable" type="Structured" direction="in">
        <SqlMetadata>
          <SqlColumn name="@FK_Attribute" type="Int"/>
          <SqlColumn name="@Value" type="NVarChar" size="-1" />
          <SqlColumn name="@OtherValue" type="NVarChar" size="-1" />
          <SqlColumn name="@Operator" type="NVarChar" size="20" />
        </SqlMetadata>
      </SqlParameter>
      <SqlParameter name="@LocaleId" type="Int" direction="in" />
      <SqlParameter name="@SortColumns" type="Structured" direction="in">
        <SqlMetadata>
          <SqlColumn name="@ItemValue" type="Int" />
        </SqlMetadata>
      </SqlParameter>
      <SqlParameter name="@SortOrder" type="Bit" direction="in" />
      <SqlParameter name="@CountFrom" type="BigInt" direction="in" />
      <SqlParameter name="@CountTo" type="BigInt" direction="in" />
      <SqlParameter name="@ReturnTotalItemsCount" type="Bit" direction="in" />
    </SqlParameters>
  </SqlParameterItem>

  <!-- DQM WordList -->

  <SqlParameterItem id="DataQualityManager_WordList_Get_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@WordListNameFilter" type="Structured" direction="in">
        <SqlMetadata>
          <SqlColumn name="@ItemValue" type="NVarChar" size="-1" />
        </SqlMetadata>
      </SqlParameter>
      <SqlParameter name="@WordListIdFilter" type="Structured" direction="in">
        <SqlMetadata>
          <SqlColumn name="@ItemValue" type="Int" />
        </SqlMetadata>
      </SqlParameter>
      <SqlParameter name="@WordListTypeFilter" type="Structured" direction="in">
        <SqlMetadata>
          <SqlColumn name="@ItemValue" type="Int" />
        </SqlMetadata>
      </SqlParameter>
      <SqlParameter name="@GetChildWordElements" type="Bit" direction="in" />
    </SqlParameters>
  </SqlParameterItem>
  
  <SqlParameterItem id="DataQualityManager_WordList_Process_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@WordListTable" type="Structured" direction="in">
        <SqlMetadata>
		      <SqlColumn name="@PK_Word_List" type="Int" />
		      <SqlColumn name="@ShortName" type="NVarChar" size="-1" />
		      <SqlColumn name="@LongName" type="NVarChar" size="-1" />
		      <SqlColumn name="@FK_Word_ListType" type="Int" />
		      <SqlColumn name="@FK_Word_BreakerSet" type="Int" />
		      <SqlColumn name="@CreateDateTime" type="DateTime" />
		      <SqlColumn name="@ModDateTime" type="DateTime" />
		      <SqlColumn name="@CreateUser" type="NVarChar" size="-1" />
		      <SqlColumn name="@ModUser" type="NVarChar" size="-1" />
		      <SqlColumn name="@CreateProgram" type="NVarChar" size="-1" />
		      <SqlColumn name="@ModProgram" type="NVarChar" size="-1" />
		      <SqlColumn name="@Action" type="NVarChar" size="50" />
        </SqlMetadata>
      </SqlParameter>
      <SqlParameter name="@UserLogin" type="NVarChar" size="150" direction="in" />
      <SqlParameter name="@ProgramName" type="NVarChar" size="300" direction="in" />
      <SqlParameter name="@ReturnResult" type="Bit" direction="in" />
    </SqlParameters>
  </SqlParameterItem>
  
  <!-- DQM WordElement -->
    
  <SqlParameterItem id="DataQualityManager_WordElement_Get_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@WordListIdFilter" type="Structured" direction="in">
        <SqlMetadata>
          <SqlColumn name="@ItemValue" type="Int" />
        </SqlMetadata>
      </SqlParameter>
      <SqlParameter name="@WordElementIdFilter" type="Structured" direction="in">
        <SqlMetadata>
          <SqlColumn name="@ItemValue" type="Int" />
        </SqlMetadata>
      </SqlParameter>
    </SqlParameters>
  </SqlParameterItem>
  
  <SqlParameterItem id="DataQualityManager_WordElement_Process_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@WordElementTable" type="Structured" direction="in">
        <SqlMetadata>
		      <SqlColumn name="@PK_Word_Element" type="Int" />
		      <SqlColumn name="@Word" type="NVarChar" size="-1" />
		      <SqlColumn name="@Substitute" type="NVarChar" size="-1" />
		      <SqlColumn name="@FK_Word_List" type="Int" />
		      <SqlColumn name="@Seq" type="Int" />
		      <SqlColumn name="@CreateDateTime" type="DateTime" />
		      <SqlColumn name="@ModDateTime" type="DateTime" />
		      <SqlColumn name="@CreateUser" type="NVarChar" size="-1" />
		      <SqlColumn name="@ModUser" type="NVarChar" size="-1" />
		      <SqlColumn name="@CreateProgram" type="NVarChar" size="-1" />
		      <SqlColumn name="@ModProgram" type="NVarChar" size="-1" />
		      <SqlColumn name="@encodedWord" type="NVarChar" size="-1" />
		      <SqlColumn name="@Action" type="NVarChar" size="50" />
        </SqlMetadata>
      </SqlParameter>
      <SqlParameter name="@UserLogin" type="NVarChar" size="150" direction="in" />
      <SqlParameter name="@ProgramName" type="NVarChar" size="300" direction="in" />
      <SqlParameter name="@ReturnResult" type="Bit" direction="in" />
    </SqlParameters>
  </SqlParameterItem>

  <!-- DQM Merging -->

  <SqlParameterItem id="DataQualityManager_MergeResult_Process_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@DQMMergeResultTable" type="Structured" direction="in">
        <SqlMetadata>
          <SqlColumn name="@PK_DQM_MergeResult" type="BigInt" />
          <SqlColumn name="@FK_MergeJob" type="BigInt" />
          <SqlColumn name="@FK_SourceEntity" type="BigInt" />
          <SqlColumn name="@FK_TargetEntity" type="BigInt" />
          <SqlColumn name="@MergeAction" type="Int" />
          <SqlColumn name="@MergeDateTimeUTC" type="DateTime" />
          <SqlColumn name="@MergeResultStatus" type="Int" />
          <SqlColumn name="@Action" type="NVarChar" size="10" />
        </SqlMetadata>
      </SqlParameter>
    </SqlParameters>
  </SqlParameterItem>

  <SqlParameterItem id="DataQualityManager_MergePlanItem_Process_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@DQMMergePlanItemTable" type="Structured" direction="in">
        <SqlMetadata>
          <SqlColumn name="@FK_DQM_MergePlanItem" type="BigInt" />
          <SqlColumn name="@FK_DQM_JobQueue_Matching" type="BigInt" />
          <SqlColumn name="@FK_DQM_JobQueue_MergePlanning" type="BigInt" />
          <SqlColumn name="@FK_SourceEntityId" type="BigInt" />
          <SqlColumn name="@FK_SuspectEntityId" type="BigInt" />
          <SqlColumn name="@FK_FinalTargetEntityId" type="BigInt" />
          <SqlColumn name="@ChosenSuspectScore" type="Float" />
          <SqlColumn name="@ChosenSuspectUser" type="NVarChar" size="300" />
          <SqlColumn name="@UserReviewStatus" type="TinyInt" />
          <SqlColumn name="@ReviewUser" type="NVarChar" size="300" />
          <SqlColumn name="@MergePlanActions" type="NVarChar" size="100" />
          <SqlColumn name="@MergeStatus" type="TinyInt" />
          <SqlColumn name="@StatusMessage" type="NVarChar" size="-1" />
          <SqlColumn name="@LastModDateTimeUTC" type="DateTime" />
          <SqlColumn name="@WorkflowName" type="NVarChar" size="300" />
          <SqlColumn name="@TargetContainerId" type="Int" />
          <SqlColumn name="@RelationshipTypeId" type="Int" />
          <SqlColumn name="@Action" type="NVarChar" size="10" />
        </SqlMetadata>
      </SqlParameter>
      <SqlParameter name="@ReturnResult" type="Bit" direction="in" />
    </SqlParameters>
  </SqlParameterItem>

  <SqlParameterItem id="DataQualityManager_MergePlanItem_Get_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@MatchingJobId" type="BigInt" direction="in" />
      <SqlParameter name="@MergePlanningJobId" type="BigInt" direction="in" />
      <SqlParameter name="@EntityIds" type="Structured" direction="in">
        <SqlMetadata>
          <SqlColumn name="@FK_CNode" type="BigInt" />
        </SqlMetadata>
      </SqlParameter>
      <SqlParameter name="@MergePlanItemIds" type="Structured" direction="in">
        <SqlMetadata>
          <SqlColumn name="ItemValue" type="BigInt" />
        </SqlMetadata>
      </SqlParameter>
    </SqlParameters>
  </SqlParameterItem>

  <!-- DQM Matching -->

  <SqlParameterItem id="DataQualityManager_MatchingResult_Get_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@ProfileId" type="BigInt" direction="in" />
      <SqlParameter name="@MatchJobId" type="BigInt" direction="in" />
      <SqlParameter name="@EntityIds" type="Structured" direction="in">
        <SqlMetadata>
          <SqlColumn name="@FK_CNode" type="BigInt" />
        </SqlMetadata>
      </SqlParameter>
    </SqlParameters>
  </SqlParameterItem>

  <SqlParameterItem id="DataQualityManager_MatchingResult_Process_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@DQMMatchingResultTable" type="Structured" direction="in">
        <SqlMetadata>          
          <SqlColumn name="@FK_DQM_MatchingResult" type="BigInt" />
          <SqlColumn name="@FK_CNode" type="BigInt" />
          <SqlColumn name="@FK_DQM_Profile" type="Int" />
          <SqlColumn name="@FK_DQM_JobQueue" type="BigInt" />
          <SqlColumn name="@ValueXML" type="VarBinary" size="2147483647"/>
          <SqlColumn name="@ResultXML" type="VarBinary" size="2147483647"/>
          <SqlColumn name="@Action" type="NVarChar" size="25" />
        </SqlMetadata>
      </SqlParameter>
      <SqlParameter name="@UserLogin" type="NVarChar" size="150" direction="in" />
      <SqlParameter name="@ProgramName" type="NVarChar" size="300" direction="in" />
      <SqlParameter name="@ReturnResult" type="Bit" direction="in" />
    </SqlParameters>
  </SqlParameterItem>

  <!-- DQM Rule -->

  <SqlParameterItem id="DataQualityManager_DQMRule_Get_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@RuleId" type="BigInt" direction="in" />      
    </SqlParameters>
  </SqlParameterItem>

  <SqlParameterItem id="DataQualityManager_DQMRule_Process_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@DQMRuleTable" type="Structured" direction="in">
        <SqlMetadata>
          <SqlColumn name="@FK_DQM_Rule" type="BigInt" />
          <SqlColumn name="@ShortName" type="NVarChar" size="150"/>
          <SqlColumn name="@LongName" type="NVarChar" size="300"/>
          <SqlColumn name="@Description" type="NVarChar" size="-1"/>
          <SqlColumn name="@RuleData" type="Xml" />
          <SqlColumn name="@FK_DQM_JobType" type="Int" />
          <SqlColumn name="@Weightage" type="Int" />
          <SqlColumn name="@Enabled" type="Bit" />
          <SqlColumn name="@Action" type="NVarChar" size="25" />
        </SqlMetadata>
      </SqlParameter>
      <SqlParameter name="@UserLogin" type="NVarChar" size="150" direction="in" />
      <SqlParameter name="@ProgramName" type="NVarChar" size="300" direction="in" />
      <SqlParameter name="@ReturnResult" type="Bit" direction="in" />
    </SqlParameters>
  </SqlParameterItem>

  <!-- DQM Config -->

  <SqlParameterItem id="DataQualityManager_DQMConfig_Get_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@ConfigId" type="BigInt" direction="in" />
    </SqlParameters>
  </SqlParameterItem>

  <SqlParameterItem id="DataQualityManager_DQMConfig_Process_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@DQMConfigTable" type="Structured" direction="in">
        <SqlMetadata>
          <SqlColumn name="@FK_DQM_Config" type="BigInt" />
          <SqlColumn name="@ShortName" type="NVarChar" size="150"/>
          <SqlColumn name="@LongName" type="NVarChar" size="300"/>
          <SqlColumn name="@RuleData" type="Xml" />
          <SqlColumn name="@FK_DQM_JobType" type="Int" />
          <SqlColumn name="@Weightage" type="Int" />
          <SqlColumn name="@Enabled" type="Bit" />
          <SqlColumn name="@Action" type="NVarChar" size="25" />
        </SqlMetadata>
      </SqlParameter>
      <SqlParameter name="@UserLogin" type="NVarChar" size="150" direction="in" />
      <SqlParameter name="@ProgramName" type="NVarChar" size="300" direction="in" />
      <SqlParameter name="@ReturnResult" type="Bit" direction="in" />
    </SqlParameters>
  </SqlParameterItem>

  <!-- Start - Store Config -->

  <SqlParameterItem id="DataQualityManager_MatchStore_Process_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@ShortName" type="NVarChar" size="150" direction="in" />
      <SqlParameter name="@LongName" type="NVarChar" size="300" direction="in" />
      <SqlParameter name="@storeConfig" type="Xml" direction="in" />
      <SqlParameter name="@Enabled" type="Bit" direction="in" />
      <SqlParameter name="@Action" type="NVarChar" size="10" direction="in" />
      <SqlParameter name="@UserName" type="NVarChar" size="150" direction="in" />
      <SqlParameter name="@ProgramName" type="NVarChar" size="300" direction="in" />
    </SqlParameters>
  </SqlParameterItem>

  <SqlParameterItem id="DataQualityManager_MatchStore_Get_ParametersArray">
    <SqlParameters>
    </SqlParameters>
  </SqlParameterItem>

  <SqlParameterItem id="DataQualityManager_MatchStoreStatistics_Get_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@StoreId" type="Int" direction="in" />
    </SqlParameters>
  </SqlParameterItem>

  <SqlParameterItem id="DataQualityManager_MatchStoreStatistics_Process_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@StoreId" type="Int" direction="in" />
      <SqlParameter name="@StoreStatistics" type="Xml" direction="in" />
      <SqlParameter name="@UserName" type="NVarChar" size="150" direction="in" />
      <SqlParameter name="@ProgramName" type="NVarChar" size="300" direction="in" />
    </SqlParameters>
  </SqlParameterItem>
  <!-- End - Store Config -->

  <!-- DQM Profile -->

  <SqlParameterItem id="DataQualityManager_DQMProfile_Process_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@DQMProfileTable" type="Structured" direction="in">
        <SqlMetadata>
          <SqlColumn name="@PK_DQM_Profile" type="Int" />
          <SqlColumn name="@ShortName" type="NVarChar" size="150" />
          <SqlColumn name="@LongName" type="NVarChar" size="300" />
          <SqlColumn name="@ProfileData" type="Xml" />
          <SqlColumn name="@FK_DQM_JobType" type="Int"  />
          <SqlColumn name="@Weightage" type="Int"  />
          <SqlColumn name="@Enabled" type="Bit"  />
          <SqlColumn name="@Action" type="NVarChar" size="10" />
        </SqlMetadata>
      </SqlParameter>
      <SqlParameter name="@UserLogin" type="NVarChar" size="150" direction="in" />
      <SqlParameter name="@ProgramName" type="NVarChar" size="300" direction="in" />
      <SqlParameter name="@ReturnResult" type="Bit" direction="in" />
    </SqlParameters>
  </SqlParameterItem>

  <SqlParameterItem id="DataQualityManager_DQMProfile_Get_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@ProfileId" type="Int" direction="in" />
      <SqlParameter name="@DQMJobTypeId" type="Int" direction="in" />
    </SqlParameters>
  </SqlParameterItem>

  <SqlParameterItem id="DataQualityManager_MatchingProfileGroup_Get_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@ProfileGroupId" type="Int" direction="in" />
      <SqlParameter name="@DQMJobTypeId" type="Int" direction="in" />
    </SqlParameters>
  </SqlParameterItem>

  <SqlParameterItem id="DataQualityManager_MatchingProfileGroup_Process_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@DQMProfileGroupTable" type="Structured" direction="in">
        <SqlMetadata>
          <SqlColumn name="@FK_DQM_ProfileGroup" type="Int" />
          <SqlColumn name="@ShortName" type="NVarChar" size="150" />
          <SqlColumn name="@LongName" type="NVarChar" size="300" />
          <SqlColumn name="@ProfileGroupData" type="Xml" />
          <SqlColumn name="@FK_DQM_JobType" type="Int"  />
          <SqlColumn name="@Weightage" type="Int"  />
          <SqlColumn name="@Enabled" type="Bit"  />
          <SqlColumn name="@Action" type="NVarChar" size="10" />
        </SqlMetadata>
      </SqlParameter>
      <SqlParameter name="@UserLogin" type="NVarChar" size="150" direction="in" />
      <SqlParameter name="@ProgramName" type="NVarChar" size="300" direction="in" />
      <SqlParameter name="@ReturnResult" type="Bit" direction="in" />
    </SqlParameters>
  </SqlParameterItem>

  <SqlParameterItem id="DataQualityManager_ProfileGroup_Profile_Process_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@DQMProfileGroup_ProfileTable" type="Structured" direction="in">
        <SqlMetadata>
          <SqlColumn name="@FK_DQM_ProfileGroup_Profile" type="Int" />
          <SqlColumn name="@FK_DQM_ProfileGroup" type="Int" />
          <SqlColumn name="@FK_DQM_Profile" type="Int" />
          <SqlColumn name="@FK_Application_Context" type="Int" />
          <SqlColumn name="@Enabled" type="Bit"  />
          <SqlColumn name="@DeleteFlag" type="Bit" />
          <SqlColumn name="@Action" type="NVarChar" size="10" />
        </SqlMetadata>
      </SqlParameter>
      <SqlParameter name="@UserLogin" type="NVarChar" size="150" direction="in" />
      <SqlParameter name="@ProgramName" type="NVarChar" size="300" direction="in" />
      <SqlParameter name="@ReturnResult" type="Bit" direction="in" />
    </SqlParameters>
  </SqlParameterItem>

  <SqlParameterItem id="DataQualityManager_ProfileGroup_Profile_Get_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@ProfileGroup" type="Int" direction="in" />
      <SqlParameter name="@Profile" type="Int" direction="in" />
    </SqlParameters>
  </SqlParameterItem>
  
    <SqlParameterItem id="DataQualityManager_Entity_Get_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@EntityContext" type="Xml" direction="in" />
      <SqlParameter name="@Debug" type="Bit" direction="in" />
    </SqlParameters>
  </SqlParameterItem>
  
  <SqlParameterItem id="DataQualityManager_MergeResult_Get_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@SearchAttributeTable" type="Structured" direction="in">
        <SqlMetadata>
          <SqlColumn name="@FK_Attribute" type="Int"/>
          <SqlColumn name="@Value" type="NVarChar" size="-1" />
          <SqlColumn name="@OtherValue" type="NVarChar" size="-1" />
          <SqlColumn name="@Operator" type="NVarChar" size="20" />
        </SqlMetadata>
      </SqlParameter>
      <SqlParameter name="@LocaleId" type="Int" direction="in" />
      <SqlParameter name="@SortColumns" type="Structured" direction="in">
        <SqlMetadata>
          <SqlColumn name="@ItemValue" type="Int" />
        </SqlMetadata>
      </SqlParameter>
      <SqlParameter name="@SortOrder" type="Bit" direction="in" />
      <SqlParameter name="@CountFrom" type="BigInt" direction="in" />
      <SqlParameter name="@CountTo" type="BigInt" direction="in" />
      <SqlParameter name="@ReturnTotalItemsCount" type="Bit" direction="in" />
    </SqlParameters>
  </SqlParameterItem>

  <!-- Survivorship Ruleset -->

  <SqlParameterItem id="DataQualityManager_SurvivorshipRuleset_Get_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@SurvivorshipRulesetNameFilter" type="Structured" direction="in">
        <SqlMetadata>
          <SqlColumn name="@ItemValue" type="NVarChar" size="-1" direction="in" />
        </SqlMetadata>
      </SqlParameter>
      <SqlParameter name="@SurvivorshipRulesetIdFilter" type="Structured" direction="in" >
        <SqlMetadata>
          <SqlColumn name="@ItemValue" type="Int" />
        </SqlMetadata>
      </SqlParameter>
    </SqlParameters>
  </SqlParameterItem>

  <SqlParameterItem id="DataQualityManager_SurvivorshipRuleset_Process_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@SurvivorshipRulesetTable" type="Structured" direction="in">
        <SqlMetadata>
          <SqlColumn name="@PK_SurvivorshipRuleset" type="Int" />
          <SqlColumn name="@ShortName" type="NVarChar" size="150" />
          <SqlColumn name="@LongName" type="NVarChar" size="300" />
          <SqlColumn name="@Description" type="NVarChar" size="300" />
          <SqlColumn name="@SurvivorshipData" type="Xml" />
          <SqlColumn name="@Seq" type="Int"  />
          <SqlColumn name="@FK_Org" type="Int" />
          <SqlColumn name="@FK_Catalog" type="Int" />
          <SqlColumn name="@FK_Category" type="BigInt" />
          <SqlColumn name="@CategoryPath" type="NVarChar" size="900" />
          <SqlColumn name="@FK_CNode" type="BigInt" />
          <SqlColumn name="@FK_Attribute" type="Int" />
          <SqlColumn name="@FK_NodeType" type="Int" />
          <SqlColumn name="@FK_RelationshipType" type="Int" />
          <SqlColumn name="@FK_Security_Role" type="Int" />
          <SqlColumn name="@FK_Security_User" type="Int" />
          <SqlColumn name="@FK_Locale" type="Int"  />
          <SqlColumn name="@Action" type="NVarChar" size="50" />
        </SqlMetadata>
      </SqlParameter>
      <SqlParameter name="@UserLogin" type="NVarChar" size="150" direction="in" />
      <SqlParameter name="@ProgramName" type="NVarChar" size="300" direction="in" />
      <SqlParameter name="@ReturnResult" type="Bit" direction="in" />
    </SqlParameters>
  </SqlParameterItem>

</SqlParameterItems>