<?xml version="1.0" encoding="utf-8" ?>

<!-- 
/************************************************************************************
// Description			: Add your parameter arrays here.
Make sure you have verified that an array collection of the same does not exist. 
The id naming convention is the same used for Stored procedures with the addition of 
ParametersArray at the end and the removal of usp_. The size is a required field for 
VarChar and Char etc. Since Xml is case sensitive make sure you have spelled the type correctly.
If in doubt refer the SqlDBType for the naming convention.
************************************************************************************/

Sample usage:

  <SqlParameterItem id="CustomerManager_Customer_Create_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@Id" type="Int" direction="in" />
      <SqlParameter name="@FirstName" type="NVarChar" size="50" direction="in" />
      <SqlParameter name="@LastName" type="NVarChar" size="50" direction="in" />
      <SqlParameter name="@Email" type="NVarChar" size="100" direction="in" />
    </SqlParameters>
  </SqlParameterItem>
  
-->
<SqlParameterItems>

  <SqlParameterItem id="DiagnosticManager_MDMCenter_SystemDashBoard_Get_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@Type" type="NVarChar" size="30" direction="in" />
      <SqlParameter name="@SubType" type="NVarChar" size="30" direction="in" />
      <SqlParameter name="@RecordCount" type="Int" direction="in" />
    </SqlParameters>
  </SqlParameterItem>
  
  <SqlParameterItem id="DiagnosticManager_MDMCenter_ApplicationDashBoard_Get_ParametersArray">
      <SqlParameters>
        <SqlParameter name="@Type" type="NVarChar" size="30" direction="in" />
        <SqlParameter name="@StartDateTime" type="DateTime" direction="in" />
        <SqlParameter name="@EntityId" type="BigInt" direction="in" />
        <SqlParameter name="@Count" type="Int" direction="in" />
      </SqlParameters>
   </SqlParameterItem>

  <SqlParameterItem id="DiagnosticManager_RelatedDiagnosticRecordData_Get_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@ReferenceId" type="BigInt" direction="in" />
      <SqlParameter name="@ReferenceType" type="Int" direction="in" />
    </SqlParameters>
  </SqlParameterItem>

  <SqlParameterItem id="InstrumentationManager_DiagnosticTool_Report_Get_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@Type" type="NVarChar" size="300" direction="in" />
      <SqlParameter name="@SubType" type="NVarChar" size="300" direction="in" />
      <SqlParameter name="@InputDataXML" type="Xml" direction="in" />
      <SqlParameter name="@UserName" type="NVarChar" size="30" direction="in" />
      <SqlParameter name="@ProgramName" type="NVarChar" size="30" direction="in" />
      <SqlParameter name="@Debug" type="Int" direction="in" />
    </SqlParameters>
  </SqlParameterItem>

  <SqlParameterItem id="InstrumentationManager_DiagnosticTool_Report_Template_Get_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@Type" type="NVarChar" size="300" direction="in" />
      <SqlParameter name="@SubType" type="NVarChar" size="300" direction="in" />
      <SqlParameter name="@Debug" type="Int" direction="in" />
    </SqlParameters>
  </SqlParameterItem>
  
</SqlParameterItems> 