<?xml version="1.0" encoding="utf-8" ?>
<!-- 
/************************************************************************************
// Description			: Add your parameter arrays here.
Make sure you have verified that an array collection of the same does not exist. 
The id naming convention is the same used for Stored procedures with the addition of 
ParametersArray at the end and the removal of usp_. The size is a required field for 
VarChar and Char etc. Since Xml is case sensitive make sure you have spelled the type correctly.
If in doubt refer the SqlDBType for the naming convention.
************************************************************************************/

Sample usage:

  <SqlParameterItem id="CustomerManager_Customer_Create_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@Id" type="Int" direction="in" />
      <SqlParameter name="@FirstName" type="NVarChar" size="50" direction="in" />
      <SqlParameter name="@LastName" type="NVarChar" size="50" direction="in" />
      <SqlParameter name="@Email" type="NVarChar" size="100" direction="in" />
    </SqlParameters>
  </SqlParameterItem>
  
-->
<SqlParameterItems>
  <!-- Start of Workflow -->
  <SqlParameterItem id="Workflow_Designer_Workflow_GetByContext_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@DataXML" type="Xml" direction="in" />
    </SqlParameters>
  </SqlParameterItem>

  <SqlParameterItem id="Workflow_Designer_Workflow_GetByName_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@WorkflowName" type="NVarChar" size="600" direction="in" />
    </SqlParameters>
  </SqlParameterItem>

  <SqlParameterItem id="Workflow_Designer_Workflow_Process_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@DataXML" type="Xml" direction="in" />
      <SqlParameter name="@LoginUserID" type="NVarChar" size="50" direction="in" />
      <SqlParameter name="@ProgramName" type="NVarChar" size="50" direction="in" />
    </SqlParameters>
  </SqlParameterItem>

  <SqlParameterItem id="Workflow_Designer_Workflow_Get_ParametersArray">
    <SqlParameters>
    </SqlParameters>
  </SqlParameterItem>

  <!-- End of Workflow -->

  <!-- Start of Workflow Version -->
  <SqlParameterItem id="Workflow_Designer_WorkflowVersion_GetById_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@FK_Workflow_Version" type="Int" direction="in" />
    </SqlParameters>
  </SqlParameterItem>
  <!-- End of AppConfig Manager -->

  <!-- Start of Workflow Activity -->
  <SqlParameterItem id="Workflow_Designer_WorkflowActivity_Get_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@WorkflowVersionId" type="Int" direction="in" />
    </SqlParameters>
  </SqlParameterItem>

  <SqlParameterItem id="Workflow_Designer_WorkflowActivity_Process_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@DataXML" type="Xml" direction="in" />
      <SqlParameter name="@LoginUserID" type="NVarChar" size="50" direction="in" />
      <SqlParameter name="@ProgramName" type="NVarChar" size="50" direction="in" />
    </SqlParameters>
  </SqlParameterItem>

  <SqlParameterItem id="Workflow_ActivityManager_Assignment_Process_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@AssignmentType" type="NVarChar" size="50" direction="in" />
      <SqlParameter name="@Instance_Id" type="NVarChar" size="500" direction="in" />
      <SqlParameter name="@ActivityName" type="NVarChar" size="100" direction="in" />
      <SqlParameter name="@AllowedUsers" type="NVarChar" size="-1" direction="in" />
      <SqlParameter name="@AllowedRoles" type="NVarChar" size="-1" direction="in" />
      <SqlParameter name="@AssignToPreviousActor" type="Bit" direction="in" />
    </SqlParameters>
  </SqlParameterItem>
  <!-- End of Workflow Activity -->

  <!-- Start of Workflow View -->
  <SqlParameterItem id="Workflow_Designer_WorkflowView_Get_ParametersArray">
    <SqlParameters>
      <SqlParameter name="@WorkflowVersionId" type="Int" direction="in" />
      <SqlParameter name="@InstanceGUID" type="NVarChar" size="-1" direction="in" />
    </SqlParameters>
  </SqlParameterItem>
  <!-- End of Workflow View -->
</SqlParameterItems>
